
@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");

.form-control{width:240px;}
.title{line-height: 50px;font-size:16px;font-weight: bold;margin-bottom:10px;}
.form-control{display: inline-block;}
.t-select{width:105px;}
.page-nav{line-height: 34px;}
.page-nav-a{display: inline-block;background: #f9f9f9;color:#000!important;padding:0 20px;text-align: center;width:100px;}
.page-nav-a:hover{background: #ddd}
.content{border:1px solid #ccc;border-bottom:0px;overflow: auto;padding-top:20px;min-height: 700px}
.subnav{margin:0 20px;}
.sub-content{margin:0px 20px 0;border:1px solid #ccc;border-bottom:0px;margin-bottom:30px;color:#555	;}
.subnav{line-height: 34px;}
.subnav-a{width:100px;display: inline-block;background:#f9f9f9;color:#000!important;padding:0 15px;text-align: center;border:none;border-bottom:none;}
.active{background: #18BFA8;color:#fff!important;}
.subnav-a:hover{background: #ddd}
.active:hover{background: #18BFA8;}
button{outline:none;border:1px solid #18BFA8;display: inline-block;line-height: 24px;width: auto;padding:3px 6px;border-radius: 5px;background: #fff;color:#18BFA8;}
/*.bg-green{background: #B7E2D6}*/
.p-header,.p-body,.p-footer{width:300px;padding: 3px 0;line-height: 30px;}
.p-time{padding:3px 0;line-height: 30px}
.p-footer{overflow: hidden}
.p-body{display: inline-block;margin-right: 10px}
.right{float: right;}
.p-btn{padding:1px 15px;}
.b-bottom{border-bottom:1px dotted #ccc;}
.wide{width:500px;}
.wide .pro-name{width:333px;}
.table td,.table th{border:1px solid #777!important;text-align: center;border-collapse:collapse;border-color:#ccc!important;}
.table td input{text-align: center;}
.table td input[readonly],.table td input[disable]{background: #fff;border:none;}
input[readonly],input[disable]{background: #fff!important;}
.pro-name[readonly]{border:none;box-shadow: none;padding-left: 0px;padding-right: 0px;font-weight: bold;}
[disabled]{background: #fff!important;}
/*input[readonly],input[disable]{border:none;background: #f9f9f9!important}*/
.p-input{display: inline-block;width:200px;height: 28px;line-height: normal;}
.pro-name{width: 300px;}
.table{margin-bottom:0;}
.ajax-loading-msg{position:fixed;top:30%;left:50%;margin-left:-150px;width:280px;line-height:20px;text-align:center;z-index:50;background:#fff; color:#777;padding:10px 5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.ajax-loading{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:9999;display: none}
.sub-content .panel-body{background: #fff}
.w115{width:115px;}
.ml20{margin-left:20px;}
.table th{height:40px;line-height: 40px}
.pt0{padding-top:0px;}
.bd{font-weight: bold;}
.left{float:left;}
.r-content{overflow: hidden;margin-left:30px;max-height: 120px;}
select.input-sm{background: #fff;width:85px;}
.row-title{width:60px;display: inline-block;}
.center{text-align: center}
button:hover{background: #f0f0f0}
.active:hover{background: #149684}
.p-body-row{margin-bottom:6px;}
.p-body-row:last-child{margin-bottom:0;}
.wide .pro-app-name{width:273px;}
.add-time,.del-time{cursor:pointer;background:#18BFA8;width:20px;display: inline-block;color:#fff;text-align:center;font-size:18px;vertical-align: middle;border-radius:10px;line-height: 20px}
.del-time{background: red;font-size: 30px;line-height: 15px;height:20px;}
.panel-body{position:relative;}
.shop-num{position: absolute;left:70%;top:70px;font-size:14px;}
.shop-num a{color:#06c;}
.peak-wrap .pro .p-time:nth-child(2n+1){margin-top:10px;}
.peak-wrap .pro .p-time:nth-child(3){margin-top:0px;}
.ml10{margin-left:44px;font-size: 14px;color:#428bca;font-weight: 300;}
.ml10:hover{color:#084F8C;}

