
@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");

.modal .title{line-height: 50px;font-size:20px;font-weight: bold;margin-bottom:20px;}
.modal.form-control{display: inline-block;}
.modal.t-select{width:auto;}
.modal.nav{line-height: 36px;}
.modal.nav-a{display: inline-block;background: #fff;color:#777!important;padding:0 20px;text-align: center;border:1px solid #ccc;}
.modal.content{border:1px solid #ccc;border-bottom:0px;overflow: auto;padding-top:30px;}
.modal.subnav{margin:0 20px;}
.modal.sub-content{margin:0px 20px 0;border:1px solid #ccc;border-bottom:0px;height: 700px;}
.modal.subnav{line-height: 24px;}
.modal.subnav-a{display: inline-block;background:#fff;color:#18BFA8!important;padding:0 15px;text-align: center;border:1px solid #18BFA8;border-bottom:none;}
.modal.active{background: #18BFA8;color:#fff!important;}
.modal .bg-green{background: #B7E2D6}
.modal .p-header,.modal .p-body,.modal .p-footer{width:300px;padding: 3px 0;line-height: 30px;}
.modal .p-footer{overflow: hidden}
.modal .p-body{display: inline-block;margin-right: 10px	}
.modal .right{float: right;}
.modal .p-btn{padding:1px 15px;}
.modal .b-bottom{border-bottom:1px dotted #ccc;}
.modal .wide{width:500px;}
.modal .table td,.modal  .table th{border:1px solid #777!important;text-align: center;border-collapse:collapse;}
.modal .table td input{text-align: center;}
.modal .table td input[readonly],.modal .table td input[disable]{border:none;background: #f9f9f9}
.modal input[readonly],.modal input[disable]{border:none;background: #f9f9f9!important}
.modal .p-input{display: inline-block;width:200px;height: 28px;line-height: normal;}
.modal .pro-name{width:150px;text-align: center;}
.modal .table{margin-bottom:0;}
.ajax-loading-msg{position:fixed;top:30%;left:50%;margin-left:-150px;width:280px;line-height:20px;text-align:center;z-index:50;background:#fff; color:#777;padding:10px 5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.ajax-loading{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:9999;display: none}

.modal .t-block{overflow: hidden;position: relative;}
.modal .l-block{padding:10px;float: left;padding-bottom:99999px;margin-bottom:-99989px;width: 540px;border:1px solid #ccc;}
.modal .l-block label{width:80px;}
.modal .l-block input[type="checkbox"]{margin:-2px 0 0 -20px;}
.modal .l-block:after{content:'';position: absolute;height:1px;width:100%;bottom:0px;background: #ccc;left: 0px;width:540px;}
.modal .r-block{padding:10px;float:right;width:410px;padding-bottom:99999px;margin-bottom:-99999px;border:1px solid #ccc;}
.modal .r-block:after{content:'';position: absolute;height:1px;width:100%;bottom:0px;background: #ccc;right: 0px;width:410px;}
.modal .b-title-left,.modal .b-title-right,.modal .b-title-bottom{padding:10px 0;font-weight: bold;font-size: 14px}
.modal .b-title-left{width:540px;float: left;text-align: center}
.modal .b-title-left button{color:#00abe4;}
.modal .b-title-left .btn-group{width:50%;margin-left:25%;}
.modal .b-title-left .btn-group.active .btn-default{background: #00abe4;color:#fff;}
.modal .b-title-right{width: 410px;float: right;line-height: 35px;}
.modal .b-title-wrap{overflow: hidden;}
.modal .modal-select{width:150px;display: inline-block;font-size: 12px}
.modal .modal-select:nth-child(even){margin-right:5px;}
.modal .center{text-align: center;}
.modal .r-block .table-title{line-height:30px;font-size: 16px;}
.modal .r-block .table{margin-bottom:20px;}
.modal .b-block{min-height:90px;line-height: 30px;border:1px solid #ccc;padding:0 10px;overflow: auto}
.modal input.mb20{margin-bottom:20px;display: inline-block;}
.modal input.mb5{margin-bottom:5px;display: inline-block;}
.modal .r-block .form-title{width:60px;display: inline-block;}
.modal .r-block .form-control{width:320px;}
.modal .b-block.shop{font-size:16px;}
.modal .b-block.city,.modal .b-block.area{height:90px;line-height: 30px;overflow: auto;background: #fff}
.modal .modal-content{background: #f9f9f9}
.modal .mt10{margin-top:10px;}
.modal .all-city,.modal .all-area{height:150px;}
.modal .all-area{height:210px;}
.modal .city-wrap,.modal .area-wrap{width:944px;margin:0 auto;overflow: hidden}
.modal .all-city span,.modal .all-area span{float:left;cursor: pointer;padding:0 4px;display: inline-block;height:24px;margin:3px;line-height: 24px;text-align: center;background: #fff;border:1px solid #777;border-radius: 3px;color:#777;}
.modal .all-city span.active,.modal .all-area span.active{border:1px solid #18BFA8;color:#18BFA8!important;}
.modal .area-title{background: #656060;color:#fff;padding:0 -10px;padding:0 10px;margin:0 -10px;}
.modal .area span,.modal .city span{margin-right:6px;}
.modal .pre{white-space: pre;display: inline-block;height:10px;}
.t-link{color:#428bca!important;}
.modal .radio{margin-top:10px!important;}
.modal .btn-group .btn{border:1px solid #00abe4;}
.modal .input-sm{height: 34px;display: inline-block;line-height: 24px;}
.modal .mb15{margin-bottom:15px;}
.grey{color:#aaa;}
.pre{white-space: pre}

