@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
@import url("../pstyle1.css");

.form-control[readonly] {  cursor: pointer;}
.word-break{
    word-wrap: break-word;
    white-space: initial;
    word-break: break-all;
}