@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");

.form-control {
    display: inline-block;
}
.ui-autocomplete{
    z-index: 2000;
}
.amap-layers img {
	max-width: none;
}
#showCityAreaModal > .modal-dialog {
	height:80%;
	width:90%;
}
#showCityAreaModal > .modal-dialog > .modal-content {
	height:100%;
	width:100%;
}
#showCityAreaModal > .modal-dialog > .modal-content > .modal-body {
	height:100%;
	width:100%;
}
#mapContainer {
	height:90%;
	width:100%;
}