.ui-autocomplete{
    z-index: 2000;
}
.alert{
	margin-bottom: 0px;margin-top: 10px;
}
.tab-content{
	background: #fff;
}
#thresholdSetting{ padding-top: 20px; }
.table > tbody > tr:nth-child(odd), .table > tbody > tr:nth-child(odd) input[type="text"]{
	background: #fff;
}
.table > tbody > tr:nth-child(odd) input[type="text"], .table > tbody > tr:nth-child(even) input[type="text"]{
	border: none;text-align: center;width: 66px;
}
.table > tbody > tr:nth-child(even), .table > tbody > tr:nth-child(even) input[type="text"]{
	background: #f5f5f5;border-color: #f5f5f5;
}
.table input[type="checkbox"]{
	position: relative; 
}
.table > thead > tr > th{ 
	border-bottom-width: 1px; 
    background: rgba(204,204,204,0.7);
    color: black;
}
.table tbody > tr > td, .table thead > tr > th{ text-align: center; }
.table tbody > tr:hover{
	cursor: pointer;
	background: #dff0d8;
}
.table tbody > tr:hover input[type="text"]{
	background: #dff0d8;
}
.focus{
	box-shadow: 0 0 8px rgba(82,168,236, 0.6);
}
#thresholdAlert .alert{
	margin-bottom: 10px;margin-top: 10px;
}
#thresholdSetting table a{ padding: 5px; }
#forIdModify{ }
.process-label label{ font-size: 14px; }
.process-label{
	font-size:14px;
	padding-left:16px;
	margin-top: 10px;
}
.panel.panel-default{
	border-color: #fff;
}
.mar-bottom-0{ margin-bottom: 0; }
.red-div{ color: red; }