.amap-layers img {
	max-width: none;
}

#mapContainer {
	width: 100%;
	height: 800px;
}


#explainTip {
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	/*border: 1px solid #969696;*/
	/*position: absolute;*/
	font-size: 12px;
	min-height: 26px;
	min-width: 250px;
	left: 400px;
	/*top: 100px;*/
	/*bottom: 200px;*/
	border-radius: 3px;
	line-height: 20px;
}

#areaLengthTip {
	left: 650px;
}
.color_tip {
	/*background-color:#FFB3FF;*/
	border:solid 2px;
	border-radius:3px;
	width:50px;
	height:20px;
	/*top:2px;*/
	display:inline-block;
	position:absolute;
}

.color_explain {
	position:absolute;
	top:3px;
	left:85px;
	font-size:14px;
}