.row_user_custom{
	margin-bottom: 10px;
}
.row_user_custom > .col-md-2,
.row_user_custom > .col-md-1,
.row_user_custom > .col-md-3,
{
	float: left;
	min-width: 250px;
	min-height: 30px;
}

.amap-layers img {
	max-width: none;
}

#main-container {
		background-color: #ebeef2;
		padding-top: 18px;
}

#mapContainer {
	width: 100%;
	height: 800px;
	border: 1px solid #d2d2d2;
}


#result1 {
	font-size: 12px;
	min-height: 26px;
	min-width: 200px;
	border-radius: 3px;
	line-height: 20px;
	position: absolute;
	z-index: 9999;
	background: #fff;
	top: 32px;
}

#control {
	/*background-color: #fff;*/
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*border: 1px solid #969696;*/
	position: absolute;
	font-size: 12px;
	min-height: 26px;
	min-width: 160px;
	left: 10px;
	bottom: 80px;
	border-radius: 3px;
	line-height: 20px;
}

.color_tip {
	/*display: inline-block;*/
	float: left;
	border:solid 2px;
	border-radius:3px;
	width:20px;
	height:20px;
}

#area-panel input[type=text], #area-panel button {
	height: 32px;
}

#explainTip{
	/*padding: 5px 0;*/
	/*float: left;*/
	/*line-height: 25px;*/
	font-size: 14px;
}
.color_explain{
	/*display: inline-block;*/
	float: left;
	line-height: 25px;
	vertical-align: super;
}
#alert_area_length{
	padding: 5px 10px;
	height: 30px;
	line-height: 30px;
}

#areaExplainTip{
	line-height: 45px;
}

#map_draw_tip {
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 99;
  background: white;
  opacity: 0.92;
	box-shadow: 0 0 5px 0 #999;
}

.radio-inline {
	line-height: 16px;
	font-size: 14px;
}
.checkbox-inline {
	line-height: 23px;
}

.checkbox-inline > input[type=checkbox]{
	-webkit-appearance: none;
	border: none;
}

.checkbox-inline > input[type=checkbox]:checked {
	background: url("/static/imgs/cuarea_checkbox_icon.png") no-repeat center;
	background-size: 90% 80%;
	border: none;
}

input[type="checkbox"]:focus {
	outline: none;
	border: none;
}

input[type=text]:focus {
	outline: none;
	border-color: #cccccc;
}

button:focus {
	outline: none !important;
}

.checkbox-inline.disabled, .radio-inline.disabled {
	opacity: 0.4;
}

.editFooter {
   position: fixed;
   bottom: 0;
   z-index: 800;
   right: 0;
   background-color: #efefef;
   padding: 15px 0 15px;
   width: 100%;
   text-align: center;
	 padding-left: 222px;
 }

 .container-mini .editFooter {
    padding-left: 90px;
}

 #resetZoomBtn {
	 background: url("/static/imgs/cuarea_icon.png") center;
	 height: 45px;
	 width: 45px;
	 margin-left: 5px;
   background-size: 100% 100%;
	 cursor: pointer;
 }

 .amap-toolbar {
   top: 80px !important;
 }

 .fetch-line, .dispatch-line {
	  width: 56px;
    display: inline-block;
    height: 0px;
    border-top: 3px solid #4788ee;
    vertical-align: middle;
		margin: 0 18px;
 }

 .dispatch-line {
	 border-top: 3px dashed #4788ee;
 }

 .fetch-mile, .dispatch-mile {
		color: #ff6564;
 }

 .overrange-tip {
	 	color: #ff6564;
		font-size: 12px;
		vertical-align: top;
	  display: inline-block;
	  line-height: 45px;
 }

 .header-tip {
	 padding: 8px 0 8px 18px;
	 margin: 0 0 18px 0;
	 border: 1px solid #99ddf3;
	 background-color: #e4f6fb;
	 color: #00abe3;
	 font-size: 14px;
 }

 .js_city_name {
	 border-top-left-radius: 4px !important;
   border-bottom-left-radius: 4px !important;
	 text-align: center;
 }

 #cityName {
	 width: 80px;
	 border-right: none;
 }

 #keyword {
	 width: 150px;
	 border-left: none;
	 border-right: none;
 }

 #searchPlace {
	 width: 70px;
	 background-color: #00abe3;
	 color: white;
	 border-color: #00abe3;
	 border-top-right-radius: 4px;
	 border-bottom-right-radius: 4px;
 }

 #B_init_edit_area {
	 background-color: #00abe3;
	 color: white;
	 border-color: #00abe3;
 }

 #B_refresh_edit_area {
	 color: #00abe3;
	 border-color: #00abe3;
	 margin-left: 13px;
 }

 #cityName, #keyword {
	 box-shadow: none;
 }

.split-input {
	width: 1px;
  padding: 0;
  border-right: none;
  background: white;
  border-left: none;
  line-height: 5px;
  color: #eaeaea;
}

#B_add {
	background-color: #00abe3;
	color: white;
	border-color: #00abe3;
	width: 140px;
}

.modal .form-group {
	font-size: 14px;
	padding: 30px 0;
	text-align: center;
}

.modal-footer {
	text-align: center;
}

.ui-autocomplete.ui-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.ui-autocomplete.ui-menu li a:hover {
    background: #f3f3f3;
    color: black;
}
.ui-autocomplete.ui-menu li a:hover, .dropdown-menu li a:focus {
    background: #3c8dbc;
    color: #fff;
}
.ui-autocomplete.ui-menu > li > a:hover, .ui-autocomplete.ui-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.ui-autocomplete.ui-menu li a.ui-state-focus {
    font-weight: normal;
    margin: 0 !important;
		border: none !important;
		background: #f5f5f5;
		color: black;
}
