#city-search {
	padding: 15px 15px 15px 15px;
}

.panel {
	padding-left: 15px;
	padding-right: 15px;
}

#city-search-btn {
	height: 67px;
	padding-top: 17px;
}

#city-search-btn .col-md-2 {
	padding-left: 0;
}