html,body,div,span,table,tr,td,th,li,ul,em,p,img,a{font-size:1.0rem; margin:0; padding:0;}
html, body{ width:100%; height:100%;}
.zj{background: #f7df42;}
.zb{background: #f0f0f0;}
.jm{background: #f0f0f0;}
.w100{ width: 100%;}
.tc{ text-align:center;}
.disabled{ cursor: pointer; }

.wxbody{background: #999999; width:100%; height:100%; position: absolute;}
.container_zb, .container_zj, .container_jm, .container_zb_s, .container_zj_s, .container_jm_s {width:100%; height:100%;}
.container_zb { background: url("../../../imgs/download/bg_zb.png") no-repeat; background-size: 100%; }
.container_zb_s { background: url("../../../imgs/download/bg_zb_s.png") no-repeat; background-size: 100%; }
.container_zj { background: url("../../../imgs/download/bg_zj.png") no-repeat; background-size: 100%;}
.container_zj_s { background: url("../../../imgs/download/bg_4s.png") no-repeat; background-size: 100%;}
.container_jm { background: url("../../../imgs/download/bg_jm.png") no-repeat; background-size: 100%;}
.container_jm_s { background: url("../../../imgs/download/bg_jm_s.png") no-repeat; background-size: 100%;}
.dldiv{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;/*脚部的高度*/
}
.dldiv_s{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 14%;/*脚部的高度*/
}
.dlbtn{ color:#603502; display:inline-block; width:90%; height:2.2rem; line-height:2.2rem; background:#ffffff; border-radius:0.3rem; text-decoration: none;}
.dlbtn:hover{ background: #eaeaea;}
.dlbtn_zb{ color:#f0f0f0; display:inline-block; width:90%; height:2.2rem; line-height:2.2rem; background:#06c1ae; border-radius:0.3rem; text-decoration: none;}
.dlbtn_zb:hover{ background: #059a8b;}
.dlbtn_jm{ color:#f0f0f0; display:inline-block; width:90%; height:2.2rem; line-height:2.2rem; background:#06c1ae; border-radius:0.3rem; text-decoration: none; }
.dlbtn_jm:hover{ background: #059a8b ;}

.explainimg{ width:90%; height:auto;}

.footer {height:5rem;}