.area-btn-search{
    margin-top: -3px;
}
.area-btn-search .btn-search {
    background: #4582BC;
    color: #fff;
    margin-right: 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.select2-selection__clear {
    display: none;
}
.main-header .fl{
    margin-right: 20px;
}
.main-header #app,
.main-header #city,
.main-header #date,
.main-header #system{
    min-width: 100px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.main-header select{
    height: 30px;
    line-height: 30px;
}
.main-header label{
    vertical-align: bottom;
}
.chart{
	clear: both;
    width: 100%;
}
