
#main-container
{
	padding:20px;
}

#wrapper{
	min-height: 0;
}
#breadcrumb-bar{
	display: none;
}
.search-field{
	margin-bottom: 20px;
	padding-left: 20px;
	margin-top: 20px;
}

.search-field input{
	width: 260px;
}

.map-container-wrap{
	float: left;
	width: 50%;
	height:680px;
	padding:20px;
	border:1px solid #ccc;
	border-left:none;
}

.map-container{
	border : solid 1px #ccc;height:600px;
}

.infos{
    width: 30%;
    min-height: 400px;
    float: left;
    top: 0;
    right: 0;
    border: solid 1px #ccc;
    height:680px;
    overflow: auto
}
.infos p{
	padding:0 5px;
	margin-bottom: 15px;
}

.infos h5{

	color: #2a2a2a;
}

.content{
	position: relative;
	overflow: hidden;
}

#search{
	margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -3px;
}
.search-field input{

	margin-left: 10px;
}
.cost-info,.subsidy-info{
	border-top: solid 1px #ccc;
}
.cost-info .caret,.subsidy-info .caret{
	cursor: pointer;
}

.order-info .caret{
	cursor: pointer;
}

.caret{display: inline-block!important;border-top:4px solid #00abe4;}

#the-map,#gaode-map{height:598px;}

#gaode-map{display: none}

#the-map img,#gaode-map{
	max-width: none;
}
#order-id,#shop-name{
	cursor: pointer;
	color: #00abe4;
}
.detail-open .cost-detail{
	display: block;
}
.cost-detail{
	display: none;
}
.cost-detail td{
	text-align: center;
}
.cost-d-title{
	color: #2a2a2a;
}
.p-title{
	color: #2a2a2a;
	float:left;
	text-align: right;
	width:60px;
	margin-right: 10px
}

.cost-detail p>span:first-child{text-align: right;margin-right: 15px}

.infos p>span:first-child{float: left}

.infos p>span:last-child{overflow: hidden;display: inline-block;}

.order-info p>span:last-child{display: block;}

.main-title{height: 40px;}

.map-info{float:right;width: 20%;border:1px solid #ccc;border-left:none;height:680px;overflow: auto;}

.right{float: right;}

.btn-group-justified{width:50%;display:inline-block;}

/*.btn.btn-primary{color: #fff;background-color: #337ab7!important;border-color: #2e6da4;}*/
.amap-scale-edgeleft, .amap-scale-edgeright,.amap-scale-middle{border-color:#333;}

.amap-lib-driving{border-bottom:none;}

#gaode-map-info,#the-map-info{display: none;background: #fff;height: 100%;overflow: auto}

.sm-btn{color:red;border:red;padding:1px;border:1px solid red; border-radius:3px;}

#mapContainer{width: 600px;height:600px;}

.caret.collapse{border:none;border-left:4px solid #00abe4; border-top:4px solid transparent;border-bottom:4px solid transparent;}

.infos::-webkit-scrollbar{width:2px;}
.map-info::-webkit-scrollbar{width:2px;}

.infos h5{padding:0 10px;}

.infos .cost-d-title{padding:0px 15px;}

.cost-info .cost-detail,.subsidy-info .cost-detail{padding:0 10px;}

.cost-info .cost-detail p>span:first-child,.subsidy-info .cost-detail p>span:first-child{width:90px;text-align: left;color:#2a2a2a;}

.btn-group-justified .btn{line-height: 15px;font-size: 12px;}

.btn-group-justified .btn-group{width: 90px}

#riderTrack{height:29px;font-size: 12px;}