
@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");

.form-control {
    display:inline-block;
}

.date-picker{
    width:140px;
}

.a{
    color: #428bca;
    cursor: pointer;
}
