/**
 * 斑马配送A端后台首页样式初始化
 *
 * @date 2015-04-08 星期三
 * @author XU Kai(xukai@meituan.com)
 *
 */

@import url("../global.css");

.package-detail .phone {
  margin-left: 20px;
}

.package-detail .left-row {
  padding: 10px 0;
}

.package-detail .border-right {
  border-right: 1px solid #dddddd;
}

.package-detail .strong {
  font-weight: bold;
}

.package-detail .table {
  margin-bottom: 0;
  margin-top: 5px;
}

.package-detail .f-row {
  padding-bottom: 5px;

}input[type="checkbox"] {
 	opacity: 1;
 }


