/**
 * 原P端所属页面特殊样式
 *
 * @date 2015-5-22
 *
 * liwei30
 */



#main-container {

  padding-left: 20px;
  padding-right: 20px;
}
#toppadding{

	height: 0;
}

.condition_area{

	padding-bottom: 10px;
}

.pagination{

	margin-bottom: 10px;
}