select{ cursor: pointer;outline: none; }
.tabs-nav{
	width:90%;height: 40px;margin: 10px 0px 0px 20px;
	border-bottom: 1px solid #ccc;
}
.tabs-nav .nav-item{
	width: 80px;height: 40px;float: left;
	cursor: pointer;color: rgb(69, 130, 188);font-weight: bold;font-size: 12px;
	text-align: center;line-height: 40px;
	border: 1px solid #ccc;
	border-left: none;
	border-right: 1px solid #ccc;
}
.tabs-nav .first-item{ border-left: 1px solid #ccc; }
.tabs-nav .active{ color:#333;border-bottom: 1px solid #F9F9F9; }
.tabs-pane{
	padding:10px 20px;
}
.tabs-pane .tabs-pane-item{
	width: 100%;height: 100%;
	display: none;
}
.tabs-pane .active{
	display: block;
}

.chooce-days{ 
	width: 100%;height: 30px;float: left;margin-bottom: 10px;
}
.chooce-days label,.chooce-days button,.chooce-days input,.chooce-days select{ float: left;margin-top: 5px; }
.chooce-days label{ margin-right: 20px;padding-top: 5px; }

.chooce-days .btn{ 
	width: 60px;height: 24px;
	background: #fff;border: 0;cursor: pointer; 
	border: 1px solid #ccc;padding: 0px;
	outline: none !important;
}
.chooce-days .month{ 
	border-right: none;
	border-top-right-radius: 0;border-bottom-right-radius: 0; 
	border-top-left-radius: 5px;border-bottom-left-radius: 5px; 
}
.chooce-days .week{ 
	border-left: none;
	border-top-left-radius: 0;border-bottom-left-radius: 0; 
	border-top-right-radius: 5px;border-bottom-right-radius: 5px; 
}
.chooce-days .btn-active{ 
	background: rgb(0, 163, 223);border: none;color: #fff;
}
.chooce-days .date-to{ 
	width: 150px;height: 25px;margin-left: 10px;
	outline: none;font-size: 14px; 
}
.chooce-days .btn-submit{ 
	width: 60px;height: 24px;display: block;float: left;
	background: #65cea7;color: #fff;outline: none;
	border: 1px solid #3ec291;border-radius: 5px;
    text-align: center;line-height: 24px;
    margin: 5px 0 0 20px;
}
.chooce-days .btn-submit:hover{
	background: #4ac598;
}
/*date input*/
.chooce-days .date-input{ 
	height: 25px;float: left; 
	margin-left: 20px;padding-left:5px;
	border: 1px solid #aaa;
}
.chooce-days .click-chooce-date{  
	width: 120px;float: left;
	margin-right: -120px;top: 10px;right: 130px;
	cursor: pointer;text-align: right;
}
.daterangepicker{ margin-left: -12px;margin-top: 10px !important; }
/*date input end*/
.show-table{ width: 100%;min-height: 600px;margin-top: 10px;color: #000; }
.show-table td,.show-table th{ 
	border:1px solid #aaa;padding: 7px 10px;
}
.show-table th{ background-color: #f0f0f0; }
.show-table tr{ display: table-row;vertical-align: inherit;border-color: inherit; }
.tabs-pane .clear-float{ clear: both; }
.tabs-pane .chartsRend{
	margin-top: 10px;width: 100%;min-height: 800px;
}
.tabs-pane .chartsRend .charts-main{ width: 49.5%;margin-bottom: 20px; }
.tabs-pane .chartsRend .charts-stacking, .tabs-pane .chartsRend .charts-noStacking{
	width: 100%;height: 400px;
	margin: 0;
}
.tabs-pane .chartsRend .charts-table{ width: 100%;min-height: 300px;margin-top: 20px; }
.tabs-pane .chartsRend .charts-table table{ width: 100%; }
.tabs-pane .chartsRend .charts-table th,.tabs-pane .chartsRend .charts-table td{
	border:1px solid #aaa;padding: 7px 10px;
}
.tabs-pane .chartsRend .charts-table th{ background-color: #f0f0f0; }

.tabs-pane .chooce-select{
	height: 25px;font-size: 12px; border-radius: 3px;
}
.highcharts-container{ width: 100% !important; }
.formatter-span{ text-align: justify;color: red; }
.chart-main-left{
	width:43.5% !important;;
}
.chart-main-right{
	width:55.5% !important;;
}
.divbackground{ filter: Alpha(opacity=40); }
.progressBar{ left:50%;margin-left: -100px; }
@media screen and (max-width: 1024px) {
	.show-table td, .show-table th{
		padding: 7px 10px;
	}
}
@media screen and (max-width: 750px) {
	.show-table td, .show-table th{
		padding: 2px 1px;
	}
	.tabs-pane .chartsRend .charts-table th, .tabs-pane .chartsRend .charts-table td{
		padding: 2px 1px;
	}
}