#btn-add-new-version {
    margin: 10px 0px;
}
#add-new-version-box .input-group {
    padding: 10px 0px;
    border-bottom: 1px solid #D0D4D5;
}
#add-new-version-box input {
    border: 0px solid #FFF;
    box-shadow: none;
}

#add-new-version-box span {
    min-width: 80px;
    max-width: 80px;
    text-align: left;
}

#add-new-version-box input:focus {
    border: 2px solid #red;
}

#add-new-version-box textarea {
    border: 0px solid #FFF;
    box-shadow: none;
}

#add-new-version-box .input-group-addon {
    background-color: #FFF;
    border: 0px;
}

#add-new-version-box select, #add-new-version-box .radio-inline{
    margin-left: 5px;
}

#add-new-version-box .radio-inline {
    padding-top: 6px;
}

.app-info {
    padding: 8px 15px;
}

.panel {
    margin-bottom: 10px;
}
.panel-heading{
	width: 100%;
}
.panel-title-span{
	font-size:13px;
	width: 10.28%;display:block;float:left;margin-top:-6px;
}
.time-deal-span{
	width: 17%;
}
.my-selector{
	margin-top:10px
}
.panel.panel-default.panel-heading{
	border:none;
	backgroud:none;
	height:20px;
}
.panel-title-span{
	margin-top:-11px;
}
.select-desc{
	margin-top:20px;
}
.select-span{
	float:right;
}
tr{
	padding-top:10px;
	padding-bottom:10px;
}

