td a:link {
  color: blue;
}
.panel {
        padding: 15px 15px;
}
.input-span {
	min-width: 40px;
}

.poi-list {
    float: right;
    width: 100%;
}

.poi-list h2 {
    font-weight: normal;
    margin-bottom: 0;
}

#poi-list-container .poi-list ul {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 0;
}

#poi-list-container .poi-list li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
    background: #eee;
}

#poi-list-container .poi-list .active {
    background: #fff;
}

#poi-list-container .poi-detail {
    font-size: x-small;
    margin-bottom: 0px;
}


#poi-list-container .poi-list a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 13px;
    color: #3f3f3f;
    text-shadow: 1px 1px #fff;
    padding: 16px 10px;
}

#poiFetchPointsMapContainer {
    height: 800px;
}

#locationPickerContainer {
    position: fixed;
    background-color:#fff;
    padding:6px;
    border:solid 1px silver;
    bottom: 2px;
    right: 2px;
    font-size: 12px;
    line-height: 20px;
}


#locationPickerContainer input[type="text"] {
    width:100%;
}


#point-loading{
    position:absolute;
    width:300px;
    top:260px;
    left:50%;
    margin-left:-150px;
    display: none;
}

