@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
@import url("../pstyle1.css");
.form-inline{
    padding-bottom:10px;
}
#main-container{
    padding-left:0;
    padding-right:0;
}
#create-container{
    margin: 20px;
    width:450px;
}
#create-container .panel-heading{
    background-color:#eee;
    font-size:16px;
    margin-left:-35px;
    margin-top:-35px;
    margin-bottom:15px;
    width:528px;
}
#edit-container .row{
    margin:0;
}
#edit-container .form-group{
    width:50%;
    float:left;
}
.readonly{
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}