<!DOCTYPE html>
<html lang="zh-CN">

<head>

<#include "common-header.ftl" />
    <title>错误</title>
</head>

<body>

<div style="padding-left: 2em; padding-top: 2em;">
    ${errorMsg !'出现错误'}
</div>

</body>

</html>