
@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
@import url("../pstyle1.css");


.mainc{color:#58B7B1}

.date-picker{
    width:120px;
}

.form-inline .form-control{display: inline-block;}

.content_body{margin:10px 20px;}
.navi_head .navi_title{width:150px; background: #58B7B1 ; border-radius:5px 5px 0px 0px; height:30px; line-height:30px; text-align:center; border:none;}
.navi_head .navi_bottom_line{width:100%; height:2px; background: #58B7B1;}

.condition_area{width:100%; border:1px solid #E4E4E4; padding:20px;}

.result_area{padding:10px; border: 1px solid #E4E4E4; background: #FAFAFA; margin-top:20px;}

.table, .table td, .table th{border: solid 1px #E4E4E4; text-align: center;}
.table th{font-weight: bold; text-align: center;}
.table td{font-size:13px;}

.table_title{width:100%;}
.table_title span{display:inline-block; float:left;}
.table_title a{display:inline-block; float:right;}

.blue_link{color:blue;}