@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
[v-cloak] {display: none;}
textarea{resize: none;}

#main-container{
	padding-top: 10px;
}

.tool_bars{
	margin-bottom: 10px;
}
.conditions .form_row{
	margin-bottom: 10px;
}
.conditions .form-group{
	margin-right: 10%;
}
.conditions .form-group-title{
	display: inline-block;
	font-size: 14px;
	width: 60px;
	text-align: right;
	margin-right: 10px;
}
.conditions .form-group select,
.conditions .form-group input{
	width: 150px;
}


#basePage .table th,
#basePage .table td{
	text-align: center;
}
.table thead{
	background: #eee;
}
.table .fa{
	color: #4ac598;
	font-size: 18px;
	vertical-align: bottom;
	cursor: pointer;
}
.version_td{
	position: relative;
}
.version_desc{
	position: absolute;
	width: 150px;
    padding: 10px;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    background: #333;
    color: #fff;
    border-radius: 2px;
    display: none;
    text-align: left;
}
.version_desc.show{
	display: block;
}
.version_desc::after{
	content: '';
	position: absolute;
	width: 0;height: 0;
	border-left: 8px solid #333;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: 100%;
	top: 50%;
	margin-top: -10px;
}

.pagination{
	float: left;
	margin: 0;
}
.pagination > li{
	cursor: pointer;
}
.page_info{
	float: left;
	margin: 0 10px;
}
.page_info input{
	margin: 0 5px;
	width: 30px;
	height: 28px;
	text-align: center;
	border-radius: 2px;
}

#settingPage{
	display: none;
}
.component{
	position: absolute;
	left: 50%;top: 0;
	-webkit-transform: translate(-50%, 0);
	padding: 10px 0;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	z-index: 9;
}
.component .comp_title{
	margin: 0;
	padding: 0 10px 10px;
	font-size: 16px;
}
.component .comp_title .fa-times{
	float: right;
	cursor: pointer;
}
.component .btn_box{
	text-align: center;
}
.component .btn_box .btn{
	margin: 0 10px;
}

.comp_row{
	clear: both;
	padding: 0 10px;
	border-top: 1px solid #ddd;
}
.comp_row_title{
	position: relative;
	padding-left: 10px;
	font-size: 14px;
}
.comp_row_title > .fa{
	margin-right: 4px;
}
.comp_row_title::before{
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	background: #4ac598;
	left: 0;top: 0;
}
.table.nobd{
	border: none;
	margin-bottom: 5px;
}
.table.nobd tr,
.table.nobd td{
	border: none;
	text-align: left!important;
}
.comp_row .btn-save{
	float: right;
	margin-bottom: 5px;
}


.component_bgwrapper{
	position: fixed;
	width: 100%;height: 100%;left: 0;top: 0;right: 0;bottom: 0;
	background: rgba(35, 35, 35, .25);
	z-index: 8;
}
.special_set{
	display: block;
	resize: none;
	width: 100%;
	height: 60px;
	margin: 10px 0;
}
.area_ids{
	display: block;
	width: 50%;
	height: 100px;
	margin: 10px 0;
}

.component .table_wrapper{
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.param_pop{
	position: absolute;
	padding: 10px;
	width: 400px;
	max-height: 400px;
	left: 50%;top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
}
.param_pop > .fa{
	float: right;
	font-size: 18px;
}
.param_pop > p{
	clear: both;
	max-height: 360px;
	overflow-x: hidden;
	overflow-y: auto;
}