input[type="checkbox"]{
    opacity: 1;
}
table{
    text-align:center;
}

a.aStyle:link {color:#0000FF;}
a.aStyle:visited {color:#0000FF;}

.row_item{
	float: left;
	width: 40%;
	min-width: 440px;
	/*margin: 0 7%;*/
	margin-left: 2%;
}
.row_tit{
	text-align: center;
	margin-bottom: 10px;
	font-size: 16px;
}
.ibox{
	padding: 6px 6px 20px;
	background: #f9f9f9;
	border: 1px solid #eee;
}
.ibox_tool{
	margin-bottom: 10px;
}
.tool_btn{
	font-size: 16px;
	padding: 4px 6px;
	margin-right: 6px;
	border-radius: 2px;
	cursor: pointer;
	transition: background .2s ease;
}
.tool_btn:hover{
	background: #eee;
}
.ibox_wrapper{
	position: relative;
	width: 400px;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid #000;*/
}
.photo{
	display: block;
	width: 100%;
	height: 100%;
	transition: -webkit-transform .4s ease;
	-webkit-transform: scale(1) rotateZ(0);
	position: relative;
	left: 0;top: 0;
	cursor: move;
	/*opacity: .5;*/
}
.button_width{
    width:50px;
    height:26px;
    font-size: 12px;
}

