/*
 *	@liupd;
 *	blue: #00abe4;
 *
 */
@import '../../lib/daterangepicker.css';
#main-container .fa{
	cursor: pointer;
}
#mtab{
	margin-top: 10px;
}
.mtab_item{
	position: relative;
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	text-align: center;
}
.mtab_item::after{
	content: '';
	position: absolute;
	width: 100px;
	height: 2px;
	background: #00abe4;
	bottom: -2px;
	left: -1px;
}
.mtab_item.on{
	color: #fff;
	background: #00abe4;
	border-color: #00abe4;
}

.page{
	position: relative;
	background: #fff;
	margin-top: 10px;
}
.tips{
	background: #eee;
	padding: 5px;
	font-size: 13px;
	color: #666;
}
#shouldDays{
	color: #00abe4;
	font-size: 16px;
	margin: 0 2px;
}
#changeShouldDays{
	color: #00abe4;
	font-size: 14px;
	margin-left: 4px;
}
.tips small{
	margin-left: 20px;
	font-size: 12px;
	color: #888;
}
/* shoulddays edit box */
#editShouldDays{
	display: none;
	position: fixed;
	padding: 15px;
	width: 300px;height: 170px;
	left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background: #fff;
	border-radius: 4px;
	z-index: 1002;
}
#editShouldDays.show{
	display: block;
}
#editShouldDays label{
	display: block;
	margin-bottom: 10px;
}
#editShouldDays select{
	border: 1px solid #ddd;
	width: 100px;
}
/* search contidion */
.condition{
	margin-top: 10px;
}
.condition label{
	margin-left: 5px;
	margin-right: 15px;
}
.condition .btn{
	font-size: 12px;
}
/* week picker */
.weekpicker{
	/*float: left;*/
	position: relative;
	text-align: center;
	width: 280px;
	margin: 10px auto;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
}
#weekString{
	display: inline-block;
}
#weekString span{
	margin: 0 4px;
}
#weekPicker{
	position: absolute;
	width: 26px;
	height: 26px;
	right: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}
.weekpicker .week_arrow{
	width: 15px;
	vertical-align: -1px;
	cursor: pointer;
}
.weekpicker .fa-calendar{
	float: right;
	font-size: 16px;
	width: 26px;
	height: 26px;
	line-height: 25px;
}

#weekList{
	margin: 0 10px;
}
#weekListTable{
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
#weekListTable p{
	margin-bottom: 2px;
}
#weekListTable th,
#weekListTable td{
	text-align: center;
	padding: 10px 5px;
	border: 1px solid #ddd;
	vertical-align: middle;
}
#weekListTable th{
	background: #FCE4EC;
}
#weekListTable th:nth-child(1) {
	background: #fff;
}
#weekListTable th:nth-child(2) {
	background: #90CAF9;color: #fff;
}
#weekListTable th:nth-child(3) {
	background: #AED581;color: #fff;
}
#weekListTable th:nth-child(4) {
	background: #F48FB1;color: #fff;
}
#weekListTable th:nth-child(5) {
	background: #CE93D8;color: #fff;
}
#weekListTable small{
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
#weekListTable .rider_name{
	color: #1E88E5;
	font-size: 13px;
	cursor: pointer;
}
#weekListTable .big{
	margin-top: 5px;
	margin-bottom: 5px;
	/*color: #2196F3;*/
	color: #65CEA7;
	font-size: 15px;
}
#weekListTable .big.red{
	color: #F44336;
}

.page_box{
	margin-bottom: 30px;
}
.page_box .pagination{
	margin: 0 10px 0;
}
.page_box .page_info{
	height: 23px;
}
#pageInput, #appealPageInput{
	width: 24px;
}

#monthList{
	display: none;
	position: fixed;
	width: 600px;
	padding: 10px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	z-index: 1002;
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
}
#monthList.show{
	display: block;
}
#monthList .blue{
	color: #00abe4;
	font-size: 16px;
}
#closeMonthList{
	position: absolute;
	right: 5px;top: 5px;
	font-size: 18px;
}
#monthPickerBox{
	display: none;
	position: fixed;
	width: 300px;height: 100px;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background: #fff;
	z-index: 10003;
	padding: 15px;
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

#monthpicker{
	text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
#monthListTable th{
	text-align: center;
	border: 1px solid #ddd;
	height: 30px;
}
#monthListTable td{
	position: relative;
	padding: 5px;
	width: 80px;
	height: 70px;
	border: 1px solid #ddd;
}
#monthListTable .day_status{
	font-size: 16px;
	text-align: center;
}
#monthListTable .day_time{
	float: right;
	text-align: right;
}
#bgWrapper{
	display: none;
	position: fixed;left: 0;right: 0;top: 0;bottom: 0;
	z-index: 1001;
	background: rgba(0,0,0,0.35);
}
#bgWrapper.show{
	display: block;
}

#appealList{
	width: 100%;
}
#appealListTable{
	width: 100%;
	margin-bottom: 20px;
}
#appealListTable th{
	background: #efefef;
}
#appealListTable th, #appealListTable td{
	text-align: center;
	padding: 6px 4px;
	border: 1px solid #ddd;
}
table .link{
	color: #00abe4;
}

#appealDetail{
	margin-bottom: 40px;
}
#detailTable{
	width: 100%;
	margin-top: 20px;
}
#detailTable td{
	padding: 10px;
	vertical-align: top;
}
#detailTable td:first-child{
	width: 120px;
	text-align: right;
	padding-right: 15px;
}
#detailTable img{
	max-width: 400px;
}
.approve_btns{
	margin-top: 20px;
	margin-left: 50px;
}
.records th{
	background: #efefef;
}
.records .r_item{
	text-align: center!important;
	padding: 5px;
}

.popup{
	display: none;
	position: fixed;
	width: 300px;height: 180px;
	z-index: 999;
	background: #fff;
	left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	border: 1px solid #ddd;
}
.popup .info{
	border-bottom: 1px solid #ddd;
	padding: 4px;

}
.popup .content{
	text-align: center;
	padding: 10px;
}
.popup .btn_box{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
.popup textarea{
	display: block;
	border: 1px solid #ddd;
	resize: none;
	width: 95%;
	height: 80px;
	margin: 10px auto;
}