dd{
   width:400px;
}
.title{
   font-size:17px;
   font-family: "Microsoft YaHei" ! important;
   width:100%;
   height:25px;
}

.star{
   color:red;
}
.tooltip > p {
   text-align:left;
}
div.tooltip-inner {
   max-width: 500px;
}

.mis-search-ul {
   /*position: absolute;*/
   border: 1px solid rgba(0,0,0,.15);
   /*min-width: 160px;*/
   width: 400px;
   background-color: white;
}

.mis-search {
   display: none;
   position: absolute;
   width: 100%;
   padding: 0 195px;
   height: 200px;
   left: 0;
}

.mis-search-ul li {
   margin: 0px 0px;
   padding: 5px 5px;
   border-bottom: 1px solid rgba(0,0,0,.15);
   cursor: pointer;
}
.mis-search-ul li:hover {
   background-color: rgba(0,0,0,.15);
}
