@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
@import url("../pstyle1.css");
.form-inline{
    padding-bottom:10px;
}
input[type="checkbox"]{
    opacity:1;
    width:12px;
    height:12px;
}
.checkbox-span{
    margin-right:25px;
}
#create-container{
    margin: 20px;
    width:450px;
}
.readonly{
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}