<#include "../base/home_config.ftl">
<#include "../widgets/sidebar.ftl">
<style type="text/css">
.container-iframe{
	width:100%;height:1330px;border:none;
	background: #f9f9f9;
}
</style>
<content tag="pageName">key</content>
<div id="main-container">
<iframe class="container-iframe" src="${datacenterurl}"></iframe>
</div>

