@charset "UTF-8";

/*
*	最新版sass语法完全兼容css,所以不熟悉sass的同事如需修改样式直接在.scss文件里写css就可以了。
*	切记是在__.scss__文件里修改,且修改之后需运行grunt。（未安装grunt请先依次安装node环境以及npm依赖包,参考package.json）
*	scss中每一行样式声明必须用分号 ; 结尾。切记!!!
*	请勿直接在css文件中修改。切记!!!
*/
#main-container {
	padding: {
		left: 40px;
		right: 20px;
	}
}
.tool_bar {
	margin-bottom: 10px;
}
.tab {
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.tab_item {
	position: relative;
	display: inline-block;

	margin: {
		right: 2px;
		bottom: -1px;
	}
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	z-index: 2;
	background: #f3f3f3;
	text-align: center;
	cursor: pointer;

	&:hover, &.on {
		background: #f9f9f9;
		border-bottom: 1px solid #f9f9f9;
		color: #4582BC;
	}
}
.date-input {
	float: left;
	width: 260px;
	padding: 5px 20px;
	height: 30px;
	line-height: 20px;
	border: 1px solid #ddd;
	cursor: pointer;
	text-align: right;
	border-radius: 4px;
	background: #fff;
}
.reportrange {
	& > .fa-calendar {
		vertical-align: 2px;
		margin-right: 2px;
	}
	& > .caret {
		vertical-align: 3px;
	}
}
#btnBox {
	position: relative;
	float: left;
	margin-left: 10px;

	& > .btn {
		position: relative;
		height: 30px;
		margin-left: 4px;
		line-height: 17px
	}
}
#exportMenu {
	position: absolute;
	width: 90px;
	height: 0;
	right: 0;
	top: 30px;
	background: #08AF71;
	border-radius: 4px;
	transition: all .4s ease;
	overflow: hidden;
	color: #fff;
	z-index: 99999;

	&.show {
		height: 52px;
	}
	& > i {
		display: block;
		padding-top: 5px;
		text-align: center;
		font-size: 13px;
		cursor: pointer;
	}
}
.charts_area {
	width: 100%;
}
#highcharts {
	width: 100%;
}
#tableArea {
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	z-index: 8;
}
table {
	width: 100%;
	border-collapse: collapse !important;
	border: none;
}
thead {
	background: #fff;
	color: #1C94C4;
	font-weight: bold;
}
#mainTable > thead {
	display: none;
}
tr.active > td {
	background: #B5ECFF !important;
}
td {
	position: relative;
	min-width: 180px;
	border: {
		bottom: 1px solid #ddd;
	}
	text-align: center;
	color: #333;
	cursor: default;
	& .tip{
		position: fixed;
		max-width: 192px;
		text-align: left;
		width: auto;
		-webkit-transform: translateX(-50%);
		background: #fff;
		padding: 4px 6px;
		color: #333;
		border: 1px solid #ddd;
		border-radius: 2px;
		z-index: 999;
		font-size: 12px;
	}
	& .td_tip{
		width: 18px;
		height: 18px;
		color: #ccc;
		cursor: pointer;
		font-size: 16px;
	}
}
#mainTable_info{
	display: none;
}
#loadingWrapper {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 99999;
	transition: opacity .4s ease;

	&.show {
		visibility: visible;
		opacity: 1;
	}
}
#loading {
	position: fixed;
	padding-left: 54px;
	padding-right: 10px;
	width: 190px;
	height: 54px;
	left: 50%;
	margin-left: -100px;
	top: 200px;
	line-height: 54px;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
	background: white url(../../imgs/loading.gif) no-repeat 10px 10px;
}
.dataTables_filter {
	float: left !important;
	margin-left: 5px;
	margin-top: 5px;
}
#mainTable_length{
	display: none;
}
.daterangepicker{
	right: auto!important;
	left: 130px!important;
}
.daterangepicker.opensleft:before{
	right: auto;
	left: 230px;
}
.daterangepicker.opensleft:after{
	right: auto;
	left: 231px;
}