@charset "UTF-8";

/*
*	最新版sass语法完全兼容css,所以不熟悉sass的同事如需修改样式直接在.scss文件里写css就可以了。
*	切记是在__.scss__文件里修改,且修改之后需运行grunt。（未安装grunt请先依次安装node环境以及npm依赖包,参考package.json）
*	scss中每一行样式声明必须用分号 ; 结尾。切记!!!
*	请勿直接在css文件中修改。切记!!!
*/
#main-container {
	padding: {
		left: 40px;
		right: 20px;
	}
}
.tool_bar {
	margin-bottom: 10px;
}
.tab {
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.tab_item {
	position: relative;
	display: inline-block;

	margin: {
		right: 2px;
		bottom: -1px;
	}
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	z-index: 2;
	background: #f3f3f3;
	text-align: center;
	cursor: pointer;

	&:hover, &.on {
		background: #f9f9f9;
		border-bottom: 1px solid #f9f9f9;
		color: #4582BC;
	}
}
.nav {
	position: relative;
	// bottom: -20px;
	float: left;
	padding-left: 5px;
	margin-top: 5px;
	height: 20px;
	line-height: 20px;
	z-index: 99;
}
.nav_item {
	position: relative;
	margin-right: 3px;

	&:after {
		content: '>';
		margin-left: 5px;
	}
	&:last-child:after {
		content: '';
		display: none;
	}
}
.date-input {
	width: 260px;
	margin: 0 auto;
	padding: 5px 20px;
	height: 30px;
	line-height: 20px;
	border: 1px solid #ddd;
	cursor: pointer;
	text-align: right;
	border-radius: 4px;
	background: #fff;
}
.reportrange {
	& > .fa-calendar {
		vertical-align: 2px;
		margin-right: 2px;
	}
	& > .caret {
		vertical-align: 3px;
	}
}
#btnBox {
	position: relative;
	float: right;

	& > .btn {
		position: relative;
		height: 30px;
		margin-left: 4px;
		line-height: 17px
	}
}
#exportMenu {
	position: absolute;
	width: 90px;
	height: 0;
	right: 0;
	top: 30px;
	background: #08AF71;
	border-radius: 4px;
	transition: all .4s ease;
	overflow: hidden;
	color: #fff;
	z-index: 99999;

	&.show {
		height: 52px;
	}
	& > i {
		display: block;
		padding-top: 5px;
		text-align: center;
		font-size: 13px;
		cursor: pointer;
	}
}
.charts_area {
	width: 100%;
}
#highcharts {
	width: 100%;
}
#tableArea {
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	z-index: 8;
}
table {
	width: 100%;
	border-collapse: collapse !important;
	border: none;
}
thead {
	background: #fff;
	color: #1C94C4;
	font-weight: bold;
}
#mainTable > thead {
	display: none;
}
tr.active > td {
	background: #B5ECFF !important;
}
td {
	position: relative;
	min-width: 140px;
	border: {
		bottom: 1px solid #ddd;
	}
	text-align: center;
	color: #333;

	& .td_a_btn {
		position: relative;
		cursor: pointer;
		color: #2163EA;

		&.disabled {
			color: #333;
			text-decoration: none;
		}
		& > .full_name {
			position: absolute;
			width: auto;
			top: 0;
			left: 100%;
			background: #F5D299;
			color: #000;
			white-space: nowrap;
			padding: 2px 6px;
			z-index: 999;
			opacity: .8;
		}
	}
	& .choose_drill {
		display: none;
		transition: opacity .3s ease;
		position: absolute;
		left: 50%;
		top: 24px;
		margin-left: -50px;
		width: 100px;
		height: 24px;
		line-height: 24px;
		background: #4ac598;
		color: #fff;
		border-radius: 2px;
		z-index: 99999;

		& .item {
			margin: 0 8px;
			cursor: pointer;
			transition: color .2s ease;
		}
		& .item:hover {
			color: #000;
		}
		& .close_icon {
			position: absolute;
			width: 20px;
			height: 20px;
			right: -8px;
			top: -8px;
			background-color: #f00;
			font-size: 16px;
			line-height: 20px;
			border-radius: 100%;
			cursor: pointer;
		}
	}
}
#pageSwitch{
	& b{
		font-weight: bold;
		color: #333;
	}
	& > .info{
		margin: 0 5px;
	}
}
#nowpage{
	margin: 0 5px;
}
#pageinput{
	width: 30px;
	margin: 0 3px;
}
#mainTable_info{
	display: none;
}
#loadingWrapper {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 99999;
	transition: opacity .4s ease;

	&.show {
		visibility: visible;
		opacity: 1;
	}
}
#loading {
	position: fixed;
	padding-left: 54px;
	padding-right: 10px;
	width: 190px;
	height: 54px;
	left: 50%;
	margin-left: -100px;
	top: 200px;
	line-height: 54px;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
	background: white url(../../imgs/loading.gif) no-repeat 10px 10px;
}
.dataTables_filter {
	float: left !important;
	margin-left: 5px;
	margin-top: 5px;
}
#mainTable_length{
	display: none;
}
.arr_box{
	position: absolute;
	right: 0;
	top: 7px;
	color: #ccc;
	font-size: 10px;
	& > i{
		cursor: pointer;
		display: block;
		-webkit-transform: scale(0.9);
		width: 10px;
		&:hover{
			color: #666;
		}
	}
}