@import url("../pstyle1.css");

.content_body{ margin-bottom: 100px; min-height: 500px;}
.table_area{ margin-top:10px;}

.table, .table td, .table th{border: solid 1px #D4D4D4; text-align: center;}
.table th{background: #e8e8ea;}
.table th{font-weight: bold; text-align: center;}
.table td{font-size:13px;}

.table .even td{background: #efefef}
.table_title{width:100%;}
.table_title span{display:inline-block; float:left;}

.table_title a{display:inline-block; float:right;}
.export_area{ width: 90%; margin: 0 0 0 2px; margin-top:1px;}

.line{width:100%; border-top:1px solid #d4d4d4;}