@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
@import url("../pstyle1.css");

.form-control { display: inline-block; }
.line { width: 100%; border-top: 1px solid #dddddd; }
.condition_area { margin: 10px 0px; }
#main-container { overflow-x: auto; }
.row_item { display: inline-block; width: 30%; min-width: 280px; margin-bottom: 10px; }
.input_title { float: left; width: 27%; height: 28px; line-height: 28px; margin-right: 3%; text-align: right; }
.input_short { width: 60% !important; }
/*.row_item_date { width: 90%; min-width: 840px; margin-bottom: 10px; }*/
/*.row_item_date > .input_title { width: 9%; margin-right: 1%; }*/
.date_box > img { width: 6%; margin-left: 4px; }
.date_separate { display: inline-block; margin-left: 4px; margin-right: 4px; }
.button_box { margin-left: 9%; }
.result_list { position: relative; min-width: 1200px; }
.result_list:after { content: ''; position: absolute; width: 100%; height: 1px; top: -1px; left: 0; background: #ddd; }
.result_tfoot{min-width: 1200px;}
.result_tfoot td{border: none!important;}
.blue { color: #428bca; cursor: pointer; }
.result_list th{min-width: 66px;}
.ui-widget-content{ background: #eeeeee; }
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 300px;
}

.invalid_value{

	color: #f00;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 4px;
}