<#include "updateManage_config.ftl">
<#include "../widgets/sidebar.ftl">

<!-- <content tag="cssmain">/city/city_list.css</content> -->
<!-- <content tag="javascript">/city/city_list.js</content> -->

<div id="main-container">


	<h1>versionList</h1>


</div>