<!DOCTYPE HTML>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title style="font-size:20px">劳务协议</title>
	    <style>

	    ul {
    	    margin-top: 0;
		    margin-bottom: 10px;
		    display: block;
		    list-style-type: disc;
		    -webkit-margin-before: 1em;
		    -webkit-margin-after: 1em;
		    -webkit-margin-start: 0px;
		    -webkit-margin-end: 0px;
		    -webkit-padding-start: 20px;
	    }

	    li {
	    	font-size:15px;
	    	list-style-type:none;
	    }

	    .section-title {
	    	font-size: 18px;
	    	margin-left: 20px;
	    }
	    </style>
	</head>
	<body style="padding:10px 15px 10px 0px">
		<ul>
			<li><strong>提示条款 ：</strong></li>
			<br>
			<li>欢迎您与<strong>上海正东人力资源有限公司</strong>（详见定义条款）共同签署本《劳务协议》（下称“本协议”）并使用美团众包平台服务。</li>
			<br>
			<li>【<strong>审慎阅读</strong>】为维护您的自身权益，在您申请注册流程中点击同意本协议之前，请认真阅读本协议，<strong>务必审慎阅读、充分理解各条款内容，特别是权利义务条款、法律适用和管辖条款。上述条款以粗体标识，您应重点阅读</strong>。</li>
			<br>
			<li>【签约】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与上海正东人力资源有限公司达成一致，成为上海正东人力资源有限公司的劳务人员。<strong>阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，请您立即停止注册程序</strong>。</li>
			<li style="text-indent:2em"><strong>您与上海正东人力资源有限公司通过本协议建立劳务关系，适用《合同法》、《民法通则》和其他民事法律，不适用《劳动合同法》</strong>。</li>
		</ul>
		<strong class="section-title">一.定义 </strong>
		<ul>
			<li>1.1上海正东人力资源有限公司：是指与您签署劳务合同，形成劳务关系、并向您发放劳务报酬的公司（以下简称“劳务公司”）。</li>
			<li>1.2美团众包平台：以下简称“众包平台”，是指为商户提供劳务需求信息展示，并通过该平台展示劳务需求信息、单笔劳务费用、及服务完成确认等信息的手机APP信息平台。
			众包员可通过众包平台自主选择接收任务事项，并在事项完成后获得众包平台显示的劳务费及相应奖励（如有）。</li>
			<li>1.3商户：与美团签署服务协议，入驻美团平台进行信息展示及交易的经营者。</li>
			<li>1.4劳务需求信息：有劳务需求的商户通过众包平台发布的，需提供劳务的外卖产品信息、配送地址、劳务报酬等信息。</li>
		</ul>
		<strong class="section-title">二.协议内容</strong>
		<ul>
			<li>2.1您同意与劳务公司签订劳务合同，按照众包平台展示的劳务需求信息内容、要求、标准，自主选择接收服务事项，及时完成并收取劳务公司支付的劳务费及平台奖励（如有）。</li>
			<li><strong>2.2您保证能按时并且安全的完成劳务需求相关的配送事宜，因您的原因导致的任何第三方的损失，您应该承担包括但不限于赔偿的责任。</strong></li>
			<li>2.3您保证能按时并且安全的完成劳务需求相关的配送事宜，因您的原因导致的任何第三方的损失，您应该承担包括但不限于赔偿的责任。</li>
			<li><strong>2.4您在美团众包平台接收商户发布的劳务需求后，不可随意取消订单，如您取消订单，您将按照平台公示的业务规则承担相应金额的违约金。</strong></li>
			<li>2.5如您未严格按照服务作业计划和作业要求进行服务作业的，您将按照众包平台显示的违约金数额支付违约金。具体服务计划和作业要求以平台公示的《管理细则》内容为准。甲方在国家法律允许的范围内按照法定程序，不时地修行《管理细则》，《管理细则》在众包平台生效后，如乙方众包员继续使用众包平台服务的，即表示接受经修订的《管理细则》。</li>
		</ul>
		<strong class="section-title">三.劳务费</strong>
		<ul>
			<li>3.1【计价标准】劳务费及平台奖励的计算标准以众包平台显示的数据为准。</li>
			<li>3.2【结款周期】当您提出结算申请后，经核实您提供的劳务服务符合标准且无误后，劳务公司将在您提出结算申请的3个工作日内将服务费及平台奖励等费用支付到您向平台提交的银行账号上。</li>
		</ul>
		<strong class="section-title">四.注册资格</strong>
		<ul>
			<li>请保证，您在注册时需年满18周岁且不超过55周岁，身体健康拥有健康证，并具有完全民事行为能力和相应劳动能力。
			若您不具备前述条件，您及/或您的监护人应依照法律规定承担因此而导致的一切后果。</li>
		</ul>
		<strong class="section-title">五.账号说明</strong>
		<ul>
			<li>5.1【账户获得】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，您可获得众包平台账户，成为众包员。</li>
			<li>5.2【账号安全】您的账户为您自行设置及保管，众包平台任何时候均不会主动要求您提供您的账户。因此，建议您务必妥善使用您的账户信息，保管好您的账户密码。
			<strong>账户因您泄露或遭受他人攻击、诈骗等行为导致的损失及后果，均由您自行承担</strong>。</li>
		</ul>
		<strong class="section-title">六.劳务公司义务</strong>
		<ul>
			<li>6.1劳务公司应根据商户在众包平台展示或另行与众包平台实际经营者确认的服务标准要求制定服务作业计划和作业要求，并督促众包员按照服务作业计划和作业要求进行服务作业；</li>
			<li>6.2劳务公司负责处理您执行劳务服务期间发生的所有用工问题；</li>
			<li>6.3劳务公司应及时向您支付劳务报酬并承担劳务服务相关的税费。</li>
		</ul>
		<strong class="section-title">七.您的义务</strong>
		<ul>
			<li><strong>7.1您应该确保提供配送服务环节中配送商品的安全</strong>。</li>
			<li><strong>7.2您应该确保注册信息的真实性、完整性、合法性</strong>。</li>
			<li><strong>7.3您应该确保提供配送服务环节中行车的安全，不侵犯任何第三方的权益。如自驾机动车辆，应保证证件齐全</strong>。</li>
			<li><strong>7.4任何期间均不得使用或借用众包平台名义雇佣人员，也不得将在众包平台接受的任务事项转交他人完成</strong>。</li>
			<li><strong>7.5在接受、完成任务事项过程中获取的任何有关众包平台或任何第三方的信息，包括但不限于收货人姓名、联系方式、电话、地址等均应严格保密，
			不得传播、泄露、披露，不得在为完成本协议任务事项之外的目的自行或允许他人使用</strong>。</li>
			<li><strong>7.6您应该遵守交通规则</strong>。</li>
		</ul>
		<strong class="section-title">八.法律适用与管辖</strong>
		<ul>
			<li><strong>8.1本条款的订立、执行和解释及争议的解决均应适用中国法律<strong>。</li>
			<li><strong>8.2如您与劳务公司就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可将争议提交至众包平台调停及裁判，双方同意自愿遵守众包平台的调停及裁判结果。
			如不认可众包平台的调停结果的，任何一方均可向合同签订地（众包平台所在地）人民法院提起诉讼</strong>。</li>
		</ul>
	</body>
	<#include "../common-footer.ftl" />
</html>
