#main-container{
}

.conditions{
	font-size: 13px;
}
.conditions .pull-left{
	margin-right: 20px;
}
.conditions .pull-left > button{
	height: 30px;
	line-height: 16px;
}
.conditions .input-sm{
	width: 160px;
	height: 30px;
	border-color: #aaa;
	border-radius: 4px;
}
.conditions .tab{
	display: inline-block;
	width: 60px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.conditions .tab.on{
	border-radius: 2px;
	background: #4ac598;
	color: #fff;
}

.select_box{
	display: inline-block;
}
.select2{
	margin-right: 10px;
}

.datepicker-box{
	position: relative;
	width: 180px;
	height: 28px;
	border: 1px solid #aaa;
	border-radius: 4px;
	background: #fff;
}
#datepicker{
	border: none;
	width: 100%;
	height: 26px;
	text-align: center;
	border-radius: 4px;
}
.datepicker-box .fa{
	position: absolute;
	left: 12px;
	top: 6px;
}

.table_area {
	position: relative;
	width: 99%;
	/*todo*/
	max-height: 600px;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	border-right: 1px solid #eee;
}
.table_area th, .table_area td {
	position: relative;
	text-align: center;
	white-space: nowrap;
	padding: 8px 15px !important;
}
.arrow_box{
	position: absolute;
	right: 0;
	top: 5px;
	width: 15px;
	height: 36px;
}
.arrow_box > .fa{
	font-size: 14px;
	cursor: pointer;
	display: block;
	width: 15px;
	height: 12px;
	line-height: 12px;
	color: #999;
	opacity: 0.8;
}
.arrow_box > .fa.on{
	color: #00abe4;
}
#fixedHead {
	position: absolute;
	height: 35px;
	line-height: 20px;
	left: 0;
	top: 0;
	z-index: 2;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid #eee;
}
#tableBox {
	position: relative;
	left: 0;
	top: 0;
	max-height: 600px;
	overflow: auto;
}
.table {
	margin-bottom: 5px;
}
#tableBox::-webkit-scrollbar {
	width: 0;
}
.table_area::-webkit-scrollbar {
	height: 5px;
}


.page_box{
	float: right;
}
.pagination{
	float: left;
	margin: 0;
}
.pagination > li{
	cursor: pointer;
}
.page_info{
	float: left;
	margin: 0 10px;
}
.page_info input{
	margin: 0 5px;
	width: 30px;
	height: 28px;
	text-align: center;
	border-radius: 2px;
}
.page_set{
	float: left;
}