#wrapper{background:#fff;}
#main-container{padding-left:20px;padding-right:20px;}
.conditions{width:99%;background:#f9f9f9;margin-top:10px;padding:0 10px;border-radius:4px;border:1px solid #ddd;}
.conditions .c_row{margin:10px;}
.conditions label{margin-right:10px;margin-bottom:0;}
.conditions select{height:30px;background:#fff;border:1px solid #aaa;color:#444;}
.conditions .btn{height:30px;line-height:14px;}
.date_picker{width:150px;height:30px;border-radius:4px;border:1px solid #aaa;color:#444;}
.c_title{margin-right:5px;}
.select2-container .select2-selection--single{height:30px;margin-top:-1px;}
.time_picker{position:absolute;right:10px;top:14px;border:1px solid #ddd;background:#fff;z-index:2;}
.time_input_wrapper{position:relative;display:inline-block;width:30px;background:transparent;}
.time_input{text-align:center;width:100%;border:none;}
.time_select{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
.chart_area{margin-bottom:10px;}
.chart_box{position:relative;float:left;width:49%;margin-right:1%;margin-top:10px;padding:10px;border:1px solid #ddd;border-radius:4px;overflow:hidden;background:#f9f9f9;min-height:400px;}
.chart_box_big{width:99%;margin-right:0;}
.table_area{position:relative;width:99%;max-height:400px;overflow-x:scroll;overflow-y:hidden;margin-bottom:20px;}
.table_area th,.table_area td{text-align:center;white-space:nowrap;padding:8px 12px!important;}
#fixedHead{position:absolute;left:0;top:0;z-index:2;background:#fff;box-sizing:border-box;border:1px solid #eee;}
#fixedHead th{padding:8px 12px;}
#tableBox{position:relative;left:0;top:0;max-height:400px;overflow:auto;}
.table{margin-bottom:5px;}
#tableBox::-webkit-scrollbar{width:0;}
.table_area::-webkit-scrollbar{height:5px;}
