

html {
  height:100%;
}

body {
  background-color: #F8F8F8;
  position: relative;
  height: 100%;
}

.mask {
  background-color: #EEEEEE;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.center {
  width: 478px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -239px;
  margin-top: -180px;
}

.center .get-lost {
  background: url(/static/imgs/404bg.png) no-repeat;
  _background: url(static/imgs/_404bg.png) no-repeat;
  width: 478px;
  height: 232px;
  position: relative;
}

.center .back {
  /*background: url(static/imgs/404rect.jpg) no-repeat;*/
  width: 76px;
  height: 23px;
  display: inline-block;
  right: 33px;
  top: 62px;
  position: absolute;
}

.center .timer {
  width: 330px;
  height: 50px;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 60px;
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-boder-radius: 5px;
  -o-boder-radius: 5px;
  
  font-size: 14px;
  color: #434343;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

#seconds {
  color: #ED9400;
  position: relative;
  left: -3px;
}
