
@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");

.title{line-height: 50px;font-size:20px;font-weight: bold;margin-bottom:20px;}
.form-control{display: inline-block;}
.t-select{width:auto;}
.nav{line-height: 36px;}
.nav-a{display: inline-block;background: #fff;color:#777!important;padding:0 20px;text-align: center;border:1px solid #ccc;}
.content{border:1px solid #ccc;border-bottom:0px;overflow: auto;padding-top:30px;}
.subnav{margin:0 20px;}
.sub-content{margin:0px 20px 0;border:1px solid #ccc;border-bottom:0px;height: 700px;}
.subnav{line-height: 24px;}
.subnav-a{display: inline-block;background:#fff;color:#18BFA8!important;padding:0 15px;text-align: center;border:1px solid #18BFA8;border-bottom:none;}
.active{background: #18BFA8;color:#fff!important;}
button{outline:none;border:1px solid #18BFA8;display: inline-block;line-height: 24px;width: auto;padding:3px 6px;border-radius: 5px;background: #fff;color:#18BFA8;}
.bg-green{background: #B7E2D6}
.p-header,.p-body,.p-footer{width:300px;padding: 3px 0;line-height: 30px;}
.p-footer{overflow: hidden}
.p-body{display: inline-block;margin-right: 10px	}
.right{float: right;}
.p-btn{padding:1px 15px;}
.b-bottom{border-bottom:1px dotted #ccc;}
.wide{width:500px;}
.table td,.table th{border:1px solid #777!important;text-align: center;border-collapse:collapse;}
.table td input{text-align: center;}
.table td input[readonly],.table td input[disable]{border:none;background: #f9f9f9}
input[readonly],input[disable]{border:none;background: #f9f9f9!important}
.p-input{display: inline-block;width:200px;height: 28px;line-height: normal;}
.pro-name{width:150px;text-align: center;}
.table{margin-bottom:0;}
.ajax-loading-msg{position:fixed;top:30%;left:50%;margin-left:-150px;width:280px;line-height:20px;text-align:center;z-index:50;background:#fff; color:#777;padding:10px 5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.ajax-loading{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:9999;display: none}

.t-block{overflow: hidden;position: relative;}
.l-block{padding:10px;float: left;padding-bottom:99999px;margin-bottom:-99989px;width: 540px;border:1px solid #ccc;}
.l-block:after{content:'';position: absolute;height:1px;width:100%;bottom:0px;background: #ccc;left: 0px;width:540px;}
.r-block{padding:10px;float:right;width:410px;padding-bottom:99999px;margin-bottom:-99999px;border:1px solid #ccc;}
.r-block:after{content:'';position: absolute;height:1px;width:100%;bottom:0px;background: #ccc;right: 0px;width:410px;}
.b-title-left,.b-title-right,.b-title-bottom{padding:10px 0;}
.b-title-left{width:540px;float: left;}
.b-title-right{width: 410px;float: right;}
.b-title-wrap{overflow: hidden;}
.modal-select{width:150px;}
.modal-select:nth-child(2){margin-right:20px;}
.center{text-align: center;}
.r-block .table-title{line-height:30px;font-size: 16px;}
.r-block .table{margin-bottom:20px;}
.b-block{min-height:90px;line-height: 30px;border:1px solid #ccc;padding:0 10px;overflow: auto}
input.mb20{margin-bottom:20px;}
.r-block .form-control{width:370px;}
.b-block.shop{font-size:16px;}
.b-block.city,.b-block.area{height:90px;line-height: 30px;overflow: auto;background: #fff}
.modal-content{background: #f9f9f9}
.mt10{margin-top:10px;}
.all-city,.all-area{height:150px;}
.city-wrap,.area-wrap{width:944px;margin:0 auto;}
.all-city span,.all-area span{float:left;cursor: pointer;width:53px;display: inline-block;height:24px;margin:3px;line-height: 24px;text-align: center;background: #fff;border:1px solid #777;border-radius: 3px;color:#777;}
.all-city span.active,.all-area span.active{border:1px solid #18BFA8;color:#18BFA8!important;}
.area-title{background: #656060;color:#fff;padding:0 -10px;padding:0 10px;margin:0 -10px;}

