/**
 *
 *	新版页面的通用css, 暂时用skin-7 来命名
 *
 **/


body {
  font: 12px/1.125 microsoft yahei,Arial,Helvetica,sans-serif;
}

#notice-bar {
	margin-left: 222px;
}

#top-nav.skin-7 {
	height: 60px;
	background-color: #00abe4;
	border-bottom: 0 none;
}

#top-nav.skin-7 .home-wrapper {
	width: 222px;
	position: relative;
}

#top-nav.skin-7 .home-link {
	width: 222px;
	height: 60px;
	position: relative;
	line-height: 60px;
	font-size: 22px;
	color: #fff;
	overflow: hidden;
	background-color: #203544;
	border-bottom: 1px solid #284357;
	-webkit-transition: width .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
	transition: width .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}

#top-nav.skin-7 .home-link .project-name {
	opacity: 1;
	margin-left: -9px;
	-webkit-transition: opacity .15s cubic-bezier(0.15, 0.99, 0.18, 1.01);
	transition: opacity .15s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}

#top-nav.skin-7 .home-link .title-content {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	opacity: 0;
	width: 80px;
	height: 60px;
	background-image: url("/static/imgs/topLogo.png");
	-webkit-transition: opacity .25s cubic-bezier(0.15, 0.99, 0.18, 1.01);
	transition: opacity .25s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}

#top-nav.skin-7 .toggle-btn {
	width: 34px;
	height: 34px;
	padding: 6px 10px;
	position: absolute;
	top: 13px;
	right: -17px;
	line-height: 20px;
	font-size: 12px;
	background-color: #fff;
	border-radius: 100%;
	color: #1DADE1;
	z-index: 1;
	-webkit-transition: right .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
	transition: right .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}

#top-nav.skin-7 .aside-info {
	margin-top: 6px;
	margin-left: 33px;
}

#top-nav.skin-7 .aside-info .btn {
	padding: 0px;
	border-radius: 100%;
	position: relative;
	-webkit-transition: right .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
	transition: right .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}

#top-nav.skin-7 .aside-info .btn:hover {
	background-color: #00b8f5;
}

#top-nav.skin-7 .aside-info .btn .fa {
	padding: 14px;
	color: #fff;
	font-size: 18px;
}

#top-nav.skin-7 .aside-info .msg-content .red-point {
	display: block;
	position: absolute;
	top: 16px;
	right: 14px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #ff5a5a;
}

#top-nav.skin-7 .header-info {
	margin-top: 10px;
}

#top-nav.skin-7 .header-info a {
	height: 40px;
	line-height: 40px;
	color: #fff;
	overflow: hidden;
}

#top-nav.skin-7 .header-info .user-info-wrapper {
	position: relative;
	z-index: 1;
}

#top-nav.skin-7 .header-info .user-info-content {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	padding-right: 20px;
	min-width: 125px;
}

#top-nav.skin-7 .header-info .app-download-wrapper {
	width: 112px;
}

#top-nav.skin-7 .header-info .goto-feedback-wrapper {
	width: 100px;
}

#top-nav.skin-7 .header-info .vertical-line {
	float: left;
	width: 1px;
	height: 12px;
	margin-top: 14px;
	background-color: #66cdef;
}

#top-nav.skin-7 .header-info .fa {
	padding: 0 10px 0 20px;
	font-size: 16px;
	margin-top: 12px;
}

#top-nav.skin-7 .header-info .info-text {
	vertical-align: top;
	font-size: 14px;
}

#top-nav.skin-7 .header-info .custom-triangle {
	position: absolute;
	right: 5px;
	top: 18px;
	width: 12px;
	height: 12px;
	background-color: #00abe4;
	transform-origin: 50% 25%;
}

#top-nav.skin-7 .header-info .custom-triangle i {
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-width: 6px 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent transparent transparent ;
}

#top-nav.skin-7 .header-info .custom-triangle em {
	position: absolute;
	right: 0;
	top: -1px;
	width: 0;
	height: 0;
	border-width: 6px 6px 6px 6px;
	border-style: solid;
	border-color: #00abe4 transparent transparent transparent ;
}

#top-nav.skin-7 .header-info .user-info-wrapper ul {
	position: absolute;
	top: 40px;
	left: 0;
	display: none;
	width: 100%;
}

#top-nav.skin-7 .header-info .user-info-wrapper .user-info-list {
	display: block;
	background-color: #009acd;
	color: #fff;
}

#top-nav.skin-7 .header-info .user-info-wrapper .user-info-list:hover {
	background-color: #00abe4;
}

#top-nav.skin-7 .header-info .user-info-wrapper .user-info-list .fa {
	margin-left: 1px;
}

/*#top-nav.skin-7 .header-info .user-info-wrapper:hover {
	margin-right: -1px;
}*/

/*#top-nav.skin-7 .header-info .user-info-wrapper:hover ul {
	display: block;
}

#top-nav.skin-7 .header-info .user-info-wrapper:hover .user-info-content,
#top-nav.skin-7 .header-info .user-info-wrapper:hover .vertical-line {
	background-color: #009acd;
}

#top-nav.skin-7 .header-info .user-info-wrapper:hover .custom-triangle {
	background-color: #009acd;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

#top-nav.skin-7 .header-info .user-info-wrapper:hover .custom-triangle i {
	border-color: #fff transparent transparent transparent;
}

#top-nav.skin-7 .header-info .user-info-wrapper:hover .custom-triangle em {
	border-color: #009acd transparent transparent transparent;
}*/

#top-nav.skin-7 .header-info .user-info-wrapper.hover ul {
	display: block;
}

#top-nav.skin-7 .header-info .user-info-wrapper.hover .user-info-content,
#top-nav.skin-7 .header-info .user-info-wrapper.hover .vertical-line {
	background-color: #009acd;
}

#top-nav.skin-7 .header-info .user-info-wrapper.hover .custom-triangle {
	background-color: #009acd;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

#top-nav.skin-7 .header-info .user-info-wrapper.hover .custom-triangle i {
	border-color: #fff transparent transparent transparent;
}

#top-nav.skin-7 .header-info .user-info-wrapper.hover .custom-triangle em {
	border-color: #009acd transparent transparent transparent;
}

aside.skin-7 {
	width: 222px;
	padding-top: 60px;
	background-color: #203544;
	-webkit-transition: width .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
	transition: width .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}

aside.skin-7 .main-menu > ul > li {
	border-top: 0 none;
	border-bottom-color: #284357;
}

aside.skin-7 .main-menu .nav-header {
	padding-left: 25px;
	padding-right: 25px;
	height: 60px;
	line-height: 34px;
	font-size: 14px;
	position: relative;
	background-color: #162530;
}

aside.skin-7 .main-menu .nav-header .text {
	position:absolute;
	top: 13px;
	left: 25px;
	height: 34px;
	overflow: hidden;
	opacity: 1;
	font-weight: 600;
	-webkit-transition: opacity .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
	transition: opacity .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}

aside.skin-7 .main-menu .nav-header .fa-wrapper {
	position: absolute;
	top: 8px;
	left: 18px;
	width: 46px;
	height: 46px;
	border-radius: 100%;
	overflow: hidden;
	-webkit-transition: all .15s linear;
	transition: all .15s linear;
}

aside.skin-7 .main-menu li.openable:hover .fa-wrapper {
	background-color: #2c4a5e;
}

aside.skin-7 .main-menu .nav-header .fa-wrapper .fa:first-child {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 46px;
    width: 1em;
}

aside.skin-7 .main-menu .openable .nav-header.collapsed,
aside.skin-7 .main-menu .openable .nav-header:active {
	background-color: #203544;
}

aside.skin-7 .main-menu li.openable ul > li:before {
    content: "";
    left: 40px;
    top: 15px;
    bottom: -15px;
    position: absolute;
    display: block;
    width: 1px;
    border-left: 1px dashed rgba(44, 60, 72, 1);
    z-index: 1;
    color: #2c3c48;
}

aside.skin-7 .main-menu li.openable ul > li:first-child:before {
	top: 0;
}

aside.skin-7 .main-menu li.openable ul > li:last-child:before {
	bottom: 15px;
}

aside.skin-7 .main-menu li.openable ul > li > a:before {
	content: "";
    left: 40px;
    top: 18px;
    position: absolute;
    display: block;
    width: 21px;
    border-bottom: 1px dashed rgba(44, 60, 72, 1);
    color: #2c3c48;
    z-index: 1;
}

aside.skin-7 .main-menu .fa {
	margin-right: 32px;
}

aside .main-menu > ul > li > a .text {
	margin-left: 55px;
}

aside.skin-7 .main-menu .nav-list a {
	font-size: 14px;
	font-weight: 200;
	background-color: #162530;
	padding: 9px 10px 9px 80px;
	color: #8b9298;
}

aside.skin-7 .main-menu li.active .nav-list .active a,
aside.skin-7 .main-menu > ul > li.active .nav-header {
	color: #3ac6f4;
}

aside.skin-7 .main-menu > ul > li > a .menu-hover {
	background-color: #00abe4;
}

#main-container {
	margin-left: 222px;
}

#breadcrumb-bar {
	margin-left: 222px;
}

.wrapper-mini #top-nav.skin-7 .home-link {
	width: 80px;
}

.wrapper-mini #top-nav.skin-7 .home-link .title-content {
	opacity: 1;
}

.wrapper-mini #top-nav.skin-7 .toggle-btn {
	right: 126px;
}

.wrapper-mini #top-nav.skin-7 .home-link .project-name {
	opacity: 0;
}

.wrapper-mini aside.skin-7 {
	width: 80px;
}

.wrapper-mini aside.skin-7 .main-menu li {
	border-bottom-color: #203544;
}

.wrapper-mini aside.skin-7 .main-menu .nav-header {
	padding-left: 0;
	padding-right: 0;
	height: 60px;
}

.wrapper-mini aside.skin-7 .main-menu .nav-header .text {
	opacity: 0;
}

.container-mini #main-container {
	margin-left: 90px;
}

.container-mini #breadcrumb-bar {
	margin-left: 80px;
}

.container-mini #notice-bar {
	margin-left: 80px;
}

.wrapper-mini aside.skin-7 .main-menu .active .fa-wrapper {
	background-color: #3ac6f4; 
	color: #fff;
}

.wrapper-mini aside.skin-7 .main-menu .active .menu-hover {
	display: none;
}

.wrapper-mini aside.skin-7 .main-menu .nav-list {
	display: none;
}

aside .main-menu > ul > li .submenu li a .submenu-label {
	width: 100px;
	white-space: nowrap;
}

@media (max-width: 1024px){

	.app-download-wrapper .info-text{
		display: none;
	}
	.goto-feedback-wrapper .info-text{
		display: none;
	}
	#top-nav.skin-7 .header-info .app-download-wrapper{
		width: 60px;
	}
	#top-nav.skin-7 .header-info .goto-feedback-wrapper{
		width: 60px;
	}
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


#nav-tip{
	z-index: 9999;
}
#menu-tip{
	background-image: url('/static/imgs/menu-tip.png');
	position:absolute;
	left:221px;
	top:32px;
	width:270px;
	height:265px;
}
#tip-toggle-menu
{
	width: 34px;
	height: 34px;
	padding-left:12px;
	padding-top: 7px;
	position: absolute;
	top: 13px;
	left: 206px;
	line-height: 20px;
	font-size: 12px;
	background-color: #fff;
	border-radius: 100%;
	color: #1DADE1;
	z-index: 1;
	-webkit-transition: right .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
	transition: right .5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
}
#full-screen{

	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -10;
	background-color: transparent;
}
.pop_wanttime_span{
	width: 50%; display: inline; float: right; padding-left:10px;font-size: 14px;padding-top: 7px;
}