html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,figure,menu,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,select,th,td {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

a {
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

a:active {
    outline: 0
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%
}

address,cite,dfn,em,i,var {
    font-style: normal
}

strong {
    font-weight: normal
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: .09rem
}

ul,ol {
    list-style: none
}

button,input,select,textarea,input[type="text"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"] {
    font-family: inherit;
    font-size: 100%;
    border: none
}

button:focus,input:focus,select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus {
    outline: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button
}

textarea {
    overflow: hidden;
    vertical-align: top
}

input,textarea {
    -webkit-appearance: none
}

input[type=search] {
    -webkit-appearance: none;
    box-sizing: content-box
}

input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {
    display: none
}

img {
    border: none;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

html {
    font-size: 100px;
    font-size: 31.25vw
}

body {
    background-color: #f0f0f0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .126rem;
    line-height: 1;
    color: #333
}

a {
    color: #333;
    text-decoration: none
}

a:focus,a:visited,a:active {
    color: #333;
    text-decoration: none
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table;
    clear: both
}

.ps {
    padding: 0 .07rem;
    background-color: white;
}

.ps-carousel {
    position: relative;
    padding-top: .07rem;
    padding-bottom: .07rem;
}

.ps-carousel .carousel-box {
    position: relative;
    overflow: hidden;
}

.ps-carousel .carousel-box:before {
    width: 100%;
    display: block;
    content: "";
    padding-top: 41.5584%;
}

.ps-carousel .list-carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.ps-carousel .list-carousel li {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.ps-carousel .list-carousel li {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
