@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
.js_submitbtn{
    font-size:13px;
}
table th,td{
    text-align:center;
}
.ui-widget-content{ background: #eeeeee; }
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 300px;
}
.mis-search-ul {
/*position: absolute;*/
      border: 1px solid rgba(0,0,0,.15);
      /*min-width: 160px;*/
      width: 100%;
      background-color: white;
}

.mis-search {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0 15px;
  height: 200px;
  left: 0;
}

.mis-search-ul li {
  margin: 0px 0px;
  padding: 5px 5px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  cursor: pointer;
}
.mis-search-ul li:hover {
  background-color: rgba(0,0,0,.15);
}