<meta charset="utf-8">
<title>斑马配送</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<script type="text/javascript">
  var MT = {};
  MT.BOOTSTAMP = new Date().getTime();
  MT.STATIC_ROOT = "/static";
</script>
