<div id="top-nav" class="fixed skin-2">
  <a href="#" class="brand">
    <span>斑马配送</span>
    <span class="text-toggle">配送</span>
  </a>
  <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <ul class="nav-notification clearfix">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-lg"></i>
        <span class="notification-label bounceIn animation-delay4">7</span>
      </a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-lg"></i>
        <span class="notification-label bounceIn animation-delay6">5</span>
      </a>
    </li>
  </ul>
</div>