<#include "../base/home_config.ftl">
<#include "../widgets/sidebar.ftl">

<content tag="pageName">error</content>


<div id="main-container">

    <div style="font-size: 2em; margin-left: 1em">活动通知系统</div>

    <div style="margin: 2em; border: solid 1px #696969; height: 25em">
        <div style="text-align: center; width: 100%; margin-top: 2em; font-size: 1.5em">
            活动通知推送成功！
        </div>
    </div>

</div>