
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 处理一下微信分享的降级方案 -->
    <title>
        <#if shareInfo??>
            ${shareInfo.shareTitle?default('领取美团众包新人奖励')}
        <#else>
            领取美团众包新人奖励
        </#if>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <style>
        *{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);word-wrap:break-word;word-break:break-all;}
        ul,li{list-style:none}
        a,a:focus,a:active{outline:0;text-decoration:none}
        html,body{width:100%;background-color: #f6efde}
        body{-webkit-touch-callout:none;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);
            position:relative;opacity:0}
        .appBg{width:100%;display:block}
        .desc{position: absolute; top:4.7rem; font-size: 0.3rem; width: 100%; text-align:center; color: #fff}
        .desc span{color:#facd1f;padding: 0.03rem; display: inline-block;}
        .desc p{line-height: 0.4rem}
        .desc b{font-weight: normal;}
        .form{position: absolute; top:6.3rem; text-align: center; width: 100%}
        .form p{width: 4.6rem;margin: 0 auto;}
        .form input{border: 1px solid #eaeaea; height: 0.7rem; display: block;  margin-bottom: 0.22rem; font-size: 0.26rem; padding:0 0.2rem; width: 4.2rem;border-radius: 0.05rem;}
        .form .code{position: relative; display: none;}
        .code a{position: absolute;top: 0.1rem;right: 0.3rem;font-size: 0.26rem;line-height: 0.5rem;border-left: 1px solid #ccc;padding-left: 0.3rem;color: #e24634;}
        .code button{position: absolute;display: none;top: 0.01rem;right: -0.01rem;width: 1.95rem;height: 0.71rem;border: 0;background-color: #dcdcdc;font-size: 0.2rem;color: #898989;}
        .btn{width: 4.6rem;height: 0.7rem;display: block;font-size: 0.3rem;background-color: #e24634;color: #fff;line-height: 0.7rem;border-radius: 0.05rem;}
        .memo img{width: 1.29rem; display: block; margin: 0.6rem auto;}
        .notice{padding: 0 0.6rem; display: none;}
        .notice h1{font-size: 0.4rem;text-align: center;line-height: 1rem;}
        .notice p{font-size: 0.22rem; line-height: 0.4rem}
        .notice a{font-size: 0.22rem; text-align: center; display: block; width: 2rem;height: 0.5rem;display: block;background-color: #e24634;color: #fff;line-height: 0.5rem;border-radius: 0.05rem; margin: 0.5rem auto;}
        .down{display: none;}
       .alert{ font-size: 0.28rem;height: 0.6rem;line-height: 0.6rem; width: 5.4rem; position: fixed; margin-left:0.5rem; text-align: center; background-color: #000; opacity: 0.8; color:#fff; border-radius: 0.06rem; top:5%; display: none;}
       .money{font-family: "Arial"}
       .bigmoney{position: absolute;top: 2.4rem;font-size: 1.4rem;color: #EC4F38;
    left: 0;
    font-family: Arial;
    width: 100%;
    text-align: center;}

    .no-ctn-down .btn{
        margin: .7rem auto;
    }

    .no-ctn,
    .offline-ctn {
        font-size: .29rem;
        color: #959595;
        text-align: center;
        margin-top: -1.3rem;
    }
    .offline-desc {
        line-height: .4rem;
    }

    .download {
        color: #e24634;
        font-size: .29rem;
        text-align: center;
        padding-top: .4rem;
    }

    .download a{
        color: #e24634;
        text-decoration: underline;
    }

    .download a::before {
       background: url(http://xs01.meituan.net/banma_all/imgs/h5/reward_download.png) no-repeat;
        display: inline-block;
        content: '';
        width: .2rem;
        height: 0.36rem;
        background-size: .2rem;
        top: .1rem;
        position: relative;
        margin-right: 0.08rem;
    }
    .emp {
        color: red;
    }



    .toast {
        background: rgba(0, 0, 0, 0.65);
        border-radius: 1rem;
        color: white;
        padding: 0 .1rem;
        height: .6rem;
        line-height: .6rem;
        font-size: 0.3rem;
        width: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25%;
        display: none;
    }

    </style>
    <script>var money = ${params.money};</script>
</head>
<body>
 <!-- 处理一下微信分享的降级方案 -->
    <#if shareInfo??>
        <img src="${shareInfo.logo?default('/static/imgs/share_icon_300.png')}" style="display:none" />
    <#else>
       <img src="/static/imgs/share_icon_300.png" style="display:none" />
    </#if>

<div class="input">
    <img src="/static/imgs/act/act_bg.png" class="appBg"/>
    <img src="/static/imgs/act/act_2.png" class="appBg"/>
    <div class="bigmoney">&#165;${params.money}</div>
    <div class="desc">
        <p><b>${sender!'您的好友'}</b> 邀请你加入美团众包</p>
        <p>送您<span class="money">${params.money}</span>元现金奖励！</p>
    </div>
    <div class="form" style="">
        <p class="mobile"><input type="text" id="mobile" placeholder="请输入手机号码"/></p>
        <p class="code"><input type="text" id="code" placeholder="输入验证码"/><a>获取验证码</a><button>重新获取(60s)</button></p>
        <p class="button"><a class="btn" id="submit">领取奖励</a></p>
        <p class="down"><a class="btn" href="http://peisong.meituan.com/zhongbao">下载美团众包</a></p>

    </div>

     <div class="offline-ctn" style="display: none;">
        <p class="offline-desc">抱歉，本期活动已下线</p>
        <p class="offline-desc">感谢您对美团众包的支持</p>


    </div>

    <div class="no-ctn" style="display: none;">
        <p class="offline-desc">抱歉，您所在区域暂无活动</p>
        <p class="offline-desc">感谢您对美团众包的支持</p>

        <p class="no-ctn-down"><a class="btn" href="http://peisong.meituan.com/zhongbao">下载美团众包</a></p>
    </div>

    <div class="download" style="display: none;">
        <a href="${downLoadPage}">
        点此下载美团众包
        </a>
    </div>
    <p class="memo"><img src="/static/imgs/act/act_3.png"/></p>
</div>

<div class="toast">
    请输入正确的手机号码
</div>

<div class="notice">
    <h1>活动说明</h1>
    <p>第一步：被邀请用户在邀请页面输入手机号（被邀请用户必须是未注册过美团众包的新用户，每个手机号仅限一次）。</p>
    <p>第二步：被邀请用户下载美团众包App，并用邀请页面输入的手机号注册美团众包账号。</p>
    <p>第三步：被邀请用户按规则完成1单<span class='emp'>普通订单</span>配送，且首个通过审核的订单必须为<span class='emp'>普通订单</span></p>
    <p>第四步：邀请人和被邀请人同时获得相应金额奖励。</p>

    <p style="margin-top: .3rem">其他说明</p>
    <p>1. 本期活动结束时间以平台通知时间为准。</p>
    <p>2. 最终奖励以被邀请人完成订单所在的城市当日活动金额为准发放。</p>
    <p>3. 使用非正常途径或手段获得的现金奖励无效。</p>
    <p>4. 美团众包可根据活动举办的实际情况，在法律允许的范围内，对本活动的规则进行变动或调整，相关变动或调整将公布在活动页面上。</p>
    <p class="ios" style="display: none;">5. 该活动与苹果公司无关</p>
    <a class="btn">关闭</a>

</div>
<div class="alert"></div>
<!-- 获取后台维护的微信分享相关参数 -->
<form method="post" id="shareInfo-form">
    <#if shareInfo??>
        <#list shareInfo?keys as key>
            <input type="hidden" name="${key}" value="${shareInfo[key]}">
        </#list>
    </#if>
</form>
<#include "../common-params.ftl">
</body>
<!-- 引用微信分享的sdk -->
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/static/js/lib/zepto.min.js"></script>
<script type="text/javascript">
    function t(){var e=window.innerWidth;document.getElementsByTagName("html")[0].style.fontSize=.9765625*e+"%",document.getElementsByTagName("body")[0].style.opacity=1}window.onresize=t,window.onorientationchange = function(){setTimeout(t,500)},setTimeout(t,100);
    var isShowValidate = false;
    <#if number?? && number==1>
    isShowValidate = true;
    </#if>

    // PRD文档：http://wiki.sankuai.com/pages/viewpage.action?pageId=570269482
    // 金额为0时视为该区域无活动
    if (money === 0) {
        $('.form').hide();
        $('.no-ctn').show();
        $('.memo').hide();
    }

    var u = navigator.userAgent;
    var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
    if (isIOS) {
        $('.ios').show();
    }

    switch($(".desc b").text().length){
        case 4:
            $(".desc").css("font-size","0.29rem");
            break;
        case 5:
            $(".desc").css("font-size","0.27rem");
            break;
        case 6:
            $(".desc").css("font-size","0.25rem");
            break;
    }
    var countDown;
    var delay = 60;
    var clearCountDown = function(){
        $(".code button").hide();
        $(".code a").show();
        clearInterval(countDown);
        delay = 60;
    };
    $(".code a").click(function(){
        $(".code button").show();
        countDown = setInterval(function(){
            delay--;
            $(".code button").text("重新获取("+delay+"s)");
            if(delay==0){
                clearCountDown();
            }
        },1000);
         $.ajax({
            url:"/recommend/getValidateCode?mobile=" + $("#mobile").val(),
            async:true,
            dataType:'json',
            success: function (data) {
                if (data == null) {
                    myAlert("获取验证码失败,请稍后重试");
                    clearCountDown();
                } else if (data.code != 0) {
                    myAlert(data.msg);
                    clearCountDown();
                } else{
                    myAlert("验证码发送成功");
                }
            },
            error: function () {
                myalert("获取验证码失败,请稍后重试");
               clearCountDown();
            }
        }); 
    });
    $(".memo img").click(function(){
        $(".input").hide();
        $(".notice").show();
    });
    $(".notice a").click(function(){
        $(".input").show();
        $(".notice").hide();
    });
    if(isShowValidate===true){
        $(".code").show();
    };
    var senderId = $("form#params-form input[name=mtUserId]").val();
    var promoteType = $("form#params-form input[name=promoteType]").val();

    var timer;
    function showToast() {
        $('.toast').show();
        if (timer) {
            clearTimeout(timer);
            timer = null;
        }
        timer = setTimeout(function() {
            $('.toast').hide();
        }, 2000);
    }

    $("#submit").click(function() { 
        var phone = $("#mobile").val();
        var phoneReg = /^1\d{10}$/;
        if (!phoneReg.test(phone)) {
            showToast();
            return;
        }

        var validateCode = $("#code").val();
        if(validateCode=="")
            validateCode = 0;
        if (!!phone) {
            var param = new Object();
            param.mtUserId = senderId;
            param.mobile = phone;
            param.promoteType = promoteType;
            param.validateCode = validateCode;
            $.post("/recommend/getReward", $.param(param), function(data) {
                var code = data.code;
                switch(data.code){
                    case 700:
                         showNotice('<p>恭喜，您已获得<span class="money">' + money + '</span>元奖励!</p><p>按规定完成<span class="money">1</span>单任务后自动发放</p>');
                    break;
                    case 701:
                        showNotice('<p>抱歉，老用户不能领取此奖励</p><p>邀请新伙伴，各得<span class="money">' + money + '</span>元</p>');
                    break;
                    case 702:
                         showNotice('<p>您已领取过<span class="money">' + money + '</span>元奖励</p><p>按规定完成<span class="money">1</span>单任务自动发放</span></p>');
                    break;
                    case -2:
                        myAlert(data.msg);
                        $(".code").show();
                    break;
                    // 接口文档：http://wiki.sankuai.com/pages/viewpage.action?pageId=259770580
                    // 处理新的799 code
                    case 799:
                        location.reload();
                    break;
                    case -1://不明错误
                        myAlert("服务器遇到问题，请稍后重试");
                    break;
                    default:
                        myAlert(data.msg);
                    break;
                }
            });
        }
    });
    var showNotice = function(msg){
        $(".desc").html(msg);
        $(".down").show();
        $(".mobile,.code,.button").hide();
    };
    var myAlert = function(msg){
        $(".alert").text(msg).show();
        setTimeout(function(){$(".alert").hide()},3000);
    }
</script>
<script type="text/javascript">
    var shareTitle = $('form#shareInfo-form input[name=shareTitle]').val();
    var shareDesc = $('form#shareInfo-form input[name=shareDesc]').val();
    var nonceStr = $('form#shareInfo-form input[name=nonceStr]').val();
    var timestamp = $('form#shareInfo-form input[name=timestamp]').val();
    var signature = $('form#shareInfo-form input[name=signature]').val();
    var shareUrl = $('form#shareInfo-form input[name=shareUrl]').val();
    var logo = $('form#shareInfo-form input[name=logo]').val();

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: 'wx40e82d6d63d99ff6', // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名，见附录1
        jsApiList: [
            'onMenuShareTimeline', 
            'onMenuShareAppMessage',
            'onMenuShareQQ'
        ]
    });

    wx.ready(function() {
        // 分享至微信朋友圈
        wx.onMenuShareTimeline({
            title: shareTitle, // 分享标题
            link: shareUrl,
            imgUrl: logo // 分享图标
        });
        // 分享至微信朋友
        wx.onMenuShareAppMessage({
            title: shareTitle, // 分享标题
            desc: shareDesc, // 分享描述
            link: shareUrl,
            imgUrl: logo, // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
        });
        // 分享至QQ
        wx.onMenuShareQQ({
            title: shareTitle, // 分享标题
            desc: shareDesc, // 分享描述
            link: shareUrl, // 分享链接
            imgUrl: logo, // 分享图标
        });
    });
</script>
</html>