.nav-tabs{
border-bottom:0px;
}


.panel-heading{
 padding-left:0px;
}

.row{
margin-top:20px;
}

#mobile-button{
      background: #65cea7;
          width: inherit;
}
#main-container{
padding-left:20px;
}