/*h1*/
/*{*/
    /*background-color: #F0F0F0;*/
    /*line-height: 30px;*/
    /*font-size: 18px;*/
    /*padding: 5px;*/
    /*margin-bottom: 0px;*/
/*}*/

@import url("../pstyle1.css");
.dialog
{
    position: relative;
}
.dialog td
{
    padding:2px;
}


.poi-list li
{
    display: inline;
    margin-left: 10px;
}

.poi-list li label
{
    margin-left: 2px;
}

.table td
{
    overflow: hidden;
    text-overflow: ellipsis;
}

#nav
{
    display: inline-table;
}

table tr td { text-align:center}