/*原子*/
.minw500{
	min-width: 500px;
}
/*some*/
#wrapper{
	position: static;
}
.opration-icon{
	cursor: pointer;
    margin-left: 5px;
}
.btn-primary{
	color: #fff;
    background-color: #428bca !important;
    border-color: #357ebd !important;
}
.station-wrap{
	margin-left: 20px;
}
.section h5.title{
	border-bottom: solid 2px #d9d9d9;
	padding-bottom: 8px;
}
.section .form-group{
	margin: 10px 10px;
}
/*按钮相关*/
.operate {
	margin: 0;
	margin-top: 30px;
}
.operate .btn-wrap{
	text-align: center;
}
.operate .btn-wrap .btn{
	margin-left: 20px;
	padding: 7px 27px;
}
.operate .form-group{
	margin-left: 20px;
}
/*结果列表*/
.search-list{
	margin: 15px 10px;
	background: #fff;
}
.search-list .search-result-info{
    text-align: center; 
    padding-bottom: 20px;
    display: none;
}
.search-list .pagination{
    margin-top: 0;
    margin-bottom: 30px;
}
.search-list th,.search-list td{
	text-align: center;
}
.search-list .list-riderInfo{
    min-width: 150px;
}
.search-list .list-operate{
    min-width: 100px;
}
/*编辑和查看的控制*/
#main-container{
    padding-left: 20px;
}
#main-container .section{
    position: relative;
}
#main-container .operate-wrap .result-msg{
    color: #65cea7;
    margin-left: 140px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 10px;
}
#main-container .for-modify{
	display: none;
}
#main-container.modify .for-modify{
	display: block;
}
#main-container.modify .for-add{
	display: none;
}
#main-container h4{
	margin-bottom: 20px;
}
/*驻店时间模块*/
.timeModal .modal-content{
    padding: 20px;
    text-align: center;
    padding-bottom: 40px;
}
.timeModal .table>tbody>tr>td{
	text-align: center;
}
.timeModal .table>tbody>tr>td input{
	position: static;
}
.timeModal .table>tbody>tr>td label{
	cursor: pointer;
    margin-left: 5px
}
.timeModal .form-group{
	position: relative;
}
.timeModal .weekDayName{
    text-align: left;
    margin-bottom: 0;
    text-indent: 10px;
}
.timeModal .result-msg{
    color: #65cea7;
    margin: 0;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 12px;
    display: none; 
    text-align: center;
    width: 100%;
}
.timeModal .result-msg.error{
    color: red;
}

/*del_confrim_tpl*/
.modal.del_confrim_tpl h5{
    margin-bottom: 20px;
    text-indent: 20px;
}
.modal.del_confrim_tpl p{
    text-indent: 40px;
}

/*datetimepicker*/
/*.datetimepicker-minutes thead,
.datetimepicker-hours thead{
	display: none;
}*/
.timepicker[readonly]{
    cursor: default; 
    background-color: #fff;
}
.time-list{
	display: none;
    position: absolute;
    width: 200px;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    z-index: 99;
    left: 0;
    top: 34px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #fff;
    text-align: center;
}
.time-list:before{
    content: '';
    top: -7px;
    left: 6px;
    display: inline-block;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
}
.time-list p{
    border-bottom: solid 2px #D5D5D5;
    padding-bottom: 5px;
    padding-top: 5px;
}
.time-list span{
	display: inline-block;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
}
.time-list span.disabled{
    cursor: default;
    color: #B1ABAB;
}
.time-list span.disabled:hover{
    background: #fff;
}
.time-list span:hover {
    background: #eee;
}

/*错误信息*/
.error-info{
	color: red;
    margin-top: 10px;
    display: none;
}

/*加载中gif*/
.loadding-icon {
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    vertical-align: top;
    width: 20px;
    background: url(/static/imgs/loading.gif) 50% 50% no-repeat;
    background-size: 20px 20px;
}
/*加载中*/
.loading-wrap{
    position: fixed;
    z-index: 99;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 20px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    font-size: 20px;
    display: none; 
    color: #fff;
}
.loading-wrap p{
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading-wrap p:before{
	content: "加载中...";
	display: inline-block;
}
