@import url("../../fonts/weather-icons.css");

.home_panel_content{
  width: 100%;
}
.home_panel_title{
  font-size: 16px;
  color: #363636;
  font-weight: bold;
}
.home_panel_left{
  float: left;
  width: 50%;
  padding-right: 5px;
  padding-top: 20px;
}
.home_panel_right{
  float: right;
  width: 48%;
  padding-left: 5px;
  padding-top: 20px;
}

.wether_link{
  color: #00a855;
}

.wether_link:hover,
.wether_link:focus{
  color: #00a855;
}

.home_panel_link
{
  color: #00a855;
  float: right;
  font-size: 13px;
}
.home_panel_link:hover,
.home_panel_link:focus
{
  color: #00a855;
}

.home_panel_head{
  margin: 3px 0 10px 0px;
}
.home_count_span{
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
}
#dis_rider_counts{
  width: 90%;
}
.home_line_info{
  line-height: 30px;
  color: black;
  height: 30px;
  margin: 0;
  margin-top: 9px;
  font-size: 13px;
}
.home_data_count{
  font-size: 26px;
  color: #434343;
}
.home_data_height{
  height: 100px;
  float: left;
  width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 10px;
}
#riderEfficiency, #incidentRatio{
  padding-left: 20px;
}
.home_data_rate .tooltip-arrow
{
  display: none;
}
.home_data_rate{
  display: inline-block;
  padding-right: 20px;
  float: right;
  color: #666666;
}
.home_data_left{
  padding-right: 15px;
}


.home_data_rate p{

  margin-bottom: 5px;
}

.data_module_title{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #666666;
  font-size: 13px;
}
#completeWaybill, #completeRatio{
  padding-left: 25px;
  padding-right: 0;
}

#incidentRatio, #completeRatio{ padding-top: 20px; }
.border_bottom{
  border-bottom: 1px solid #ddd;
}
.border_right{
  border-right:  1px solid #ddd;
}
.home_btn_group
{
  width: 100%;
}
.home_btn_left{
  border: 1px solid #868686;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.home_btn_right{
  border: 1px solid #868686;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.home_btn_group .nav > li > a{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #868686;
}
.home_btn_group .nav > li > a:hover{
    background-color: transparent;
    color: #868686;
}

.home_btn_group .home_btn{
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
.home_btn:hover{
  background-color: transparent;
}
.home_btn_group .nav > .active > a,
.home_btn_group .nav > .active > a:hover{
    background-color: #868686;
    color: white;
}
.home_btn_group .home_btn .selected{
  background-color: #868686;
  color: white;
  cursor: default;
}
.problem_title{
    width: 98%;
    height: 30px;
    line-height: 40px;
    text-align: right;
    padding-top: 6px;
}
.problem_title a{
    font-size: 13px;
    color: #00a855;
}
.problem_title a:hover{
    color: #00a855;
}
.problem_main{
    width: 100%;height: 100%;
    margin-top: 8px;
}
.problem_main_li{
    width: 100%;
    border:1px solid #eee;
    padding: 10px;
    background: white;
    color: #868686;
    border-radius: 7px;
    margin-bottom: 6px;
    font-size: 13px;
    cursor: pointer;
}
.problem_main_li span{
  width: 92%;overflow: hidden;
}
.problem_main_li a{
    display: inline-block;
    float: right;
    width: 8%;
    text-align: center;
    cursor: pointer;
}



.panel-stat3
{
  cursor: default;
  min-height: 290px;
  max-height: 290px;
  background-color: #f5f7f9;
  border: 1px solid #e4e4e4;
  padding: 10px 18px;
  padding-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.container-mini .home_head
{
  margin-left: -30px;
}
.home_head
{
  height: 50px;
  background-color: #f5f7f9;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 10px;
  padding-left: 10px;
  color: #363636;
  border-bottom: 1px solid #e4e4e4;
}
#home_name{
  font-size: 22px;
  padding-left: 22px;
  line-height: 29px;
}
#main-container{
    min-height: 0;
}
#wrapper{
    min-height: 0;
    background-color: white;
}
body{
  background-color: white;
}
.select-right{ margin-right: 15px; }
.home_orange_back{
  background-color: #ff9933
}
.home_rate_num span{
  padding-right: 5px;
}

#abnormal_waybill,
#exam{

  background-color: white;
  border-radius: 3px;
  border: 1px solid #00a855;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  color: #00a855;
}
#abnormal_waybill a,
#exam a{
  padding-top: 4px;
  color: #00a855;
}

.noti_head a{
  padding-top: 4px;
  color: #00a855;
}

.abnormal_count{
  font-size: 18px;
  padding: 0 2px;
  color: #868686;
}
.red_color{
  color: #f00;
}
.noti_row{
  border-top: 1px solid #ddd;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.noti_notread{
  margin-right: 20px;
  margin-top: -10px;
  border: 1px solid red;
  border-radius: 4px;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
  color: red;
}

.noti_row p{
  margin-bottom: 3px;
  font-size: 13px;
  color: #666;
  margin-right: 60px;
}
.noti_row span{
  color: #868686;
}
#notification{
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  color: #00a855;
}
.noti_head{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
}
.noti_head a{
  padding-top: 5px;
}
.padding_lr_5{
  padding-left: 5px;
  padding-right: 5px;
}
.double_row{
  min-height: 600px;
  max-height: 600px;
  padding: 0;
}
.margin_top_10{ margin-top: 10px; }
/*select2 style*/
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-right: 20px;padding-left: 20px;
}
.message-container{
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.section-title{
  font-size: 14px;
  color: #666;
}
#auditMsg{
  margin-top: 20px;
}
.message-header{
  padding-top: 11px;
  padding-right: 10px;
  padding-left: 10px;
  height: 36px;
  color: #666;
  cursor: pointer;
  font-size: 13px;
}
.msg-count{
  float: right;
  color: #00a855;
}

.normal-color{
  color: #666;
}
.message-list{
  max-height: 287px;
  overflow: hidden;
  position: relative;
}
.message-list-inner{
  transition: transform .3s;
}
.message-footer{
  padding-top: 10px;
  color: #00a855;
  position: relative;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 13px;
  height: 35px;
}
.msg-back{
  position: absolute;
  left: 10px;
  top:10px;
  cursor: pointer;
}
.msg-next{
  cursor: pointer;
}

.msg-open .fa-angle-right{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (max-width: 1350px) {
    .home_data_height{

      padding-left: 15px;
      padding-right: 0;
    }
    #riderEfficiency, #incidentRatio{
      padding-left: 10px;
    }
    .home_data_rate{
      padding-right: 10px;
    }
    .home_data_left{
      padding-right: 10px;
    }
    #completeWaybill, #completeRatio{
      padding-left: 10px;
      padding-right: 0;
    }
}

@media (max-width: 1210px) {
    .home_data_height{

      padding-left: 5px;
      padding-right: 0;
    }
    #riderEfficiency, #incidentRatio{
      padding-left: 5px;
    }
    .home_data_rate{
      padding-right: 0;
    }
    .home_data_left{
      padding-right: 0;
    }
    #completeWaybill, #completeRatio{
      padding-left: 5px;
      padding-right: 0;
    }
  .home_data_count{
    font-size: 22px;
    color: #434343;
  }
  .panel-stat3
  {
    padding: 10px 8px;
  }
}

/*
 * @huanghuijie写的相关天气组件样式，从weather-icons.css中迁移到这里来。个人样式尽量避免污染全局样式
 * by @liupeidong
*/
/*
 * 天气组件的一些定位我也会写在这。
 */
.weather{
    width: 100%;height: 100%;
}
.weather > .weather-header{
    width: 100%;height: 30px;
    padding: 5px 20px;
}
.weather .color-333{ color: #333; }
.weather .color-666{ color: #666; }
.weather .color-999{ color: #888; }
.weather .clear-float{ clear: both; }
.weather .weather-icon{ color: #3C9AE3;font-size: 1.7em; }
.weather > .weather-main{ text-align: center; }
.weather > .weather-main h5{ margin-top: 0;font-weight: normal; }
.weather > .weather-main h1{ margin-top: 10px;margin-bottom: 0; }
.weather > .weather-main h1 span{
  position: absolute;
  font-size: 12px;
  margin-top: 7px;
  margin-left: 2px;
}

.left-padding-10{ padding-left: 10px; }
.weather > .weather-imgshow{ width: 100%;margin-top: 5px; }
.weather > .weather-imgshow .right-sapn{ text-align: right; }
.weather > .weather-imgshow > .weather-imgshow-title{
    width: 100%;height: 20px;padding: 2px 10px;
}
.weather > .weather-imgshow > .weather-imgshow-title h5{
  width: 40%;margin-top: 0;margin-bottom: 0;
  padding-left: 5px;font-weight: normal;
}
.weather > .weather-imgshow > .weather-imgshow-main{
    width: 100%;height: 80px;
    border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;
}
.weather > .weather-imgshow > .weather-imgshow-main > .weather-imgshow-li{
    width: 16.5%;height: 100%;
    float: left;text-align: center;
    color: #666;
}
.weather > .weather-imgshow > .weather-imgshow-main > .weather-imgshow-li h5{
  margin-bottom: 4px;font-size: 13px;font-weight: normal;
}
.weather > .weather-imgshow > .weather-imgshow-main > .weather-imgshow-li div{
  margin-top: 8px;
}
.weather > .weather-imgshow > .weather-imgshow-main > .weather-imgshow-li span{
    font-size: 13px;
    margin-top: 5px;
    display: block;
}
.weather > .weather-after-day{
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 8px;
}
.weather > .weather-after-day > .weather-after-day-li{
    height: 25px;width: 100%;
    line-height: 25px;margin-top: 3px;
}
.weather > .weather-after-day > .weather-after-day-li .weather-after-day-week{
    width: 30%;text-align: left;/*font-size: 14px;font-weight: 500;*/
}
.weather > .weather-after-day > .weather-after-day-li .weather-after-day-icon{
    width: 40%;
    text-align: center;
}
.weather > .weather-after-day > .weather-after-day-li .weather-after-day-temperature{
    width: 30%;text-align: center;
}
.left-msgs{
  overflow-y: auto;
  padding: 5px 18px;
  padding-bottom: 0;
  height: 589px;
  margin: 5px 0px;
}
.left::-webkit-scrollbar-thumb{
  border-radius: 3px;
}
.left-msgs::-webkit-scrollbar{
  width: 3px;
}
.lefg-msgs::-webkit-scrollbar-track{
  display: none;
}