@import url("../../fonts/weather-icons.css");
#main-container{
	min-height: 0;
	font-size: 12px;
}
.dark{
	color: #333;
}
.green{
	color: #00ab56;
}
.red{
	color: #f00;
}
.big{
	font-size: 16px;
}
.fa-chevron-right{
	vertical-align: -1px;
	margin-left: 5px;
}
.group_banner{
	margin-left: -20px;margin-right: -20px;
	background: #f5f7f9;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 20px;
}
.group_banner .fr{
	margin-top: 5px;
}
.group_banner select{
	opacity: 0;
}
#orgName{
	margin-left: 12px;
}
.select_box{
	margin-right: 12px;
}
.module{
	/*todo*/
	float: left;
	/*width: 400px;*/
	width: 32%;
	min-width: 320px;
	margin-left: 1%;
	margin-top: 10px;
	padding: 10px 15px;
	background: #f5f7f9;
	border: 1px solid #e4e4e4;
	border-radius: 10px;
}
.module.long{
	height: 550px;
	overflow-x: hidden;
	overflow-y: auto;
}
.module.long::-webkit-scrollbar{width:0;}
.module.mid{
	height: 270px;
}
.module_title{
	color: #333;
	margin-top: 5px;
	font-size: 16px;
}
.module_link{
	font-size: 12px;
	float: right;
}
a.module_link{
	color: #00ab56;
}
.msg_box{
	padding: 10px 10px 5px;
	background: #fff;
	border-radius: 4px;
}
.msg_box .module_link{
	margin-top: 5px;
}
.msg_box #unreadCount{
	margin: 0 4px;
}
.msg_list{
	margin-bottom: 0;
}
.msg_item{
	padding: 8px 0;
	border-top: 1px solid #e4e4e4;
}
.msg_link{
	position: relative;
	display: block;
	padding-left: 4px;
	overflow: hidden;
}
.msg_title{
	font-size: 13px;
	margin-bottom: 5px;
	margin-right: 50px;
    word-wrap: break-word;
    height: 15px;
    overflow: hidden;
    white-space:nowrap; text-overflow:ellipsis
}
.msg_time{
	font-size: 12px;
	color: #888;
}
.msg_icon{
	float: right;
	margin-top: 6px;
	padding: 0 5px;
	border-radius: 2px;
	border: 1px solid #f00;
	color: #f00;
}

#bizBox{
	padding: 5px;
}
.biz_board{
	/*width: 120px;*/
	width: 50%;
	float: left;
	padding: 20px 10px;
	text-align: center;
}
.biz_board:nth-child(1){
	border-bottom: 1px solid #e4e4e4;
}
.biz_board:nth-child(2){
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding-right: 0;
	padding-left: 20px;
}
.biz_board:nth-child(4){
	border-left: 1px solid #e4e4e4;
	padding-right: 0;
	padding-left: 20px;
}
.biz_title{
	font-size: 12px;
	text-align: left;
}
.biz_num{
	float: left;
	width: 70px;
	height: 30px;
	font-size: 22px;
	color: #333;
	text-align: left;
}
.biz_tip{
	/*float: right;*/
	float: left;
	margin-right: 10px;
	font-size: 14px;
	text-align: left;
}
.biz_tip small{
	display: block;
	margin-top: 4px;
	font-size: 12px;
}
.biz_tip .fa-long-arrow-up{
	color: #3ec291;
}
.biz_tip .fa-long-arrow-up.color{
	color: orange;
}
.biz_tip .fa-long-arrow-down{
	color: orange;
}
.biz_tip .fa-long-arrow-down.color{
	color: #3ec291;
}

.we_table{
	clear: both;
	width: 100%;
	/*margin-left: -15px;*/
	/*margin-right: -15px;*/
	text-align: center;
}
.we_table td{
	padding: 8px 4px 2px;
}
.we_talbe td.dark{
	color: #333!important;
}
.we_table_line{
	clear: both;
	height: 1px;
	margin: 5px -15px;
	background: #e4e4e4;
}
.we_today{
	text-align: center;
	font-size: 14px;
}
h5.we_today{
	font-size: 22px;
}
.wi{
	font-size: 18px;
	color: #00abe4;
}
.we_tomorrow{
	width: 100%;
	text-align: center;
}
.we_tomorrow td{
	padding: 4px;
}
.we_title{
	text-align: center;
	padding-left: 42px;
	overflow: hidden;
}
.we_title > span{
	float: left;
	width: 50%;
	width: 50%;
	padding: 4px 0;
	font-size: 12px;
	border-bottom: 1px solid #e4e4e4;
	text-align: left;
}
.we_table_wrapper{
	height: 168px;
	min-height: 160px;
	overflow: auto;
}
.we_table_wrapper td:nth-child(6){
	border-left: 1px solid #e4e4e4;
	padding-left: 8px;
}

.chart_container{
	/*width: 100%;*/
	position: relative;
	margin-left: -15px;margin-right: -15px;
	height: 55px;
}
.highchart_box{
	width: 90%;
	height: 100%;
	margin-right: 1px;
	float: right;
}
.chart_title{
	position: absolute;
	right: 90%;
	top: 24px;
	font-size: 12px;
	color: #555;
}
.custom_tooltip{
	font-size: 12px;
	position: fixed;
	background: #000;
	color: #fff;
	padding: 4px 8px;
	border-radius: 4px;
	-webkit-transform: translate(-50%, -30px);
	transform: translate(-50%, -30px);
	z-index: 999;
	opacity: .8;
}
/* audit message */
#auditMsg{
  margin-top: 20px;
}
.message-container{
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 10px 5px;
}
.message-container > .message-list,
.message-container > .message-footer{
	display: none;
}
.message-container.message-open > .message-list,
.message-container.message-open > .message-footer{
	display: block;
}
.message-open .fa-angle-right{
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.section-title{
  font-size: 14px;
  color: #666;
}
.message-header{
  height: 16px;
  margin-bottom: 5px;
  color: #666;
  cursor: pointer;
  font-size: 13px;
}
.msg-count{
  float: right;
  color: #00a855;
}
.msg-count > .fa{
	margin-left: 5px;
}
.red_color{
  color: #f00;
}
.message-list{
	max-height: 240px;
	overflow: hidden;
	margin-bottom: 0;
}
.message-list-wrapper{
	margin-bottom: 0;
	position: relative;
	top: 0;
	transition: all .3s ease;
}
.message-list .msg_item{
	padding: 0;
	padding-top: 4px;
	padding-bottom: 2px;
}
.message-footer{
	position: relative;
	overflow: hidden;
	margin: 0 -10px;
	height: 25px;
	color: #00a855;
	border-top: 1px solid #ddd;
	padding-top: 5px;
	text-align: center;
}
.message-footer > span{
	display: inline-block;
	cursor: pointer;
}
.message-footer > .show_pre{
	position: absolute;
	left: 10px;
	top: 5px;
}
#exam{

  background-color: white;
  border-radius: 3px;
  border: 1px solid #00a855;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  color: #00a855;
  margin-bottom: 10px;
  font-weight: bold;
}

#exam a{
  padding-top: 4px;
  color: #00a855;
}
.abnormal_count{
  font-size: 18px;
  padding: 0 2px;
}