
<#include "../base/home_config.ftl">
<#include "../widgets/sidebar.ftl">

<content tag="pageName">newdispatch</content>

<style type="text/css">
	.content{

		padding-left: 10px;
	}
	h5{
		margin-top: 20px;
	}
</style>

<div id="main-container">

	<h3>调度模式及策略简述</h3>
	<p></p>

	<h5>一、纯抢单</h5>
	<div class="content">
		<p>订单被商户确认后，即同时推送给站点中的所有骑手，进行抢单。</p>
		<p> 适用：站点覆盖区域较小，订单量较小；</p>
		<p>注：站长可以随时对订单进行手工指派和改派。</p>
	</div>
	<h5>二、人工分配</h5>
	<div class="content">
		<p>订单被商户确认后进入调度控制台，完全由站长进行派单（后期会向站长提供派单建议），骑手只能被动接单，不能拒绝（如骑手确实无法配送，需要向站长申请改派）；</p>
		<p>适用：订单量不是太大，站长经验较丰富，站长与骑手沟通配合较好；</p>
		<p>注：站长可以随时对订单进行手工指派和改派。</p>
	</div>
	<h5>三、推抢结合</h5>
	<div class="content">
		<p>订单被商户确认后，自动调度程序根据各配送员的所在位置、手中订单是否顺路等因素，分批次进行推送，先收到推送的几名配送员可以优先进行抢单。同时，这些配送员如认为订单不适合，可以不抢。</p>
		<p>适用：全场景适用。但期望站长和骑手能够接受和理解部分badcase的出现，愿意陪伴系统成长！</p>
		<p>注：站长可以随时对订单进行手工指派和改派。</p>
	</div>

	<h5>推抢结合模式的策略简述：</h5>
	<div class="content">
		<p>当新订单进入系统后，给所有开工状态的相关骑手进行匹配度打分，优先推给一批得分高的骑手，如果这些骑手未在规定时间内抢单，则推送下一批，最终全部推送。</p>

		<p>1）推单批次</p>
		<p> 第0分钟——推送5名骑手；</p>
		<p>第3分钟——推送额外2名骑手（此时共7人可抢单）；</p>
		<p>第6分钟——推送全部骑手（此时所有开工的骑手均可抢单）；</p>

		<p> 2）给骑手打分的原理：</p>
		<p>骑手完成该订单及手中其他订单，所走路径越短，总体耗时越少，打分越高。</p>
		<p>最短路径的计算主要根据：①待分配订单的取餐位置&送餐位置、②骑手已抢订单的取餐位置&送餐位置&订单是否已取餐、③骑手当前实时位置。</p>
		<p>其中，部分位置坐标会进行特殊处理，如忽略已取餐订单的取餐位置、合并直线距离小于200米的位置点等等。</p>
	</div>

	<h5>附-后续策略改进重点：</h5>
	<div class="content">
		<p>1. 骑手APP中增加已读回执，以便大幅缩短全推时间——骑手接到推单并激活手机屏幕3秒后，视为已读，同时发送回执到调度中心。调度中心接到回执30秒后，如骑手还未抢单，则视为该骑手放弃该单。若当前推送批次中的骑手都放弃该单，立刻推送下一批骑手；</p>
		<p>2. 骑手打分中，增加对骑手水平的考虑。包括骑士历史送单速度、用户评价等；</p>
		<p>3. 增加对骑手实时位置可信度的考量，如定位方式（基站 or GPS）、精度范围、时间间隔等；</p>
	</div>
</div>