@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");

.form-control {
    display:inline-block;
}

.date-picker{
    width:280px;
}
.row{
    margin:20px -15px;
}
tr{
    vertical-align:middle;
}
th,
td{
   text-align:center;
}

.js_submitbtn{
    font-size:12px;
    height:30px;
}
#create-container{
    margin: 20px;
    width:450px;
}
#create-container .panel-heading{
    background-color:#eee;
    font-size:16px;
    margin-left:-35px;
    margin-top:-35px;
    margin-bottom:15px;
    width:528px;
}

.radioGroup .selfRadio{
    opacity:1;
    margin-left:-20px;
    padding:0px;
    float:left;
}

input[type="checkbox"]{
    opacity: 1;
}

input[type="radio"]{
    opacity: 1;
}

input:focus::-webkit-input-placeholder { color:transparent; }

