
<style type="text/css">

#top-nav{
  display: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    background-color: #eee;
}

.main {
    background: url("static/imgs/background_login_meituan_delivery.jpg")  repeat-x 0 0;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    height: 600px;
}

.notification {
    position: relative;
    width: 374px;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}

.notification i {
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 60px;
    background: url("static/imgs/notification.png") no-repeat 0 5px;
}

.notification span,.notification a {
    color: #00abe4;
}

.container {
    margin: 0 auto;
    padding-top: 120px;
}

.login-section {
    float: right;
    margin-right: 60px;
}

.login-title {
    font-family: "黑体";
    font-size: 28px;
    color: #0a9ac2;
    text-align: center;
    padding: 20px;
    font-weight: normal;
}

.login-box {
    position: relative;
    display: block;
    width: 380px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
}

.host-login,.admin-login {
    margin: 20px 50px;
}

.btn {
    width: 240px;
    height: 20px;
    padding: 16px 20px;
    color: #ffffff;
    background-color: #25c6fb;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.btn-blue {
    background-color: #25c6fb;
}

.btn-orange {
    background-color: #fdc14a;
}

.btn-blue:hover {
    background-color: #10a9ed;
}

.btn-orange:hover {
    background-color: #ffa91f;
}

.btn > span {
    text-align: center;
    font-size: 18px;
    font-family: "黑体";
    font-weight: lighter;
    line-height: 18px ;
}

.relation-apply {
    margin: 20px 50px;
}

.relation-apply > a {
    display: inline-block;
    width: 280px;
    height: 20px;
    padding-top: 20px;
    text-decoration: none;
}

.relation-apply > a > span {
    float: right;
    font-family: "黑体";
    font-weight: lighter;
    color: #000;
}

.relation-apply > a > span:hover {
    color: #25c6fb;
}

.footer-box {
    height: 20px;
    background-color: #eee;
    padding: 30px;
}

.copyright {
    text-align: center;
    font-size: 0.9em;
    color: #333;
}

.copyright > p > a{

    text-decoration: none;
    outline: none;
    color: #333;
}

.copyright > p > a:hover{

    color: grey;
}

.hide {
    display: none;
}


</style>

<div class="main">
    <div class="container">
        <div class="login-section">
            <h1 class="login-title">美团配送烽火台</h1>
            <div class="login-box">
                <p class="notification hide">
                    <i></i>
                    建议您<span>使用chrome</span>浏览器，避免烽火台部分功能无法使用。
                    <a href="http://xiazai.sogou.com/detail/34/8/6262355089742005676.html" target="_blank">立即下载》</a>
                </p>
                <div class="host-login">
                    <a class="btn btn-blue" href="/partner/login"><span>合作伙伴|站长登录</span></a>
                </div>
                <div class="admin-login">
                    <a class="btn btn-orange" href="/admin"><span>总部管理员登录</span></a>
                </div>
                <div class="relation-apply"><a href="http://waimai.meituan.com/help/banma"><span>配送合作申请>></span></a></div>
            </div>
        </div>
    </div>
</div>
<div class="footer-box">
    <div class="copyright">
        <p>
            ©<span>2015</span>
            <a href="http://www.meituan.com/">美团网团购</a>
            meituan.com
            <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP证070791号</a>
            京公网安备11010502025545号<a href="http://www.meituan.com/about/rules?mtt=1.account%2Funitivelogin.0.0.i9w6mgum" target="_blank" data-mod-mtt="1.account/unitivelogin.0.0.i9w6mgum"> 电子公告服务规则</a>
        </p>
    </div>
</div>

<script type="text/javascript">
$(function() {
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
        $('.notification').removeClass('hide');
    }
    window.localStorage.setItem('ieNotification', '');
});
</script>






