
.table tbody tr{
    border:0px;
}

.table tbody tr td{
    border:0px;
    overflow:hidden;
}
.panel-footer{
    background-color:#f9f9f9;
    border-top:0px;
}
.form-horizontal .form-group {
    margin-left:-160px;
}
input[type="radio"]{
    opacity:1;
}
.top-panel{
    background-color: #f2dede;
    padding: 15px;
    margin-left: -30px;
    margin-right: -20px;
}