@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
@import url("../pstyle1.css");

.panel-footer{
    background-color:#f9f9f9;
    border-top:0px;
}

.searchItem{
	width:230px;
}

.searchItem label{
	width:35px;
}

.required{
    color:red;
}

#replyPanel .control-label{
   margin-left: -20px;
}