#breadcrumb-bar { display: none; }
@media (min-width:768px) {
	.input-sm { width: 400px; }
}
.markerName { position: absolute; top: -18px; left: -10px; width: 50px; max-height: 20px; background-color: #fff; text-align: center; border: solid; border-color: antiquewhite; border-width: 1px; font-size: 10px; }
div.info { width: 600px; }
div.info-top { position: relative; background: none repeat scroll 0 0 #F9F9F9; border-bottom: 1px solid #CCC; border-radius: 5px 5px 0 0; }
div.info-top div { display: inline-block; color: #333333; font-size: 14px; font-weight: bold; line-height: 31px; padding: 0 10px; }
div.info-top img { position: absolute; top: 10px; right: 10px; transition-duration: 0.25s; }
div.info-top img:hover { box-shadow: 0px 0px 5px #000; }
div.info-middle { font-size: 12px; padding: 10px; line-height: 21px; max-height: 350px; overflow-y: auto; }
div.info-bottom { height: 0px; width: 100%; clear: both; text-align: center; }
div.info-bottom img { position: relative; z-index: 104; }
#rider-recommend, #rider-notRecommend, #rider-noScore { cursor: pointer; }
.btn-bg { display: none; }
#playRecordTable { width: 210px; height: 200px; overflow-y: auto; }
.full_screen_btn { position: absolute; right: 10px; top: 10px; width: 50px; height: 24px; line-height: 24px; border: 1px solid #ddd; color: #333; border-radius: 4px; background: rgba(170, 238, 0, .5); text-align: center; cursor: pointer; }
#mapContainer.full { position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 99999; }
label{font-weight: normal;}