@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
@import url("../../lib/jquery.dataTables.min.css");
@import url("../../lib/dataTables.scroller.css");
#breadcrumb-bar { display: none; }
@media (min-width:768px) {
	.input-sm { width: 400px; }
}
.markerName { position: absolute; top: -18px; left: -10px; width: 50px; max-height: 20px; background-color: #fff; text-align: center; border: solid; border-color: antiquewhite; border-width: 1px; font-size: 10px; }
div.info { width: 600px; }
div.info-top { position: relative; background: none repeat scroll 0 0 #F9F9F9; border-bottom: 1px solid #CCC; border-radius: 5px 5px 0 0; }
div.info-top div { display: inline-block; color: #333333; font-size: 14px; font-weight: bold; line-height: 31px; padding: 0 10px; }
div.info-top img { position: absolute; top: 10px; right: 10px; transition-duration: 0.25s; }
div.info-top img:hover { box-shadow: 0px 0px 5px #000; }
div.info-middle { font-size: 12px; line-height: 21px; max-height: 350px; overflow-y: auto; }
div.info-bottom { height: 0px; width: 100%; clear: both; text-align: center; }
div.info-bottom img { position: relative; z-index: 104; }
#rider-recommend, #rider-notRecommend, #rider-noScore { cursor: pointer; }
.btn-bg { display: none; }
#playRecordTable { width: 245px; height: 200px; overflow-y: auto; overflow-x: hidden; position: relative;}
.full_screen_btn { position: absolute; right: 10px; top: 10px; width: 50px; height: 28px; line-height: 28px; border: 1px solid #ddd; color: #333; border-radius: 4px; background: rgba(170, 238, 0, .5); text-align: center; cursor: pointer; }
#mapContainer.full { position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 1001;}
label{font-weight: normal;}

#mapContainer .select2-container{
	position: absolute;
	top: 10px;
	right: 120px;
	z-index: 999;
	width: 200px;
}

#map_select_rider{
	width: 200px;
	position: absolute;
	top: 10px;
	right: 120px;
	z-index: 999;
	width: 200px;
}


#loading_summary_table{
	padding-top: 20px;
}

#dataTableArea{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
#selectCity{
	width: 100px;
}
#selectArea{
	width: 100px;
}

#selectOrg{
	width: 100px;
}
.date-change-left{
	font-size: 26px;
	position: absolute;
	left: 10px;
	cursor: pointer;
}
.date-change-right{
	font-size: 26px;
	position: absolute;
	left: 205px;
	cursor: pointer;
}
.disabled{
	cursor: no-drop;
}
.datepickerInput{
	text-align: center;
	height: 28px;
	float: left;
}
.ui-datepicker-trigger{
	display: none;
}
.btn-success{
	padding-top: 3px;
	padding-bottom: 3px;
}
#rider_condition{
	position: relative;
	margin-top: 15px;
}
#rider_input{
	width: 160px;
	height: 28px;
	vertical-align: -2px;
}
#rider_selectrider
{
	width: 160px;
}
#rider_head_info{
	width: 100%;
	height: 40px;
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
}

.rider_name
{
	cursor: pointer;
}
.rider_name:hover{
	color: #00abe4;
	text-decoration:underline;
}

.filter_l
{
	padding-top: 4px;
	padding-left: 18px;
	padding-right: 0;
	cursor: pointer;
}
#filter{
	padding-top: 10px;
}

.click_sort{
	cursor: pointer;
}
.sort_up .fa-caret-down{
	display: none;
}
.sort_down .fa-caret-up{
	display: none;
}
.pos-aboult{ position: absolute;font-size: 1.2em; }
.fa-caret-down{ padding-top: 7px; }
#dataTableArea td{
	text-align: center;
}

#main-container{
    min-height: 0;
}
#wrapper{
    min-height: 0;
}
.success_color{
	color: #00abe4;
}
.fail_color{
	color: #ff8a46;
}
.disable_color{
	color: gray;
}
td i{
	cursor: pointer;
}
td.disabled i{
	cursor: no-drop;
}
#rider_record_table{
	margin-bottom: 0
}
.select_back{
	background-color: #dbf1f8;
}

.color_underline:hover{
	color: #00abe4;
	text-decoration:underline;
	cursor: pointer;
}
#listTip{
	padding: 5px 5px;
	padding-bottom: 0;
	max-width: 160px;
	border:	solid 1px black;
	border-radius: 3px;
	position: absolute;
	background-color: white;
	overflow-y: auto;
	max-height: 400px;
}
#wrapper{
	background-color: white;
}
html{
	background-color: white;
}
.pop_wanttime_span{
	padding-top: 0;
}
.pagination-span{
    padding-top: 16px;
    color: #000;font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    cursor: default;
}
.bm_marker_container{
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: transparent;
	left: -6px;
	top: -8px;
}

.bm_css_marker{
	width: 20px;
	height: 20px;
	border-radius: 50% 50% 50% 0;
	background-color: #89849b;
	position:absolute;
	transform: rotate(-45deg);
	margin-top: -29px;
	margin-left: -4px;
}

.bm_marker_text{
	position: absolute;
	left: 0;
	top: -13px;
	color: white;
}

#tip_info{
	float: left;
	padding-top: 10px;
	padding-left: 3px;
	font-size: 12px;
}
#rider_data_info{
	margin-left: -220px;
}

.start-marker{
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 15px;
	border:2px solid #000;
}
.normal-color{
	background-color: #00abe4;
}
.busy-color{
	background-color: #ff5a5a;
}

.opacity3{
	opacity: 0.3;
}
.bm_circle_marker{
	position: absolute;
	left: 0;
	top:0;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border:2px solid #000;
}
.bm_rider_marker_container{
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: transparent;
}

.marker-text{
	position: absolute;
	left: 7px;
	top: 6px;
	color: white;
}
#selectDay{
	width: 100px;
}
.marker-text-container{
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: transparent;
	height: 18px;
	position: absolute;
	top: -18px;left: -30px;
}
.marker-text-back{
	position: absolute;
	background-color: #fff;
	opacity: 0.9;
	height: 18px;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}
.marker-span{
	background-color: transparent;
	text-align: center;
	font-size: 10px;color: #000;padding: 0px;
	cursor: pointer;
	white-space: nowrap;
}
#dispatch-des{
	width: 100%;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #2a2a2a;
	padding-top: 10px;
}
.color-block{
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	margin-bottom: -5px;
}
#key-value{
	margin-top: 10px;
}
.select_rider_color .marker-text-back{
	background-color: yellow;
	opacity: 1;
}
.select_rider_color .marker-span{
	color: #2a2a2a;
}
.content-head{
	position: relative;
	margin-top: 10px;
}
#main-filters-container{
	position: absolute;
	right: 10px;
	top: 3px;
}

#order-input-field{
	position: absolute;
	right: 10px;
	top: 3px;
}
.nav-tabs > li{
	cursor: pointer;
}
.nav-tabs > li.active{
	cursor: default;
}
#btn-search{
	padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -3px;
}
#load_record{
	padding-top: 3px;
	padding-bottom: 3px;
}
.width80{
	width: 80px;
}
.width90{
	width: 90px;
}
.remark_td{
	width: 160px;
}
.remark{
	word-break:break-all;
}
.with100
{
	width: 100px;
}

.amap-scalecontrol *{
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.grid_cell{
	float: left;
	height: 40px;
	width: 40px;
	text-align: center;
	cursor: pointer;
	padding-top: 3px;
}

.separator{
	float: left;
	height: 40px;
	width: 1px;
	background-color: #ddd;
}

.map_tools{
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: white;
	padding: 3px 0;
	z-index: 5;
}
.cell_full{
	width: 17px;
    height: 20px;
    margin-left: 11px;
    background: url('/static/imgs/map_tools.png') no-repeat;
    background-position: 0px -257px;
}
.cell_range{
	width: 17px;
    height: 20px;
    margin-left: 11px;
    background: url('/static/imgs/map_tools.png') no-repeat;
    background-position: 0 -0;
}

.full .cell_full{
	background-position: 0 -321px;
}
.active .cell_range{
	background-position: 0 -63px;
}
.grid_cell.active span{
	color: #019aff;
}
.grid_cell:hover{
	opacity: .7;
}
.total_text{
	margin-top: 20px;
	margin-right: 10px;
	padding-top: 10px;
}