body, body #wrapper {
  background-color: #fff;
}

.exam-notification {
  padding: 40px 0 40px 0;
  text-align: center;
  font-size: 30px;
}

#table th, #table td {
  text-align: center;
  max-width: 200px;
}

.tbody-dispatcher-list a {
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
}

.tbody-dispatcher-list a:hover, .tbody-dispatcher-list a:focus {
  color: #2a6496;
  text-decoration: underline;
  cursor: pointer;
}

.exam-notification img {
  width: 70px;
}

.exam-notification span {
  font-size: 19px;
  letter-spacing: 2px;
  color: #999;
}

table {
  font-size: 12px;
}

.page-container {
  background-color: #fff;
}

.pager {
  padding: 10px 15px;
  margin: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination {
  float: right;
}

.pagination li {
  float: left;
}

.pager .pagination {
  margin: 0;
}

.pager .page a,.pager .prev a,.pager .next a {
  border-radius: 0;
}

.pager .first a {
  border-radius: 5px 0 0 5px;
}

.pager .last a {
  border-radius: 0 5px 5px 0;
}
