body, body #wrapper {
  background-color: #fff;
}

h2 {
  margin-bottom: 20px;
}

.exam-title {
  font-size: 18px;
  color: #444;
}

h3 {
  font-size: 13px;
  color: #444;
  margin-bottom: 20px;
}

h3 span span {
  color: red;
  margin-right: 3px;
}

.subject {
  margin: 0 0 5px 3px;
}

.answer {
  margin: 5px 0 15px 17px;
}

.answer span{
  padding-left: 20px;
  display: inline-block;
  margin-top: 1px;
}

.submit {
  text-align: center;
  margin-top: 40px;
}

.save {
  margin-right: 30px;
}

.answer label {
  margin-right: 7px;
}

.noti {
  margin-left: 8px;
  margin-top: 0px;
  font-size: 13px;
  vertical-align: top;
  color: #ff6600;
  font-weight: normal;
}

.score-analysis {
  margin: 20px 0;
}

.score-analysis h4 {
  font-size: 14px;
  color: #666;
}

.score-analysis table td {
  width: 160px;
  height: 10px;
  padding: 10px;
  line-height: 10px;
  font-size: 14px;
  border: 1px solid #e4e4e4;
}

.score-analysis table {
  background-color: #fff;
}

#exam-container input {
  margin: 0px;
}

#exam-container {
  font-size: 13px;
  color: #444;
}

table {
  color: #333;
}

.exam-duration {
  color: red;
}
