@import
	url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css")
	;

.form-control {
	display: inline-block;
}

body, #wrapper {
	background-color: #fff;
}

.date-picker {
	width: 280px;
}

.row {
	margin: 15px -15px;
}

tr {
	vertical-align: middle;
}

input[type="checkbox"]{
	position: inherit;
}

th, td {
	text-align: center;
	overflow:hidden
}

.js_submitbtn {
	font-size: 12px;
	height: 30px;
}

#create-container {
	margin: 20px;
	width: 450px;
}

#createSubject {
	float: left;
}

#create-container .panel-heading {
	background-color: #eee;
	font-size: 16px;
	margin-left: -35px;
	margin-top: -35px;
	margin-bottom: 15px;
	width: 528px;
}

.radioGroup .selfRadio {
	opacity: 1;
	margin-left: -20px;
	padding: 0px;
	float: left;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

button.hupload{
	width:200px;
}

.sub_title{
	font-size: 16px;
	color:#777777;
	border-bottom:1px solid #BEBEBE
}

.check_lab{
	padding-left:20px;
}

.answer_d{
	height:34px;line-height:34px
}

.bu-w{
	width:200px;
}

.bu-lw{
	width:400px;
}

.running{
	background-color: #D9B300
}

#loading{
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	_position: absolute;
	top: 0;
	z-index: 1000;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	background-color: rgb(53, 51, 51);
}

input[type="checkbox"]{
    opacity: 1;
}

input[type="radio"]{
    opacity: 1;
}

.t_content{
	text-align: right;
}

.org-type label {
  padding-left: 30px;
}

.other-item {
  display: none;
}

.app-item {
  display: none;
}

.exam-grade {
  float: left;
  margin: 10px 0 0 10px;
}

#tbody-dispatcher-list td {
	text-align: left;
}

.apply-role label {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 30px;
}

.exam-time label {
  margin-left: 5px;
}

.reportrange {
  cursor: pointer;
}

#main-container {
	visibility: hidden;
}
