@import
	url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css")
	;

.form-control {
	display: inline-block;
}

.date-picker {
	width: 280px;
}

.row {
	margin: 15px -15px;
}

tr {
	vertical-align: middle;
}

input[type="checkbox"]{
	position: inherit;
}

th, td {
	text-align: center;
	overflow:hidden
}

.js_submitbtn {
	font-size: 12px;
	height: 30px;
}

#create-container {
	margin: 20px;
	width: 450px;
}

#create-container .panel-heading {
	background-color: #eee;
	font-size: 16px;
	margin-left: -35px;
	margin-top: -35px;
	margin-bottom: 15px;
	width: 528px;
}

.radioGroup .selfRadio {
	opacity: 1;
	margin-left: -20px;
	padding: 0px;
	float: left;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

button.hupload{
	width:200px;
}

.sub_title{
	font-size: 16px;
	color:#777777;
	border-bottom:1px solid #BEBEBE
}

.check_lab{
	padding-left:20px;
}

.answer_d{
	height:34px;line-height:34px
}

.bu-w{
	width:200px;
}

.bu-lw{
	width:400px;
}

.running{
	background-color: #D9B300
}

#loading{
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	_position: absolute;
	top: 0;
	z-index: 1000;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	background-color: rgb(53, 51, 51);
}

input[type="checkbox"]{
    opacity: 1;
}

input[type="radio"]{
    opacity: 1;
}

#main-container .panel {
  border-width: 1px;
}

#main-container .exam-manage .panel {
  border-width: 0 1px 1px 1px;
	border-radius: 0 0 5px 5px;
}

.data-count {
	margin: 30px 20px;
	padding: 0px;
}

.exam-nav {
  overflow: hidden;
  margin: 0px;
}

.exam-nav li {
  float: left;
  cursor: pointer;
  width: 100px;
  background-color: none;
  color: #000;
  line-height: 34px;
  padding: 0 15px;
  text-align: center;
  border: none;
  border-bottom: none;
}

.exam-nav li:hover {
  background: #ddd;
}

.exam-nav .active {
  background: #18BFA8;
  color: #fff;
}

.exam-nav .active:hover {
  background: #149684;
}

.exam-pager-manage {
  display: none;
}

.page-container {
  background-color: #fff;
}

.pager {
  padding: 10px 15px;
  margin: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination {
  float: right;
}

.pagination li {
  float: left;
}

.pager .pagination {
  margin: 0;
}

.pager .page a,.pager .prev a,.pager .next a {
  border-radius: 0;
}

.pager .first a {
  border-radius: 5px 0 0 5px;
}

.pager .last a {
  border-radius: 0 5px 5px 0;
}

.tbody{
	width:100%;
	max-height:250px;
	overflow-y:scroll
}

.t_content{
	text-align:left;
}

.t_org span {
  color: #ff9200;
}

.tbody-dispatcher-list a {
  color: #428bca;
  text-decoration: none;
}

.tbody-dispatcher-list a:hover, .tbody-dispatcher-list a:focus {
  color: #2a6496;
  text-decoration: underline;
}

.search {
  text-align: left;
  padding: 5px;
  margin-bottom: 10px;
}

.search input {
  height: 33px;
  margin-right: 5px;
}

.exam-pager-manage-search {
	margin: 10px 0 0 0;
}

.exam-pager-manage-search input, .modal-dialog input {
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}

.exam-pager-manage-search button, .modal-dialog button {
  height: 28px;
  line-height: 28px;
  padding-top: 0px;
}

th, td {
  text-align: left;
  max-width: 200px;
}

#main-container .tbody-dispatcher-list td {
  vertical-align: middle;
  padding: 10px 0 10px 8px;
}

#confirm {
  padding: 0;
}

body {
	background-color: #fff;
}

.exam-nav {
	border-bottom: 1px solid #149684;
}

td p {
	margin-bottom: 0px;
}

.exam-create {
	margin-bottom: 0px;
}

#wrapper {
	background-color: #fff;
}
