body{
	overflow: hidden;
}
#container_wrapper{
	position: relative;
	width: 100%;
	/*height: 100%;*/
	/*overflow: hidden;*/
	/*overflow-y: scroll;*/
	overflow: hidden;
}
#container_wrapper > .lbox{
	float: left;
	top: 0;
	width: 19%;
	height: 100%;
	background-color: #efefef;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:15px;            /* W3C syntax */
	margin-top:10px;
	position: absolute;

}
#container_wrapper > .rbox{
	width: 100.6%;
	height:100%;
	padding-left: 21%;
	overflow-y: scroll;
	padding-top: 30px;
}
#faq_nav > li{
	display: block;
	padding: 4px 0;
}
#faq_nav > li > a{
	display: inline-block;
	padding: 2px;
	font-size:13px;
}
#faq_nav > li > a.on{
	color: #00abe4;
}
.faq_group.on > h5{
	color: #00abe4;
}

.faqTitleTr {
	height:38px;
	vertical-align:middle;
	line-height:38px;
	background-color: #efefef;
	margin-top: 10px;
	padding-left:18px;
	-moz-border-radius: 5px;      /* Gecko browsers */
	-webkit-border-radius: 5px;   /* Webkit browsers */
	border-radius:5px;            /* W3C syntax */
}

.faqContentTr {
	vertical-align:middle;
	line-height:20px;
	margin-bottom: 2px;
	margin-top:7px;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:15px;
	border-bottom:1px dashed #DDDDDD;
}

.faqTypeSplit {
	margin-top:30px;
}

.liNav {
	height:38px;
	vertical-align:middle;
	line-height:38px;
	margin-bottom: 6px;
	-moz-border-radius: 5px;      /* Gecko browsers */
	-webkit-border-radius: 5px;   /* Webkit browsers */
	border-radius:5px;            /* W3C syntax */
	overflow:hidden;
}
.paddingLeft {
	padding-left:45px;
}
.paddingTop {
	padding-top:15px;
}
.leftHead {
	border-bottom:1px solid #00abe4;
	padding-bottom: 13px;
	margin-left:20px;
	margin-right: 20px;
	padding-left:30px;
	font-size: 16px;
}
.faqType {
	font-size:14px;
}
.liNavList {
	margin-left:5px;
}

#responsiveTable > .faqTitleTr:hover {
	text-decoration:none;
	background-color: rgba(204, 204, 204, 0.5);
}

.faqTitleSpan > a:hover {
	text-decoration:none;
	color: #555;
}

.faqTitleSpan > a:focus {
	text-decoration:none;
	color: #555;
}


.richtext {
	font-size:12px;
}
.openFaq {
	background-color: rgba(204, 204, 204, 0.5);
}

.breadcrumb {
	background-color: #fff;
}

#main-container{
	min-height: 0;
}
#wrapper{
	min-height: 0;
	background-color: #fff;
}

.panel.panel-default {
	border-color: #ffffff;
}
.panel {
	box-shadow: 0  0px 0px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0  0px 0px rgba(0, 0, 0, .05);
}
#arrowDown {
	color:#b1b1b1;
}