input[type="radio"] {
    opacity: 1;
    margin-top: 8px;
}
input[type="checkbox"]{
    opacity: 1;
    margin-top: 8px;
}

.paddingStyle{
    padding-left:20px;
}
.paddingTop {
    padding-top:14px;
}
.richTextBox {
    margin-top:15px;
    margin-bottom:10px;
}
#faqTypeDetail{
    font-size: 12px;
}

.w150{
    width:150px;
}
.w100{
    width:100px;
}

.custA a:link{
    color:#1CACE1;
}
.custA a:visited{
    color:#1CACE1;
}
.custA a:hover{
    color:#777777;
}
.custA a:active{
    color:#1CACE1;
}

input[name=contentType] {
  position: initial;
}

.choice-type {
  display: none;
}

input[name=contentType]+label {
  margin-left: 5px;
}

#answerExt {
  width: 600px;
  display: none;
  margin-bottom: 40px;
}
