
#nav
{
    display: inline-table;
}

h1
{
    background-color: #F0F0F0;
    line-height: 30px;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 0px;
}

.fee-frame
{
    border: 1px solid lightgrey;
    border-top:0px;
}

#team .fee-frame
{
    padding:10px;
    padding-left: 80px;
}

.fee-type-item
{
    height: 120px;
    border:1px solid #AAAAAA;
    margin: 10px;
}

.fee-type-button-frame
{
    float: right;
}

.fee-type-button-frame a.button
{
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.fee-type-button-frame a.button.enable
{
    cursor: pointer;
}

.fee-type-button-frame a.button.disable
{
    border: 1px solid lightgrey;
}

.fee-type-button-frame a.button.enable:hover
{

}

.fee-type
{
    width:120px;
}

.fee-value
{
    width:100px;
    padding-left: 5px;
}

#save
{
    float:right;
}


.

.team-fee-frame
{
    width:800px;
    padding-left:30px;
}

.team-fee-frame button
{
    width:100px;
}

.err-msg
{
    padding-left:10px;
}

#team-fee-edit
{
    width:150px;
    float: right;
}

.team-intent
{
    padding-left: 30px;
}

.team-fee-dlg-frame
{
    padding: 20px;
}

.team-fee-item-frame
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed lightgrey;
}

.team-fee-label-frame
{
    padding-bottom: 10px;
}

.team-fee-label-text
{
    font-size: 16px;
    color: graytext;
}

.button-edit
{
    margin-top: 10px;
    margin-right: 60px;
    float: right;
}