@charset 'utf-8';

#main-container{padding:0 20px;}
.table{background: #fff}
.mt20{margin-top: 20px}
.t-right{text-align: right;}
.t-link{color:#06c!important;}
.whitelist-wrap{width:350px;max-height:100px;overflow: auto;height:auto;border:1px solid #999;white-space: normal;word-break:break-all;display: inline-block;}
.op-wrap{overflow: hidden;}
.add-num-btn,.del-num-btn{margin-right:5px;float:left;display: inline-block;width:24px;height:24px;line-height: 24px;font-size: 20px;padding:0px;border-radius: 5px;}
.add-num-btn{background:#65cea7;border:1px solid #3ec291;color:#fff;}
.del-num-btn{font-size:22px;border:1px solid #fb5a43;background	:#fc8675;color:#fff;}
.add-wrap{padding:5px 0;position: relative;}
.add-input,.del-input{width:235px;display: inline-block;padding-left:25px;}
.add-wrap::before{content:'+';position: absolute;left:5px;top:5px;line-height: 34px;width:25px;font-size: 30px;}
.del-wrap{padding:5px 0;position: relative;}
.del-wrap::before{content:'－';position: absolute;left:0px;top:5px;line-height: 34px;width:25px;font-size: 30px;}
textarea{width:350px;height:100px;}
td{padding:8px;}
.add-num-btn.disabled , .del-num-btn.disabled{opacity: .65}
.ajax-loading-msg{position:fixed;top:30%;left:50%;margin-left:-150px;width:280px;line-height:20px;text-align:center;z-index:50;background:#fff; color:#777;padding:10px 5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.ajax-loading{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:9999;display: none;opacity: 0}