/**
 * 消息提示组件样式。
 * notification类作为主要wrapper
 * 消息主体基本类名为：n-body
 * 主要类型为：n-warning, n-operation, n-loading
 * @author xiamengli
 * @date 2014-05-05 星期一
 */


.notification {
	text-align: center;
	z-index: 1000;
	position: fixed;
	width: 100%;
	top:65px;
	display: none;
}

.n-body {
	padding: 5px 10px;	
}

.n-warning {
	background: #f7cfcd;
	border: solid 1px #ce5f44;
}

.n-operation {
	background: #eaf9d0;
	border: solid 1px #809f76;
}

.n-loading {
	background: #fef5ce;
	border: solid 1px #fee27e;
}