li.selected{
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}
input[type="checkbox"] {
    margin-top: 0;
}
.select{
    padding-top:15px;
    min-width:560px;
    width:600px;
}

.select ul{
    margin:0px;
}
.col-sm-6{
    width:47%;
}
.col-sm-6 input.form-control{width:600px;}
.w100{
    width:100px;
}
