@import url("../pstyle1.css");
.msg-container{
    align-content: center;
    width:78%;
    float:left;
}
.tip-container{
    width:18%;
    float:right;
    padding:20px;
    padding-right: 0px;
}
.tip-title{font-size: 15px;color:#00abe4;font-weight: 300}
.nav-tabs{
    border-bottom: 2px solid #00abe4;
    padding-top:20px;
    margin:0 -20px;
}

.panel-footer{border:none;background: #f9f9f9;padding:30px 15px 10px;}

.nav-tabs > li:first-child{margin-left:20px;margin-right:20px;}

.nav-tabs >li{background: #f9f9f9;border:1px solid #00abe4;margin-bottom:-2px;border-bottom-width: 2px;position:relative;}
.unread-count{position: absolute;width:24px;height:24px;right:-12px;top:-12px;border-radius: 12px;background: #00abe4;color:#fff;text-align: center;line-height: 24px}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #f9f9f9;
}
.nav-tabs > li.active{
    border:2px solid #00abe4;
    border-bottom:2px solid #f9f9f9;
    margin-bottom:-3px;
}

.nav-option-select{float:right;margin-bottom:0px;padding-right: 20px;min-width: 170px}

.nav-tabs > li > a {
    line-height: 1;
    border-radius: 0 0 0 0;
    font-size: 15px;
    margin:0px;
    background: #f9f9f9;
}
.msg-new{
    color:white;
    padding: 0 2px;
    margin-right: 3px;
}

.border-r{
    border-right: solid 1px #e8e8e8;
}
.msg-top{
    padding: 0 2px;
    margin-right: 3px;
}
.msg-top img{height: 17px;vertical-align: top}

.msg-item{padding:10px;border-bottom:1px dotted #c6c6c6;position: relative;}
.msg-img{float:left;text-align: center;width:50px;height:50px;}
.msg-info{line-height: 15px;display: inline-block;width:100%;height:15px;padding-top:5px;color:#aaa}
.msg-time{color:#aaa;}

.msg-content{overflow:hidden;font-size: 12px;padding-left:10px;}
.msg-title{font-size: 12px;margin:8px 0; word-break:break-all;padding-right:50px;position: relative;}
.msg-title a{color:#777;font-weight: 300;line-height: 20px;}
.no-msg{text-align: center;font-size: 24px;margin-top:120px;font-weight: bold}
.no-msg img{width:130px;}
.op-block{position: absolute;right:10px;top:10px;height:62px;top:50%;margin-top:-5px;z-index:1;}
.t-right{text-align: right;cursor: pointer;width: 80px;height:10px;color:#555;;background: url(/static/imgs/down-arrow.png) 67px 0 no-repeat;background-size:12px}
.op-list{background: #fff;border:1px solid #ccc;line-height: 22px;width:80px;text-align: center;display: none}
.op-list li:first-child{border-bottom:1px dotted #ccc;}
.op-list li:last-child{border-bottom:none;}
.op-list li{cursor: pointer;}
.op-list li:hover{background: #00abe4;color: #fff};

