@import url("../pstyle1.css");
.form-inline .form-group{
    padding-right: 20px;
}
.form-inline .form-control{
    width:150px;
}
.table{
    background:white;
}

.table tbody tr td{
    vertical-align:middle;
}
