.editDiv{ padding: 15px; position: relative; display: none;}
.editTitle{padding-top: 20px;  height: 70px;  margin-bottom: 10px; border-bottom: 1px solid #ddd; margin-bottom: 20px;}
.editTitle h1{font-size: 22px; float: left; line-height: 40px;}
.editTitle div{float: left; line-height: 40px; margin-left: 20px;}
.editDiv h1,h2,h3{margin: 0; padding: 0}
.editSubTitle{margin-bottom: 10px;}
.editSubTitle h2{font-size: 22px}
.editSubTitle h3{font-size: 14px; clear: both; font-weight: normal;}
.editSubTitle h2{float: left;}
.editSubTitle label{float: left; padding-left: 16px; position: relative; line-height: 24px; margin-left: 20px;}
.editSubTitle input[type="checkbox"]{left: 0;}
.editSubTitle div{float: right;}
td input[type="text"]{width: 80px;}
input[type="number"]{width: 80px;}
label{position: relative; padding-left: 20px;  height: 20px;}

.editRow .col-md-12{padding: 0}
.editFooter{position: fixed;bottom: 0;z-index: 10;right: 0;background-color: #efefef; padding: 20px 60px 20px; width: 100%; text-align: right;}
.editDialog div{ height: 40px;}
.editDialog label{padding-right: 6px;}
.editDialog input[type="text"]{width: 80px;}
.editDialog input[type="checkbox"]{top:-5px;}
.editDialog .checkbox-inline{position: relative;}

.statusEnable .btn-group{visibility: visible;}
.statusDisable .btn-group{visibility: hidden;}

a{cursor: pointer;}
.msg{text-align: center;}
.msg div{line-height: 40px;}
.msg table{margin:0 auto;}
.msg th{background-color: #efefef}