@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
@import url("../pstyle1.css");
.month-col{width:17%;}
.platform-col{width:11%;}
.query-col{width:7%;}
.platform-col-1{width:17%;}
