/**
 * 时间选择器css样式模版
 *
 * 请配合使用datepicker.js模块及以下html格式
 * 推荐选择得到的日期值用input标签的id获取
 * 选择日期区间：
  <div class="double-picker cf">
    <span class="fl text select-text">选择日期：</span>
    <div class="fl date-picker">
      <input type="text" class="J-datepicker" id="J-start"
        <#if startDate?exists>value="${startDate}"
        <#else>value="${.now?string('yyyy-MM-dd')}"
        </#if>
      />
    </div>
    <span class="fl text to-text">至</span>
    <div class="fl date-picker">
      <input type="text" class="J-datepicker" id="J-end"
        <#if endDate?exists>value="${endDate}"
        <#else>value="${.now?string('yyyy-MM-dd')}"
        </#if>
      />
    </div>
    <span class="btn btn-default" id="J-query">查询</span>
  </div>
 *
 * 选择单个日期
 * <div class="date-picker fl">
 *   <input class="J-datepicker" id="用于获取选择到的值"/>
 * </div>
 *
 * @author xiamengli
 * @date 2014-09-23 星期二
 */



@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");

.double-picker .btn{
  margin-left: 20px;
  height: 17px;
  line-height: 17px;
}

.double-picker, .text{
  line-height: 27px;
}

.double-picker .select-text{
  margin-right: 10px;
}

.double-picker .to-text{
  margin: 0 10px;
}
.date-picker {
  position: relative
}

.block-middle .date-picker input{
  width: 96%;
}
.date-picker input {
  width: 130px;
  height: 23px;
  border: 1px solid #E8E8E8;
  padding: 3px;
  display: block;
}

.date-picker img {
  position: absolute;
  background: url(/static/imgs/calendar.png) no-repeat;
  width: 20px;
  height: 15px;
  right: 8px;
  top: 7px;
  cursor: pointer;
}

