@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");


button:focus {
	outline: none !important;
}

#main-container{
    padding: 10px 20px;
}
.col-md-4{width: 260px;}

.pl0 {
    padding-left: 0;
}

.panel-body {
	padding-left: 30px;
}

/*
.after-day {
    position: relative;
}

.after-day::after {
    content: "天";
    position: absolute;
    line-height: 30px;
    top: 0;
    right: -20px;

}*/

.after-text {
    display: -webkit-box;
}

.after-text span{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin-left: 5px;
}

.date-start-end {
    display: -webkit-box;
}

.date-start-end img.ui-datepicker-trigger {
	display: none;
}

.date-container {
    width: 48% !important;
}

.date-container input {
    display: -webkit-box !important;
    width: 100% !important;
}

.date-start-end span {
    display: -webkit-box;
    width: 4%;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin-top: 22px;
}

.form-group .btn-container {
    text-align: right;
    padding-right: 0;
}

.modal-body .row {
    margin: 10px 0;
}


.modal-body .row label {
    text-align: right;
    line-height: 30px;
}