/**
 *骑手状态css
 */

 @import url("../pstyle1.css");

.tabBar {
	background-color: rgb(70, 171, 162);
	border-radius: 3px;
	height: 40px;
	width: 100px;
	color: white;
}

.info {
	font-size: 12px;
}

.thead {
	font-weight: bold;
}

.duringtime30 {
	width: 30px;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 12px;
	background-color:green;
}

.duringtime3050 {
	width: 30px;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 12px;
	background-color:yellow;
}

.duringtime50 {
	width: 30px;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 12px;
	background-color:red;
}

.duringLink30 {
	color: white;
	text-decoration: none;
}
.duringLink3050 {
	color: black;
	text-decoration: none;
}
.duringLink50 {
	color: white;
	text-decoration: none;
}
.waybillid{
    cursor: pointer;
}