
@import url("../pstyle1.css");

.table{

    border-collapse: initial;
}
.td1{
    width:160px;
    border-right: solid 1px #ddd;
}
.td2{
    width:464px;
}
.td3{
    width:350px;
}
.td4{
    width:auto;
}
.badge{
    background-color:red;
    padding:1px 4px;
    font-weight:normal;
}
.user-mention{
    color:gray;
    background: #f5f5f5;
    padding: 2px;
    border: 1px solid #ccc;
}
.rb{
    color:red;
    font-weight:bold;
}

/*.nav li {
    display: inline-block;
}*/

input[type="radio"],
input[type="checkbox"] {
	opacity: 1;	
}

.nav-tabs > li > a{

    border: none;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{ 
  background-color: transparent;
}
	