html, body{
	height: 100%;
	overflow: hidden;
}

aside,#topholder,#top-nav,#notice-bar,#breadcrumb-bar{ display: none; }
#main-container{
	margin: 0!important;padding: 0;
	width: 100%;height: 100%;
}
.map-topbar{
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    color: #FFF;
    background: #000;
    border-bottom-color: #333;
}
.select-rider-num{
	float: left;height: 30px;margin-left: 10px;
}
.select-rider-num .rider-select{
	height: 30px;line-height: 30px;
	background-color: #fff; color: #000;border:1px solid #999;
	font-family: 'Arial Normal', 'Arial';cursor: pointer;border-radius: 3px;
}
.rider-busy-main{
	min-width: 150px;height: 30px;line-height: 30px;
	float: left;
}
.rider-busy-main input, .rider-busy-main label{ position: relative; }
#riderBusy{ opacity: 1; }
.rider-busy-main label{
	font-size: 14px;color: #FFF;
}
.list-msg{
	height: 30px;float: left;line-height: 30px;
}
.list-msg b{ color: #0F0; }
.btn-reset{
	width: 76px;float: left;margin-left: 10px;font-size: 12px;
	background: #fff;color: #000;text-align: center;outline: none !important;
}
.map-main{
	position: fixed;border: 1px solid;
	left: 0;right: 0;top: 50px;bottom: 0;
}
/*高德地图比例尺颜色*/
.amap-scale-middle{
	border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.marker-text-container{
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: transparent;
	height: 18px;
	position: absolute;
	top: -18px;left: -50px;
}
.marker-text-back{
	position: absolute;
	background-color: #ffffff;
	opacity: 0.9;
	height: 18px;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}
.marker-span{
	background-color: transparent;
	text-align: center;
	font-size: 10px;color: #000;padding: 0px;
	cursor: pointer;
	white-space: nowrap;
}
.start-marker-span{
	position: absolute;top: -15px;left: -50px;
	min-width: 160px;background-color: #fff;text-align: left;border: 1px solid red;
	font-size: 10px;color: blue;font-weight: bold;padding: 4px;
	display: none;
}
.end-marker-span{
	position: absolute;top: -17px;left: -7px;
	border: 1px solid blue;color: #000;text-align: left;
	min-width: 160px;background-color: #fff;padding: 4px;
	display: none;
}
.amap-layers img {
    max-width: none;
}
#msgTip{
	position: absolute;
    left: 50%;top:300px;
}
.reason-class{
    margin-left: 35px;
    font-weight:normal;
    margin-top: 10px;    
}
.reasonSel{ margin-bottom: 10px; }
.reasonSel > input[type="radio"]{
    margin-top: 10px;
    margin-left: 15px;
}
.assign{
    width: 12px;
    height:20px;
}
div.info{

	width: 600px;
}

div.info-top {
	position: relative;
	background: none repeat scroll 0 0 #F9F9F9;
	border-bottom: 1px solid #CCC;
	border-radius:5px 5px 0 0;
}

div.info-top div {
	display: inline-block;
	color: #333333;
	font-size:14px;
	font-weight:bold;
	line-height:31px;
	padding:0 10px;
}
div.info-top img {
	position: absolute;
	top: 10px;
	right: 10px;
	transition-duration: 0.25s;
}

div.info-top img:hover{
	box-shadow: 0px 0px 5px #000;
}

div.info-middle {
	font-size:12px;
	padding:0;
	line-height:21px;
	max-height: 350px;
	overflow-y: auto;
}

div.info-bottom {
	height:0px;
	width:100%;
	clear:both;
	text-align:center;
}
.style-min-width{
	text-align: center;min-width: 45px !important;
}
div.info-bottom img{
	position: relative;
	z-index:104;
}

.normal-color{
	background-color: #00abe4;
}
.busy-color{
	background-color: #ff5a5a;
}
.current_color{
	background-color: #ababab;
}
.opacity3{
	opacity: 0.3;
}
.bm_circle_marker{
	position: absolute;
	left: 0;
	top:0;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border:2px solid #000;
}
.bm_rider_marker_container{
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: transparent;
}

.marker-text{
	position: absolute;
	left: 7px;
	top: 6px;
	color: white;
}
.start-marker{
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 15px;
	border:2px solid #000;
}
.map_style{
	position: absolute;
	z-index: 200;
	right: 30px;
	bottom: 30px;
	background-color: #00ABE4;
	color: white;
	height: 40px;
	width: 160px;
	padding-top: 12px;
	line-height: 16px;
	padding-left: 15px;
}
.map_style span{
	padding-left: 20px;
	padding-right: 10px;
}

.navi_type{
	position: absolute;
	z-index: 200;
	right: 220px;
	bottom: 30px;
	background-color: #00ABE4;
	color: white;
	height: 40px;
	width: 130px;
	padding-top: 12px;
	line-height: 16px;
	padding-left: 15px;
}
.navi_type span{
	padding-left: 20px;
	padding-right: 10px;
}

.bm_marker_container{
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: transparent;
	left: -6px;
	top: -8px;
}

.bm_css_marker{
	width: 20px;
	height: 20px;
	border-radius: 50% 50% 50% 0;
	background-color: #89849b;
	position:absolute;
	transform: rotate(-45deg);
	margin-top: -29px;
	margin-left: -4px;
}

.bm_marker_text{
	position: absolute;
	left: 0;
	top: -13px;
	color: white;
}
.amap-scalecontrol *{
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
#map-outer-container{
	position: relative;
}
.map-blue-night .marker-text-back{
	background-color: #000000;
}
.map-blue-night .marker-span{
	color: #fff
}
.blueSpan{ color: #00abe4; }