
@import url("../../lib/bootstrap-multiselect.css");

aside,
#topholder,
#top-nav,
#notice-bar,
#breadcrumb-bar{
	display: none;
}

#main-container{

	padding: 0 0;
	margin: 0 0;
}

#map-topbar{

 	background: #3a3a3a;
 	border-bottom-color: #333;
 	position: fixed;
 	width: 100%;
 	height: 50px;
 	padding-top: 6px;
 	padding-left: 20px;
 	z-index: 1000;
}

#selectStatus{
	font-size: 14px;
	background-color: white;
}

input[type="radio"],
input[type="checkbox"] {
  opacity: 1;
}

.dropdown-menu li a:hover
{
  background: #f3f3f3;
  color: black;
}

.multiselect{
	padding-bottom: 4px;
	padding-top: 4px;
}

#offline-rider{
	cursor: pointer;
	position: relative;
}
#offlineDiv{
	display: none;
	cursor: default;
	position: absolute;
	width: 200px;
	height: 200px;
	max-height: 400px;
	overflow-y: auto;
	left: 0;
	padding-left: 10px;
	font-size: 14px;
	background-color: white;

	border-radius: 3px;
	top:32px;
}

.marker-text-container{
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: transparent;
	height: 18px;
	position: absolute;
	top: -18px;left: -50px;
}
.marker-text-back{
	position: absolute;
	background-color: #000000;
	opacity: 0.6;
	height: 18px;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

.marker-span{
	background-color: transparent;
	text-align: center;
	font-size: 10px;color: #fff;padding: 0px;
	cursor: pointer;
	white-space: nowrap;
}
.bm_circle_marker{
	position: absolute;
	left: 0;
	top:0;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border:2px solid #000;
}
.bm_marker_container{
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: transparent;
}

.status-check, .status-check-online{
	position: relative !important;
}
.map-icon-ul{
	font-size: 14px;color: #FFFFFF;
	line-height: 40px;
}
div.info{

	width: 600px;
}

div.info-top {
	position: relative;
	background: none repeat scroll 0 0 #F9F9F9;
	border-bottom: 1px solid #CCC;
	border-radius:5px 5px 0 0;
}

div.info-top div {
	display: inline-block;
	color: #333333;
	font-size:14px;
	font-weight:bold;
	line-height:31px;
	padding:0 10px;
}
div.info-top img {
	position: absolute;
	top: 10px;
	right: 10px;
	transition-duration: 0.25s;
}

div.info-top img:hover{
	box-shadow: 0px 0px 5px #000;
}

div.info-middle {
	font-size:12px;
	padding:10px;
	line-height:21px;
	max-height: 350px;
	overflow-y: auto;
}

div.info-bottom {
	height:0px;
	width:100%;
	clear:both;
	text-align:center;
}

div.info-bottom img{
	position: relative;
	z-index:104;
}
.confirm-window{
	position: fixed;width: 100%;height: 100%;
	z-index: 1000;
	background-color: #000;opacity: 0.9;
	display: none;
}
.window-body{
	position: relative;width: 620px;height: 220px;
	background: #fff;margin: 200px auto;
	color: #000;font-size: 16px;font-family: Arial,sans-serif;
	padding: 20px;border-radius: 5px;
}
.cloce-window{
	width: 30px;height: 30px;font-weight: bold;float: right;
	text-align: center;line-height: 30px;cursor: pointer;
	font-size: 18px;margin-top: -10px;
}
.clear-float{ clear: both; }
.window-body b, .window-body span{
	color: #54B1B7;
}
.window-body button, .window-body a{
	display: block;
	width: 250px;
	border: 1px solid #54B1B7;border-radius: 5px;
}
.window-body button:hover{
	border: 1px solid #54B1B7;color: #54B1B7;
}
.amap-layers img {
    max-width: none;
}
.map_style{
	position: absolute;
	z-index: 200;
	right: 30px;
	bottom: 30px;
	background-color: #00ABE4;
	color: white;
	height: 40px;
	width: 300px;
	padding-top: 12px;
	line-height: 16px;
	padding-left: 15px;
}
.map_style span{
	padding-left: 20px;
	padding-right: 10px;
}
.color-block{
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	margin-bottom: -3px;
}
.normal-color{
	background-color: #00abe4;
}
.busy-color{
	background-color: #ff5a5a;
}
.opacity3{
	opacity: 0.3;
}
.amap-scalecontrol *{
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}