@import url("../pstyle1.css");
@import url("../../lib/bootstrap-multiselect.css");
.nav-tabs > li > a{
    border: none;
}
.nav-tabs{ border-bottom: none; }
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{ 
  background-color: transparent;
}

.tooltip-frame{
    display: none;
    z-index: 3000;
    position: absolute;
    left: 245px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: transparent;
}
#tooltip-content{
    border: 1px solid #00ABE4;
    width: 540px;
    background-color: #fff;
    position: relative;
}
.rider-mobile-style{
    padding-top: 17px;
}
.btn-right-8px{ margin-right: 8px; }
.btn-left-10px{ margin-left: 10px; }
.border-bg-cicrle{
    background: #00abe4;
    color: #fff;
    padding: 5px;
    padding-bottom: 8px;
    font-size: 18px;
    border-radius: 100%;
    margin-left: 10px;
}
#msgTip{
    position: absolute;
    font-weight:bold;
    font-size: 16px;
    top: 50%;
    left: 50%;
    z-index: 9999;
    padding: 15px 15px;
    max-width: 240px;
    text-align: center;
}
.filter-data{
    width: 100%;height: 50px;
    background-color: #fafafa;
    color: #4a4a4a;
}
.filter-data-ul{
    width: 100%;height: 100%;border-bottom: 1px solid #F0F0F0;
    box-shadow: 1px 2px 2px #ddd;
}
.filter-data-li{
    float: left;padding: 10px;
    font-size: 14px;
}

.li-border-right{
    border-right: 1px solid #f0f0f0;
}
.filter-li-first{
    margin-left: 20px;border-left: none;
}
.padding-left4-icon{
    padding-left: 4px;
}
.filter-color-icon{
    color: #3ac6f4
}
.filter-li-top15{
    padding-top: 15px
}
#showRiderOnMap:hover{ color: #00abe4; }
#showRiderOnMap{ cursor: pointer; }
#riderListDiv{
    position: absolute;
    width:290px;
    height: 100%;
    padding: 0px 1px 220px 0px;
    left: 10px;
    background-color: #fafafa;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 4px #ccc;
}
#riderListHead{
    padding-left: 5px;
    font-size: 12px;
    padding-top: 14px;
    height: 62px;
    background-color: #fafafa;
}
.riderlist-table{
    /*height: 80%;*/
    /*overflow-y: auto;*/
}
#riderListTable{
    padding-bottom: 50px;
    font-size: 12px;
    height: 100%;
}
.table-striped-w > tbody > tr{
    background-color: #fafafa;
}
.table-striped-w > tbody > tr:hover{
    background: #F0F0F0 !important;
}
#responsiveTable > tbody > tr{
    cursor:pointer;
}

#responsiveTable > thead > tr >th{ position: relative;min-width: 50px;color: #6a6a6a;}
#responsiveTable > thead > tr >th img, #riderListTable > thead > tr >th img{
    margin-top: -2px;margin-left: 4px;
}
.rider-input-select{
    width: 85px;
    padding:0;
    font-size:13px;
    margin-left:4px;
}
#selectStatus{
    width:114px;height: 34px;

}
#getSearchRiderName{
    width: 144px;height: 34px;
    float: right;margin-right: -4px;
}

#wayBillListDiv{
    height: 100%;
    margin: 10px 10px 20px 309px;
    padding: 0 0 0 0;
    background: #fff;
    box-shadow: 0px 0px 4px #ccc;
    font-size: 13px;
}
.input-get-busy{
    width: 246px;height: 34px;
}
#busyMessage{ 
    color: #ff5a5a;
    float: left;
 }
#getRiderName{ 
    float: left;
    color: #ff5a5a;
}
.input-get-rider{
    width: 134px;height: 34px;
}

#btn-refresh{
    width: 90px;height: 34px;
    color: white;
    margin-left: 10px;
    background-color: #00abe4;
    border-color: #00abe4;
}
#btn-refresh:hover{
    background-color: #009acd;
    border-color: #009acd;
}
#waybillStatue li{
    background: #f0f0f0;
    border: 1px solid #d2d2d2;
    border-left:none;
    color: #666;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e3e8eb;
}
#waybillStatue li span{
    color: #6a6a6a
}
#waybillStatue .active{
    background: #fbfbfb;border-top: 3px solid #00abe4;
}
#waybillStatue > li > a{
    padding-left: 0;padding-right: 0;color: #2a2a2a;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #666;
    background: #fbfbfb;
    border: 0px !important;
    font-weight: bold;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
    border-bottom-width: 0;
    font-weight: normal;
}
.out-time-check{
    margin-top: 10px !important;
}
#riderListDiv td{
    white-space: nowrap;border: none;
    padding-top: 14px;padding-bottom: 14px;
    color: #6a6a6a;
}
#riderListDiv td .riderName{ padding-left: 12px; color: #2a2a2a}
#riderListDiv .greySpan td .riderName{ color: #999}
#riderListDiv th{
    border-right: 1px solid #eaeaea;
    color: #000;
}
.rider-name-td{
    position: absolute;margin-left: -8px;
}
.rider-name-td span{
    padding: 1px;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
.new-tip-style{
    background:#00ABE4;color:#fff;
    border: 1px solid #00ABE4;border-radius: 3px;
    padding-left: 2px;padding-right: 1px;
}
.part-tip-style{
    background:#fff;color:#00ABE4;
    border: 1px solid #00ABE4;
    padding-left: 2px;padding-right: 1px;
}
.red-tip-style{background: #ff5a5a;border-color:#ff5a5a;}

.redSpan{ color: #ff5a5a; }
.blueSpan{ color: #00abe4; }
.greenSpan{ color: #4ac598; }
.greySpan{ color: #6a6a6a; }
.greyBoder{border-color: #F0F0F0;background: #f0f0f0;}
.greyBg{ background: #999 !important; }
.bottomSpan{ margin-top: 8px;display: block; }
.inputBorder{ border-color: #eaeaea; }
.badge{
    position: absolute;
    background-color:#ff5a5a;
    padding:1px 4px;
    font-weight:normal;
    color: #fff !important;
    z-index: 10;
}
.table > thead > tr{
    background: #fbfbfb;
    color: #666;
    border-top: 0;
}
#main-container{
    background-color: #F0F0F0;
    padding-left: 0;
    padding-right: 0;
    min-height: 0;
    height: 100%;
}
#main-content{
    position: relative;
    background-color: #ebeef2;
    padding-left: 0;
    padding-right: 0;
    min-height: 0;
    height: 100%;
}

#wrapper{
    background-color: #fff;
    min-height: 0;
    height: 100%;
}
#riderWaybillListBody{
    background-color: #fff;
}
#riderWaybillListBody td{
    color: #000;border: none;
}
#riderWaybillList thead tr{
    background: #E5F6FC;
    color: #77797a;
}
#riderWaybillList thead th{
    border-right: 1px solid #AEE3F6;
}
#riderWaybillList, #riderWaybillList p{
    padding-left: 10px;
    padding-right: 10px;
}
#riderWaybillList{
    margin-bottom: 10px;
}

#riderWaybillList-container{
    max-height: 300px;
    overflow-y: auto;
}
#rider-mobile{ margin-left: 10px; }
.riderlist-shade-tr{
    position: absolute;
    z-index: 100;width: 90px;height: 46px;
    margin-top: -14px;right: 2px;
    color: #fff;text-align: center;
    background: #00abe4;
    outline: none;border: none;
}
.riderlist-shade-tr:hover{
    color: #fff;
    background: #00abe4;
}
#waybillStatue{
    width: 100%;
    white-space: nowrap;
}

#responsiveTable{
    background-color: #fafafa;
    font-size: 13px;
    border-top: 0;
}

#toppadding{
	height: 0px;
}


#notice-bar .table{
    margin-bottom:0;
}

#dispath-head{

    position: relative;
    border-bottom: solid 1px #A89696;
    width: 100%;
    height: 40px;
}
#dispath-head .rider-info-input{
    width: 100px;
    height: 30px;
}
#dispath-head .form-info{
    margin: 10px 0 10px 20px;
}
.remainTimeStyle{
    padding-top: 5px;margin-right: 20px;
}

.timetd-level1{
    background-color: #ff0000;
    color: white;
}

.timetd-level2{
    background-color: #FF9933;
    color: #000;
}
.timetd-level3{

    background-color: #FFFF00;
    color: #000;
}

input[type="radio"],
input[type="checkbox"] {
  opacity: 1;
}

.dropdown-menu li a:hover
{
  background: #f3f3f3;
  color: black;
}
.dropdown-menu{min-width: 100px;}
.dropdown-menu li a{
    padding: 4px 8px;
}
.dropdown-menu li a img{
    width: 15px;height: 15px;margin-right: 5px;
}
#btnClickStatus{ width: 85px;overflow: hidden; }
#btnClickDate{ width: 107px;overflow: hidden;border: none;padding-left: 0; }
.paddTop5px{ padding-top: 5px; }
html,body{
    
    height: 100%;
}

#content{
    height: 100%;
    position: relative;
    padding-bottom: 214px;
    top:-3px;
    background-color: #fafafa;
}
#waybilllist{
    height: 100%;
    overflow-y: auto;
    background-color: #fafafa;
}
#waybilllist th{ padding: 8px; }
#waybilllist td{
    white-space: nowrap; 
    padding: 12px 0;
    border: none;
    line-height: 1;color: #2a2a2a;
}
.td-div-left{ width: 35%; }
.td-div-right{ width: 60%; }
.td-div-left-bill{ width: 50%; }
.td-div-right-bill{ width: 50%; }
#footer{
    position: absolute;
    bottom: 174px;
    width: 100%;
    background-color: #ebeef2;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.with-notice #content
{
    padding-bottom: 254px;
}
.with-notice #footer
{
    bottom: 214px;
}
.pagination{ margin: 0; }
.reason{
    margin-left: 20px;
    font-weight:normal;
    margin-top: 10px;    
}

.reasonSel > input[type="radio"]
{
    margin-top: 10px;
}

.assign{
    width: 12px;
    height:20px;
}


.multiselect{
    padding-top: 4px;
    padding-bottom: 4px;
}
.success > td:nth-child(3){
    background-color: #FFFF00;
    color: #000;
}
.modal::-webkit-scrollbar {
    width: 18px;
}
.remainTime{
    display: inline-block;
    width:14px;
    height:14px;
    vertical-align: middle;
}
.remain{
    font-size:12px;
}
.sound-icon-style{ cursor:pointer }
.status-detail{ margin-right:60px; margin-top:8px }
.qa-icon{ margin-top:8px;cursor: pointer; }
.qa-datail{
    position: absolute;background: #fff;z-index: 10000;color: #333;
    border-radius: 10px;padding: 5px;display: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.qa-row{
    border-bottom: 1px solid #ddd;
    color: #6a6a6a;
}
.qa-row h5{
    font-size: 12px;
    color: #2a2a2a;
    font-weight: bold;
}

.qa-footer{
    padding-top: 10px;
    color:rgb(254,159,14);
}

.pos-aboult{ position: absolute;font-size: 1.2em;margin-top: -1px;margin-left: 4px; }
.fa-caret-down{ padding-top: 7px; }
.search{
    color:blue;
    cursor:pointer;
    text-decoration: underline;
}
.shade{ 
    background-color: #000;opacity: 0.5;
    position: absolute;z-index: 100; 
}
#clearSearchRiderName{ 
    float: right;cursor:pointer;
    right: 12px;
    top: 10px;
}
#clearSearchRiderName, #clearBusyName, #clearRiderName{
    color: #fff;
}
#breadcrumb-bar
{
    display: none;
}
#refreshIcon{
    margin-right: 40px;cursor: pointer;padding-top: 15px;font-weight: normal;
}

#detail_loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: transparent;
    text-align: center;
}
#loading_back{
    opacity: .5;top: -3px;
}
.container-mini #main-container {
    margin-left: 80px;
}

.filter-data-ul .btn-group.open .dropdown-toggle{
    box-shadow: inset 0 3px 5px #FBFBFB;
}

.table > tbody > tr.success > td{
    background-color: #E9FFFF;
}

#waybilllist .success td{
    border-top: 1px solid #00abe4;
    position: relative;
}
.table > tbody > tr.success{
    border-color: #00abe4;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: #E9FFFF;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: #fff;
    color: #333;
}
.multiselect-container>li{
    margin-left: -20px;
}
.multiselect-container .filter{
    margin-left: 0px;
}
.multiselect-container{ min-width: 166px; }
.open > .dropdown-menu{
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: -11px;
    border-color: #F0F0F0;
}
.open .self-dropmenu{
    margin-left: 0;text-align: center;
}
#riderListHead .open > .dropdown-toggle{
    border: 1px solid #00ABE4!important;
    background: white !important;
}
.self-dropmenu > .active >a{
    color: #333;
    background-color: #f0f0f0;
}
.btn-left-4px{ margin-left: 4px!important; }
.padding-left10px{ padding-left: 10px; }
#riderListHead .btn, #riderListHead .btn-default{ transition: none; color: #4a4a4a;font-size: 12px;padding-top: 8px;
    padding-bottom: 7px;}
.multiselect-container>li>a>label>input[type=checkbox]{ top:-1px; }

.sort-remove-tr, .sort-remove-tr td{ padding: 4px !important; }
.select2-container--open .select2-dropdown--below{ max-height: 300px;overflow-y: auto; }
/*分页*/
.pagination li.active a, .pagination li.active a:hover, .pagination li.active a:focus{
    background: #00ABE4;border-color: #00ABE4;box-shadow: 0 0 0px rgba(0, 0, 0, 0.7) inset;
}
.pagination > li{ display: block;float: left;margin-left: 8px; }
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li > a,.pagination > li > span{
    border-radius: 4px;
}
.pagination-span{
    padding: 6px 0px;
    padding-top: 10px;
    color: #000;font-weight: bold;
    margin-left: 8px;
}
/*下拉符号*/
.opration-icon{ color:#00abe4; }
::-webkit-scrollbar-thumb{ background-color: #d2dcdf; }
::-webkit-scrollbar-track{ background: #fff; }
@media (max-width: 1024px) {
    .nav-tabs > li > a{

        padding: 10px 10px;
    }
    #waybillStatue{
        white-space: nowrap;
        width: 1000px;
    }
    #refreshIcon{  
        margin-right: 0;
    }
    #refreshIcon i{ display: none; }
    #wayBillListDiv{ padding-left: 0;padding-right: 0; }
    #showRiderOnMap span{ display: none; }
    .filter-data-ul{width:1200px;white-space: nowrap;}
    .filter-data-li{padding-left: 2px; padding-right: 2px;}
    .date-lable{padding-left: 10px;}
}
#sigle-control{
    width: 60px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -3px;
    font-size: 12px;
}

.status-menu{
    background-color: white;
    border-radius: 2px;
    position:absolute;
    width:60px;
    bottom:33px;
    box-shadow: 6px 0 12px rgba(0, 0, 0, .175);
    padding-left: 10px;
    padding-top: 5px;
}
.status-menu p{
    cursor: pointer;
}
.rider-select{
    display: none;
}
.status-control .rider-select
{
    display: inline-block;
    margin-top: 3px;
    margin-left: -3px;
}
#control-div{

    display: none;
    position: fixed;
    width: 290px;
    height: 120px;
    border-top: 1px solid #00abe4;
    bottom: 0px;
    z-index: 3;
}
#control-content .btn{
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    width: 54px;
    border-color: #00abe4;
    color: #00abe4;
    border: 1px solid;
    transition:none;
}
#control-content .btn:hover,
#control-content .btn:focus{
    background-color: #00abe4;
    color: white;
    border: none;
}
.status-control #control-div{
    display: block;
}
#control-back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    opacity: 0.9;
    background-color: #e5f6fc;
}
#cancel-control{
    float: right;
    cursor: pointer;
}

#control-content{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
    text-align: center;
    padding-top: 10px;
}
#control-bottomp{
    text-align: left;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 32px;
}
#control-topp{
    text-align: left;
    padding-left: 27px;
}

#rider-select-all{
    margin-left: -18px;
    margin-top: 0;
}
#tooltip-frame .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px solid;
  color: #bbb;
}
#main-selects{
    width:300px;
    height: 220px;
    border: 1px solid #00abe4; 
    border-left: none;
    background-color: white;
    margin-top: 10px;
}
#select-container{
    position: absolute;
    left: -300px;
    z-index: 10;
    transition:left 0.5s;
}
#open-selects{
    position: absolute;
    width: 48px;
    height: 34px;
    cursor: pointer;
    top: 10px;
    left: 300px;
    border: 1px solid #00abe4; 
    border-left: none;
    color: #00abe4;
    font-size: 14px;
    padding-top: 8px;
    text-align: center;
    border-radius: 0 3px 3px 0;
}
#close-selects{
    position: absolute;
    left: 300px;
    display: none;
    width: 48px;
    height: 34px;
    cursor: pointer;
    top: 10px;
    left: 300px;
    border-left: none;
    color: #00abe4;
    font-size: 14px;
    padding-top: 9px;
    text-align: center;
    background-color: #00abe4;
    color: white;
    border-radius: 0 3px 3px 0;
}
.selects-open #close-selects{
    display: block;
}
.selects-open #open-selects{
    display: none;
}
#select-container.selects-open{
    left: 0;
}
.status-control .new-tip-style,
.status-control .part-tip-style{
    display: none;
}
#main-selects .row{

    margin-left: 0;
    margin-top: 20px;
    padding-left: 30px;
}
.paddingr20{
    padding-right: 20px;
}
.btn-group > .btn:first-child{
    width: 200px;
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-color: #adadad;
}
.btn-group > .btn:first-child:hover{
    background-color: #fff;
}
#main-selects .btn .caret{
    float: right;
    color: #888;
    position: absolute;
    right: 7px;
    top: 12px;
}
#main-selects .open > .dropdown-menu{
    margin-left: 0;
    max-width: 200px;
}
#control-icon{
    float: left;
    cursor: pointer;
    padding-top: 8px;
    padding-right: 2px;
    padding-left: 5px;
}
.filter-data-li .date-lable{
    margin-top: 8px;
    padding-left: 20px;
    float: left;
}
.filter-data-li .org-name-lable{
    margin-top: 8px;
    padding-right: 6px;
    padding-left: 0;
    float: left;
}
@media (max-width: 1024px) {
    .filter-data-li .date-lable{padding-left: 10px;}
    .input-get-busy{width: 230px;}
}
.single-info{
    border-radius: 5px;
    padding: 5px 10px;
    top: 43px;
    left: 20px;
    font-size: 12px;
    width: 70px;
}
#select-mask{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .1;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
}
.table tbody > tr {
  border: 1px solid #e5e5e5;
}
.table thead > tr > th{
    border-color: #e5e5e5;
}
.out-time-label{
    float: right;
    margin-right: 20px;
    margin-top: 18px;
}
.padding10{
    padding: 10px;
}

.success .select-corner{
    display: block;
}
.select-corner{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('/static/imgs/select-corner.png');
}