@import url("../../../js/lib/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css");
.red { color: #f00; }
.jslider .jslider-bg i, .jslider .jslider-pointer { background: url(/static/imgs/jslider.png) no-repeat 0 0 }
.jslider { display: block; width: 100%; height: 1em; position: relative; top: .6em; font-family: Arial, sans-serif }
.jslider table { width: 100%; border-collapse: collapse; border: 0 }
.jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0 }
.jslider table, .jslider table tr, .jslider table tr td { width: 100%; vertical-align: top }
.jslider .jslider-bg { position: relative }
.jslider .jslider-bg i { height: 5px; position: absolute; font-size: 0; top: 0 }
.jslider .jslider-bg .l { width: 10%; background-position: 0 0; left: 0 }
.jslider .jslider-bg .f { width: 80%; left: 10%; background-repeat: repeat-x; background-position: 0 -20px }
.jslider .jslider-bg .r { width: 10%; left: 90%; background-position: right 0 }
.jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 5px; background-repeat: repeat-x; background-position: 0 -40px }
.jslider .jslider-pointer { width: 13px; height: 15px; background-position: 0 -60px; position: absolute; left: 20%; top: -4px; margin-left: -6px; cursor: pointer; cursor: hand }
.jslider .jslider-pointer-hover { background-position: -20px -60px }
.jslider .jslider-pointer-to { left: 80% }
.jslider .jslider-label { font-size: 9px; line-height: 12px; color: black; opacity: .4; white-space: nowrap; padding: 0 2px; position: absolute; top: -18px; left: 0 }
.jslider .jslider-label-to { left: auto; right: 0 }
.jslider .jslider-value { font-size: 9px; white-space: nowrap; padding: 1px 2px 0; position: absolute; top: -19px; left: 20%; background: white; line-height: 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px }
.jslider .jslider-value-to { left: 80% }
.jslider .jslider-label small, .jslider .jslider-value small { position: relative; top: -0.4em }
.jslider .jslider-scale { position: relative; top: 9px }
.jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0 }
.jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0; top: 5px; color: #999 }
.jslider-single .jslider-pointer-to, .jslider-single .jslider-value-to, .jslider-single .jslider-bg .v, .jslider-limitless .jslider-label { display: none }
.jslider_blue .jslider-bg i, .jslider_blue .jslider-pointer { background-image: url(../img/jslider.blue.png) }
.jslider_plastic .jslider-bg i, .jslider_plastic .jslider-pointer { background-image: url(../img/jslider.plastic.png) }
.jslider_round .jslider-bg i, .jslider_round .jslider-pointer { background-image: url(../img/jslider.round.png) }
.jslider_round .jslider-pointer { width: 17px; height: 17px; top: -6px; margin-left: -8px }
.jslider_round_plastic .jslider-bg i, .jslider_round_plastic .jslider-pointer { background-image: url(../img/jslider.round.plastic.png) }
.jslider_round_plastic .jslider-pointer { width: 18px; height: 18px; top: -7px; margin-left: -8px }

/*****/
.amap-layers img {max-width: none;}
#main-container { position: relative; padding-top: 10px; min-height: 0}
#wrapper {min-height: 0}
#breadcrumb-bar{display: none;}
.rider-chooce { width: 100%; height: 55px; margin: 5px 0; font-size: 14px; padding: 10px 0; border-bottom: 1px solid #ddd; }
.rider-chooce label { font-size: 16px; line-height: 30px; font-weight: normal; color: #000; margin-left: 10px; }
.rider-btn { padding: 5px 20px; text-align: center; margin-left: 20px; outline: none; }
.time-chooce {
    position: absolute;
    width: 70%;
    height: 50px;
    top: 30px;
    z-index: 5;
    padding: 15px 20px;
    left: 8%;
    background-color: white;
}
.table-rider-track { margin-top: 5px; margin-bottom: 10px; }
.table-rider-track tbody > tr > td { border: 1px solid #ccc; background: rgb(238, 236, 227); }
.rider-track-map { position: relative; margin-bottom: 50px; width: 100%; height: 600px;}
#rider-track-map { width: 100%; height: 100%; border: 1px solid #ccc; }
.divbackground { width: 100%; height: 100%; display: block; background: #000; opacity: 0.7; filter: alpha(opacity=70); position: absolute; top: 0; left: 0; z-index: 2000; }
.progressBar { width: 200px; height: 54px; display: block; position: fixed; top: 30%; left: 50%; margin-left: -100px; margin-top: -14px; padding: 10px 10px 10px 50px; text-align: left; line-height: 27px; font-weight: bold; z-index: 2001; border: solid 2px black; background: white url(/static/imgs/loading.gif) no-repeat 10px 10px; }
.marker, .marker_quhuo, .marker_songda, .marker_arrive, .marker_grab{
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.marker_quhuo {
	background: #5555EF;
}
.marker_songda {
	background: #FFA700;
}
.marker_arrive{
	background-color: #660099;
}
.marker_grab{
	background-color: #f8c833;
}
.order_path .marker_quhuo,
.order_path .marker_songda{
	width: 33px;
	height: 44px;
}
.order_path .marker_quhuo{
	background: url(/static/imgs/marker-shop.png);
}
.order_path .marker_songda{
	background: url(/static/imgs/marker-guest.png);
}

.marker_start, .marker_end {
	position: relative;
	width: 30px;
	height: 44px;
	border: none;
	background: url(/static/imgs/mapTag.png);
}
.marker_start {
	background-position: -334px -180px;
}
.marker_end {
	background-position: -334px -134px;
}
.marker_start > span, .marker_end > span, .marker_quhuo > span, .marker_songda > span, .marker_pause > span,
.marker_arrive > span, .marker_grab > span {
	position: absolute;
	height: 20px;
	line-height: 20px;
	top: -18px;
	left: -10px;
	background: green;
	opacity: .8;
	color: #fff;
	text-align: center;
}
.marker_arrive > span{
	background-color: #660099;
	width: 170px;
	left: -70px;
}
.marker_grab >span{
	background-color: #f8c833;	
	width: 170px;
	left: -70px;
}
.marker_end > span, .marker_songda > span {
	background: #F14040;
}
.marker_quhuo > span, .marker_songda > span, .marker_arrive > span, .marker_grab > span {
	opacity: 0;
	left: -10px;
	z-index: 9;
}
.marker_quhuo:hover > span, .marker_songda:hover > span, .marker_arrive:hover > span, .marker_grab:hover > span {
	opacity: .8;
}

.marker_grab > span:before {
	content: '';
	position: absolute;
	left: -24px;
	background: green;
}
.marker_quhuo > span:before {
	content: '取货';
	position: absolute;
	left: -24px;
	background: green;
}
.marker_songda > span:before {
	content: '送达';
	position: absolute;
	left: -24px;
	background: #F14040;
}
.cond_item { float: left; width: 160px; margin-right: 20px; margin-bottom: 10px; }
.cond_item_short { width: 150px; }
.cond_item input { height: 28px; }
.rider_select_item, .order_select_item { display: none; }
#searchBtn { padding: 3px 20px; }
.full_screen_btn, .pause_btn, .replay_btn { position: absolute; right: 10px; top: 10px; width: 50px; height: 24px; line-height: 24px; border: 1px solid #ddd; color: #333; border-radius: 4px; background: rgba(170, 238, 0, .5); text-align: center; cursor: pointer; }
.rider-track-map.full { position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 9999; }
.pause_btn { right: 50%; margin-right: 10px; }
.replay_btn { right: 50%; margin-right: -60px; }
.amap-scalecontrol *{
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.map_style{
	position: absolute;
	z-index: 200;
	right: 30px;
	bottom: 30px;
	background-color: #00ABE4;
	color: white;
	height: 40px;
	width: 160px;
	padding-top: 12px;
	line-height: 16px;
	padding-left: 15px;
}
.map_style span{
	padding-left: 20px;
	padding-right: 10px;
}

.condition_box{
	position: relative;
	z-index: 10;
}
.track-tip-title{
	float: right;
	color: #00ABE4;
	cursor: pointer;
	margin-right: 5px;
    padding-top: 10px;
}

.track-tip{
	width: 300px;
	position: absolute;
	right: 0;
	top:38px;
	background-color: white;
	padding: 10px 10px;
	z-index: 1000;
	border-radius: 10px;
	padding: 5px 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.qa-row{
    border-bottom: 1px solid #ddd;
    color: #6a6a6a;
}
.qa-row h5{
    font-size: 12px;
    color: #2a2a2a;
    font-weight: bold;
}

.qa-footer{
    padding-top: 10px;
    color:rgb(254,159,14);
}
.info{
	background-color: white;
	border-radius: 3px;
	padding: 5px 10px;
	box-shadow: 3px 0 3px rgba(0, 0, 0, 0.175);
}
.grid_cell{
	float: left;
	height: 40px;
	width: 40px;
	text-align: center;
	cursor: pointer;
	padding-top: 3px;
}

.separator{
	float: left;
	height: 40px;
	width: 1px;
	background-color: #ddd;
}

.map_tools{
	position: absolute;
	top: 30px;
	right: 20px;
	background-color: white;
	padding: 3px 0;
	z-index: 5;
}
.cell_full{
	width: 17px;
    height: 20px;
    margin-left: 11px;
    background: url('/static/imgs/map_tools.png') no-repeat;
    background-position: 0px -257px;
}
.cell_range{
	width: 17px;
    height: 20px;
    margin-left: 11px;
    background: url('/static/imgs/map_tools.png') no-repeat;
    background-position: 0 -0;
}
.cell_play,
.cell_pause{
	padding-top:2px;
	width: 17px;
    height: 20px;
    margin-left: 11px;
    text-align: center;
}
.active .cell_play
{
	color: #019aff;	
}
.pause #track_pause
{
	color: #019aff;
}

.full .cell_full{
	background-position: 0 -321px;
}
.active .cell_range{
	background-position: 0 -63px;
}
.grid_cell.active span{
	color: #019aff;
}
.grid_cell:hover{
	opacity: .7;
}